/* ================================
   Base (Base)
   ================================ */

// Based on Gridless http://thatcoolguy.github.io/gridless-boilerplate/

// HTML5 display definitions
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

*{
  margin: 0;
  padding: 0;
  &:after, &:before{
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
  color: $primary-text-color;
  -webkit-text-size-adjust: 100%; // Prevent iOS text size adjust on orientation change without disabling user zoom
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  min-height:100%;
  min-width: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $primary-text-color;
  font-family: $font-stack-sans;
}

h1,h2,h3,h4,h5,h6{
  a, a:visited{
    text-decoration: none;
    &:hover, &:focus, &:active{
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// Sanitation
img{
  max-width:100%;
  vertical-align: bottom;
  font-size: 12px;
  color: #666;
}

nav{
  list-style: none;
  li a{
    text-decoration: none;
  }
}

hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


// Preformatted text and code

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: $font-stack-mono;
  font-size: 1em;
}

code,
samp,
kbd {
  font-family: $font-stack-mono;
  font-size: 1em;
  padding: 0 6px;
  text-align: left;
}

pre {
  font-family: $font-stack-mono;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 1.2em 0;
  overflow: auto;
  padding: 1em 0 1em 1.5em;
  border: 1px solid #ddd;


  white-space: pre;
  word-wrap: normal;
}


pre > code {
  padding: 0;
}

* html pre {
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2em;
}



// Tables

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

table {
  margin: 1em 0;
  width: 100%;
}

th,
td {
  border: solid 1px #ccc;
  padding: 5px 11px;
  vertical-align: top;
}


dt {
  font-weight: bold;
}

// Forms

form {
  margin: 0;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1em;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}
input, textarea{
  box-sizing: border-box;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  // -moz-box-sizing: content-box;
  // -webkit-box-sizing: content-box;
  // box-sizing: content-box;
  // border: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="color"]{
  padding: 0;
  min-height: 50px;
  min-width: 50px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
table button, table input {
  *overflow: auto;
}

// Quotes
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

blockquote, q, cite {
  font-style: normal;
}

// blockquote {
//  padding-left: 1.625em;
//  border-left: 5px solid gray;
//  display: block;
//  margin-bottom: $base-margin * 2;
//  font-style: normal;
// }
//
// blockquote > p {
//   padding: 0;
// }
// blockquote footer{
//   text-align: right;
// }

// Lists

ul, ol {
  list-style-position: outside;
  margin-bottom: 1.635em;
  margin-left: 1.5em;
}

li ul, li ol {
  margin: 0 1.625em;
}

dl dd {
  margin-left: 1.625em;
}

nav ul li{
  list-style: none;
}


// Links
a{
  color: $link-text-color;
  text-decoration: underline;

  &:hover, &:visited:hover{
    color: $link-hover-color;
    text-decoration: underline;
  }
  &:visited {
    text-decoration: none;
    color: $visited-text-color;
  }
  // &:focus {
  //  outline: thin dotted;
  // }
}



// Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test
a:hover, a:active {
  outline: none;
}

// Figures

figure {
  margin: 0;
}

// Abbreviations

abbr[title], dfn[title] {
  border-bottom: 0;
  //cursor: help;
}

// Marked/inserted/deleted text

mark {
  background: #ff0;
}

ins {
  text-decoration: none;
  background: #ff9;
}

del {
  text-decoration: line-through;
}

// Others

hr {
  display: block;
  clear: both;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin-bottom: $base-margin;
}

strong, b, dt {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

var, address {
  font-style: normal;
}

// Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930
sub, sup {
  font-size: 0.85em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
