//THE GRID

//Strip Units
//https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


/*** Mixins ***/

//Clearfix
//Use: @include clearfix;
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//Row
//Use: @include row;
@mixin row($fake) {
  //$fake is for easy swap with other sass grid that uses row(12)
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:  -($gutter-small / 2);
  margin-right: -($gutter-small / 2);
  @media (min-width: $gutter-breakpoint){
    margin-left:  -($gutter-large / 2);
    margin-right: -($gutter-large / 2);
  }
  // @include clearfix();
}

//Columns
//Use: @include column(6); for set size or @include column(auto) for auto size / fill in the rest of the columns;
@mixin column($size, $columns: $grid-columns) {
  @if $enable-flex {
    @if $size == 'fixed'{
      //inherit padding from grid
    }
    @else if $size == 'auto'{
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }@else{
      flex: 0 0 auto;
      max-width: percentage($size / $columns);
      flex-basis: percentage($size / $columns);
      //This is WRONG
      flex-grow: 1;
    }
    padding-left: $gutter-small/2;
    padding-right: $gutter-small/2;
    @media (min-width: $gutter-breakpoint){
      padding-left: $gutter-large/2;
      padding-right: $gutter-large/2;
    }
  }
  //False / Non Flexbox
  @else {
    @if $size == 'fixed'{
      float: left;
    }
    @else if $size == 'auto'{
      float: left;
      min-width: 100px;
    }
    @else{
      float: left;
      width: percentage($size / $columns);
    }
    padding-left: $gutter-small/2;
    padding-right: $gutter-small/2;
    @media (min-width: $gutter-breakpoint){
      padding-left: $gutter-large/2;
      padding-right: $gutter-large/2;
    }
  }
}

//Push
//Use: @include column(6); @include push(2);
@mixin push($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

//Pull
//Use: @include column(6); @include pull(2);
@mixin pull($size, $columns: $grid-columns) {
  margin-right: percentage($size / $columns);
}


// Flex variation
//Use: @include flex-first;

// Flex column reordering
@mixin flex-first { order: -1; }
@mixin flex-last { order: 1; }
@mixin flex-unordered { order: 0; }
@mixin flex-reverse { flex-direction: row-reverse; }
@mixin flex-items-top { align-items: flex-start; }
@mixin flex-items-middle { align-items: center; }
@mixin flex-items-bottom { align-items: flex-end; }

// Alignment per item
@mixin flex-top   { align-self: flex-start; }
@mixin flex-middle { align-self: center; }
@mixin flex-bottom { align-self: flex-end; }

// Horizontal alignment of item
@mixin flex-items-start { justify-content: flex-start; }
@mixin flex-items-center { justify-content: center; }
@mixin flex-items-end { justify-content: flex-end; }
@mixin flex-items-around { justify-content: space-around; }
@mixin flex-items-between { justify-content: space-between; }
