/////////////////
// Gutterless grid base on:
// Semantic.gs // for SCSS: http://sass-lang.com/
/////////////////

// Defaults which you can freely override
$column-width-gutterless: 60px;
$columns-gutterless: 12;

// Utility function — you should never need to modify this
@function gridsystem-width-gutterless($columns-gutterless:$columns-gutterless) {
	@return ($column-width-gutterless * $columns-gutterless);
}


@mixin row-gutterless($columns-gutterless:$columns-gutterless) {
	display: block;
	width: $total-width*((gridsystem-width-gutterless($columns-gutterless))/gridsystem-width-gutterless($columns-gutterless));
	@include clearfix();
}
@mixin column-gutterless($x,$columns-gutterless:$columns-gutterless) {
	display: inline;
	float: left;
	width: $total-width*(((($column-width-gutterless)*$x)) / gridsystem-width-gutterless($columns-gutterless));
}
