/* ================================
   Normalize Corrections
   ================================ */
//Code
code, pre{
  background: #eee;
}
pre{
  padding: 0.5em;
}

//Tables
table{
  width: 100%;
}
table caption{
  padding: 0.5em;
}
table td, table th{
  text-align: center;
  padding: 0.5em;
  border: 1px solid #ccc;
}
