// Remove the unit of a length
// https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  } @return $number;
}

//Ratio Based Line-Height
@mixin calcType($fontSize, $contentWidth, $ratio){
	font-size: $fontSize;

	// Line Height from Golden Ratio Typography by Greg Rickaby
	// https://gist.githubusercontent.com/gregrickaby/5001983/raw/d79f74d0ffb69beada120f2c43caf22284205770/_golden-ratio.scss
	$xoo: 1 / (2 * $ratio);
	$foobar: sqrt($contentWidth) / $ratio;
	$foo: $fontSize * ($ratio - $xoo * (1 - ($contentWidth / pow($fontSize * $ratio, 2))));
	$fo: $foo / $foobar;

	line-height: round($foo);
}



body{
  font-size: $base-font-size;
  line-height: strip-unit($base-line-height/$base-font-size);
}

h1, .h1{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  @include calcType(28px, $bp-small, $golden);
	@media(min-width: $bp-medium){
		@include calcType(48px, $bp-medium, $golden);
	}
}

h2, .h2{
  margin-top: 0;
  margin-bottom: $base-margin/2;
  @include calcType(21px, $bp-small, $golden);
}

h3, .h3{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  @include calcType(19px, $bp-small, $golden);
}
h4, .h4{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  @include calcType(17px, $bp-small, $golden);

}
h5, .h5{
  margin-top:$base-margin;
  margin-bottom: $base-margin/2;
  @include calcType(16px, $bp-small, $golden);

}
h6, .h6{
  margin-top:$base-margin;
  margin-bottom: $base-margin/2;
  @include calcType(16px, $bp-small, $golden);

}
p{
  margin-top: 0;
  margin-bottom: $base-margin;
}
ul, ol, pre, table, blockquote{
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}
