<nav class="guide-side-menu triggered-area guide-area" id="guide-side-nav">
   <ul>

       <li>
           <a href="/guide/logo.html" alt="/" title="/">Logo</a>
       </li>
       <li>
           <a href="/guide/colors.html" alt="/" title="/">Colors</a>
       </li>
       <li>
           <a href="/guide/typography.html" alt="/" title="/">Typography</a>
       </li>
       <li>
           <a href="/guide/icons.html" alt="/" title="/">Icons</a>
       </li>
       <li>
           <a href="/guide/grid.html" alt="/" title="/">Grid</a>
       </li>
       <li>
           <a href="/guide/forms.html" alt="/" title="/">Forms</a>
       </li>
       <li>
           <a href="/guide/tables.html" alt="/" title="/">Tables</a>
       </li>
       <li>
           <a href="/guide/elements.html" alt="/" title="/">Elements</a>
       </li>
       <li>
           <a href="/guide/media.html" alt="/" title="/">Media</a>
       </li>
       <li>
           <a href="/guide/callouts.html" alt="/" title="/">Callouts</a>
       </li>
   </ul>
 </nav>
