/* ================================
   Accordion
   ================================ */


.accordion {
  padding: 10px 0;
  margin: 0 !important;
  position: relative;
  cursor: pointer;
  outline: 0;
  font-size: 19px !important;
}
.accordion:after {
	content: '+';
	padding: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	display: block;
}
.accordion.active {
  //background: gray;
}
.accordion.active:after {
   content: '-';
}
.accordion-container{
	// padding: $base-margin 0;
	// border: 1px solid $gray-light;
  margin-bottom: $base-margin;
	section{
		padding:  0;
	}
}
.panel {
 	overflow: hidden;
	border-bottom: 1px solid $gray-light;
}
.panel-inner{
	padding-bottom: $base-margin;
}
.js .panel {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.js .panel.active {
  max-height: 30em;
}

.panel p:last-child {
   margin: 0;
}





.js .accordion-open-default{
	/* Where it makes sense to display the full content */
	@media all and (min-width:$bp-medium) {
		.accordion {
			cursor: default;
		}
		.tab.active {
		 	background: none;
		}
		.accordion:after, .accordion.active:after {
		 	content: "";
		}

		.panel, .panel.active {
		 	max-height: none;
		}
	}
}
