/* ================================
   Base (Custom)
   ================================ */

//Structural
html{
  overflow-x: hidden;
  background: #00708a;
}
body{
  min-width: 250px;
  overflow-x: hidden;
  max-width: 1400px;

  //Flex Sticky Footer:
  // min-height: 100vh;
  // display: flex;
  // flex-wrap: wrap;
}
.container, .contained{
  max-width: 1600px;
  margin: 0 25px;
  display: block;
  @media(min-width: $bp-xlarge){
    margin: 0 50px;
  }
}
#maincontent{
  width: 100%;
}
.page-body{
  background: $background-color;
  @include clearfix;
  min-height: 50vh;
  @media (min-width: $bp-medium){
    min-height: 40vh;
  }
  &.home-page, &.router-page, &.general-page{
    background: #F6F6F6;
  }
  &.article-page{
    background: $background-color;
  }
}

div[role="main"]{
  @include row(12);
}
.main-body{
  @include column(12);
  margin-top: $base-margin;
  @media(min-width: $bp-medium){
    @include column(8);
    margin-top: $base-margin*2;
  }
  @media(min-width: $bp-xlarge){
    @include column(9);
  }
}
.side-column{
  @include column(12);
  margin-top: $base-margin;
  margin-bottom: $base-margin;
  @include calcType(14px, $bp-xsmall, $golden);
  @media(min-width: $bp-medium){
    @include column(4);
    margin-top: $base-margin*2;
    @include calcType(16px, $bp-small, $golden);
  }
  @media(min-width: $bp-xlarge){
    @include column(3);
  }
}
