////Blocks
.block{
  @include column(12);
  display: flex;
  flex-direction: row;
  margin-bottom: $base-margin;
  position: relative;
  @media (min-width: $bp-large){
    @include column(4);
    margin-bottom: 0;
  }

  .row{
    margin: 0;
    width: 100%;
    background: $white;
    display: block;
    box-shadow: $box-box-shadow;
    @media (min-width: $bp-medium){
      display: flex;
    }
    @media (min-width: $bp-large){
      display: block;
    }
  }

  &.no-image, &.no-img{
    .row{
      display: flex;
    }
    .block-title-container{
      @include column(12);
      // display: flex;
      align-items: center;
    }
    a.block-link{
      display: block;
    }
  }

}


//Block Image
.block-img{
  box-shadow: $inset-shadow;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include column(12);
  padding-bottom: 58.823529%;
  @media (min-width: $bp-medium){
    @include column(5);
    padding-bottom: 0;
  }
  @media (min-width: $bp-large){
    @include column(12);
    padding-bottom: 58.823529%;
  }
  &.grid-img{
    padding-bottom: 90.839623%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: $bp-small){
      padding-bottom: 50%;
    }
    @media (min-width: $bp-medium){
      padding-bottom: 0;
    }
    @media (min-width: $bp-large){
      padding-bottom: 90.839623%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      position: absolute;
      // width: auto;
      // height: 100%;
      // position: absolute;
      // top: 0;
      // left: 50%;
      overflow: hidden;
      // max-width: 300%;
      // transform: translateX(-50%);
      // @media (min-width: $bp-small){
      //   width: 100%;
      //   height: auto;
      //   top: 50%;
      //   transform: translateY(-50%) translateX(-50%);
      // }
      // @media (min-width: $bp-medium){
      //   width: auto;
      //   height: 100%;
      //   top: 0;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }

    }
  }
  img{
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%;
    position: absolute;
    // @media (min-width: $bp-medium){
    //   position: relative;
    // }
    // @media (min-width: $bp-large){
    //   position: absolute;
    // }
  }
}

//Block Title
.block-title-container{
  @include column(12);
  @media (min-width: $bp-medium){
    @include column(7);
  }
  @media (min-width: $bp-large){
    @include column(12);
  }
  display: flex;
  padding: 0 !important;
  background: $white;

  .block-title-inner{
    width: 100%;
    margin: 0 !important;
    justify-content: center;
  }
  a.block-link{
   width: 100%;
   display: flex;
  //  position: relative;
   padding: 24px 12px 48px;
   transition: all 150ms ease-in-out;
   @media (min-width: $bp-medium){
     position: relative;
     padding: 30px 23px 60px;
   }
   @media (min-width: $bp-large){
     position: static;
   }


   &:hover{
     .block-title{
       text-decoration: underline;
     }
   }
  }
  // .block-link:hover, .block-link:focus{
  //   box-shadow: $box-shadow;
  // }
  a, a:visited{
   text-decoration: none;
   &:hover, &:focus, &:active{
     text-decoration: none;
   }
  }
}
//Block Topic
.block-topic-area{
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 14px;
  .block-topic{
    font-family: $font-stack-sans;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $voice-orange;
  }
}


//Block Title
.block-title-area{
  width: 100%;
  display: block;
  overflow: hidden;
  // position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  @media (min-width: $bp-small){
    min-height: 120px;
  }
  &.no-min-height{
    min-height: 0;
  }
  .block-title{
    margin-top: 0;
    font-family: $font-stack-special !important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $primary-text-color;
    text-align: center;
    @media (min-width: $bp-small){
      font-size: 20px;
    }
  }
}

// .block-height-cap{
//   min-height: 258px;
//   .block-title-area{
//
//     .block-title{
//       // display: -webkit-box;
//       // -webkit-line-clamp: 4;
//       // -webkit-box-orient: vertical;
//       height: $base-margin*5.5;
//     }
//     &:after{
//       content: "";
//       width: 100%;
//       height: $base-margin;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
//     }
//   }
//
// }

//Block Blurb
.block-blurb{
  font-family: $font-stack-sans;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  text-align: center;
  @media (min-width: $bp-small){
    font-size: 15px;
  }
}

a, a:visited{
  .block-blurb{
    color: #333;
  }
  &:hover, &:focus, &:active{
    .block-blurb{
      color: #333;
    }
  }
}

//Block Date
.block-date-area{
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  text-align: center;
  .block-date{
    font-family: $font-stack-sans;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: #C6C6C6;
  }


  @include flex-bottom;
}



//Block Horizontal
.block-horizontal{
  @include column(12);
  display: flex;
  flex-direction: column;
  margin-bottom: $base-margin;

  .row{
    margin: 0;
    width: 100%;
    background: $white;
    box-shadow: $box-box-shadow;
  }
  .block-img{
    @media (min-width: $bp-large){
      @include column(5);
      padding-bottom: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    img{
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 100%;

      // height: auto;
      // width: 100%;
      // max-width: 300%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // @media (min-width: $bp-medium){
      //   height: 125%;
      //   width: auto;
      // }
      // @media (min-width: 1020px){
      //   width: 125%;
      //   height: auto;
      // }
      // @media (min-width: $bp-xlarge){
      //   height: 100%;
      //   width: auto;
      // }
    }
  }
  &.no-image, &.no-img{
    .row{
      display: flex;
    }
    .block-title-container{
      @include column(12);
      align-items: center;
      // @media (min-width: $bp-medium){
      //   @include column(8);
      //   @include push(2);
      // }
    }

    a.block-link{
      display: block;

    }
  }
  .block-title-container{
    @include column(12);
    position: relative;
    @media (min-width: $bp-medium){
      @include column(7);
    }
    .block-topic-area,
    .block-title-area h1,
    .block-date-area,
    .block-blurb{
      text-align: left !important;
    }
    .block-date-area{
      position: relative;
      bottom: 0;
    }
    a.block-link{
      padding: 24px 12px !important;
      @media(min-width: $bp-medium){
        padding: $base-margin !important;
      }
    }
  }
}
