/* ================================
   Body Parts
   ================================ */

//Social Share Column
#left-column{
  @include column(fixed);
  width: 100%;
  padding-bottom: $base-margin;
  order: 2;
  // display: none;
  @media (min-width: $bp-large){
    padding-top: $base-margin*1.5;
    @include column(fixed);
    width: 155px;
    order: 1;
  }
}
.social-share-mobile{
  display: block;
  margin-bottom: $base-margin*2;
  @media (min-width: $bp-large){
    display: none;
  }
}
main[role="main"]{
  @include column(12);
  order: 1;
  @media (min-width: $bp-large){
    @include column(9.5);
    display: block;
    order: 2;
  }
  @media (min-width: $bp-xlarge){
    @include column(7);
    display: block;
  }
  @media (min-width: $bp-huge){
    @include column(7.5);
    display: block;
  }
  a, a:visited{
    color: #0088cc;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: #0088cc;
      text-decoration: underline;
    }
    &.block-link{
      text-decoration: none;
    }
  }

}
#right-column{
  @include column(12);
  margin-bottom: $base-margin*2;
  display: block;
  order: 2;
  @media (min-width: $bp-medium){
    @include column(6);
    @include push(3);
    order: 3;
  }
  @media (min-width: $bp-large){
    @include column(5);
    @include push(3.5);
    margin-bottom: $base-margin;
    order: 3;
  }
  @media (min-width: $bp-xlarge){
    padding-top: $base-margin*1.5;
    display: block;
    position: relative;
    margin-left: 0;
    @include column(3);
    // @include column(fixed);
    // width: 300px + $gutter-large;
    // max-width: 300px + $gutter-large;
    padding-bottom: $base-margin;
    order: 3;
  }
  .ad-iframe{
    margin: 0 auto;
    width: 300px;
    height: 250px;
    position: relative;
    @media (min-width: $bp-xlarge){
      margin: 0;
    }
  }
}


.ad-iframe.inbody-mobile, #ONSvoiceROS-300_ad_container{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  margin-bottom: $base-margin;
}


#right-column #ONSvoiceROS-300_ad_container{

  @media(min-width: $bp-xlarge){
    /*display: none; -- commenting this out, appears to disable the right ad completely */
  }
}


//Article Header
#article-header{
  @include column(12);
  .article-header-inner{
    padding: 0 25px 25px 25px;
    width: 100%;
  }
}

.article-header-title{
  @include column(12);
  text-align: center;
  margin-bottom: $base-margin/2;
  @media ($bp-medium){
    @include column(10);
    @include push(1);
  }
  &.no-hero{
    padding: 0;
    text-align: left;
    @media (min-width: $bp-large){
      margin-left: 180px; //size of left column
    }
    @media (min-width: $bp-xlarge){
      margin-right: 300px;
    }
    .article-title{
      padding: 0 !important;
    }
  }
}

//Article Sponsor
.article-header-sponsor{
  margin: 0 auto;
  padding: 0 $base-margin;
  .sponsor-label{
    display: inline-block;
    font-size: 14px;
    line-height: 1.125;
    letter-spacing: 0.55px;
    font-weight: normal;
    text-align: center;
  }
  .sponsor-img{
    text-align: center;
  }
  .sponsor-byline{
    display: inline-block;
    font-family: $font-stack-special;
    font-size: 16px;
    line-height: 1.3125;
    letter-spacing: 0.63px;
    font-weight: bold;
    text-align: center;
    color: $special-teal-dark;
  }
}

//Article Hero
.article-header-img{
  text-align: center;
  margin-right: -25px;
  margin-left: -25px;
  .article-hero-img{
    position: relative;
    box-shadow: inset 0 2px 100px rgba(0, 0, 0, 0.16);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 42.589577%;

  }
  figure{
    position: relative;
    display: block;
    &.legacy-img{
      display: inline-block;
    }
  }
}

//All Image Captions
figcaption{
  position: relative;
  margin-top: 0 !important;
  text-align: left;
  color: $light-text-color;
  @media (min-width: $bp-small){
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 24px;
  }
  @media (min-width: $bp-medium){
    bottom: 23px;
  }
  &.right-align,
  &.align-right{
    @media (min-width: $bp-small){
      right: 0;
      left: auto;
      margin-right: 0;
      margin-left: 24px;
      text-align: right;
    }
  }
  .caption, .photo-credit{
    a, a:visited{
      color: $light-text-color;
      text-decoration: underline;
      &:hover, &:focus, &:active{
        color: $voice-orange;
      }
    }
  }
  .caption{
    display: block;
    background: rgba($special-teal-dark, 0.8);
    font-size: 14px;
    line-height: 1.1875;
    letter-spacing: 0.1px;
    padding: 8px 12px;
    vertical-align: bottom;
    @media (min-width: $bp-medium){
      font-size: 16px;
      padding: 18px;
    }
  }
  .photo-credit{
    display: block;
    vertical-align: top;
    background: rgba(7,7,7, 0.5);
    font-size: 12px;
    line-height: 1.15384615;
    letter-spacing: 0.08px;
    padding: 8px 12px;
    @media (min-width: $bp-small){
      display: inline-block;
      background: rgba(7,7,7, 0.3);
    }
    @media (min-width: $bp-medium){
      font-size: 13px;
      padding: 12px;
    }
  }
}


//Article Title
.article-title{
  @include clearfix;
  font-size: 28px !important;
  line-height: 1.28571429 !important;
  @media(min-width: $bp-small){
    font-size: 36px !important;
    line-height: 1.125 !important;
  }
  @media(min-width: $bp-large){
    font-size: 48px !important;
  }
  font-family: $font-stack-special !important;
  font-weight: 300;
  letter-spacing: 1.7px;
  color: $voice-orange;
  margin-top: 0;
  margin-bottom: $base-margin/4;
}
.article-sub-title{
  font-family: $font-stack-sans;
  font-size: 18px;
  line-height: 1.33333333;
  display: inline-block;
  letter-spacing: 0.75px;
  font-weight: 500;
  color: #465F69;
  margin-bottom: $base-margin/2;
  @media(min-width: $bp-small){
    font-size: 24px;
    line-height: 1.5;
  }
}
.article-credit{
  font-family: $font-stack-sans;
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: 500;
  letter-spacing: 0.44px;
  color: #00708A;
  margin-bottom: $base-margin/2;
  a, a:visited{
    color: #35ACEA;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: #35ACEA;
      text-decoration: underline;
    }
  }
}


//Article Body
#article-body{
  @include column(12);
  font-family: $font-stack-serif;
  .intro-paragraph{
    font-family: $font-stack-sans;
    font-size: 21px;
    line-height: 1.52380952;
    font-weight: 300;
    letter-spacing: 0.31px;
    @media (min-width: $bp-medium){
      font-size: 27px;
      line-height: 1.44444444;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6{
    font-family: $font-stack-sans;
    margin-top: 0;
    margin-bottom: $base-margin/2;
    font-size: 21px;
    line-height: 1.33333333;
    font-weight: 500;
  }

  .article-body-content,
  .article-tags,
  .article-comments{
    @include clearfix;
  }
  .article-body-content{
    margin-bottom: 110px - $base-margin;

  }


  .ad-iframe.inbody-mobile{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 250px;
    margin-bottom: $base-margin;
    @media(min-width: $bp-xlarge){
      display: none;
    }
  }
}

//Ariticle Body Tags
.article-body-tags{
  margin-bottom: $base-margin*2;
  font-family: $font-stack-sans;
  font-size: 13px;
  line-height: 1.15384615;
  font-weight: bold;
  text-transform: uppercase;
  color: #465F69;
  letter-spacing: 0.15px;
  a, a:visited{
    color: #3EBBEF;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: #3EBBEF;
      text-decoration: underline;
    }
  }
  label{
    display: inline-block;
  }
  ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    margin-bottom: 5px;
    &:after{
      content: " | ";
      color: #C6C6C6;
      padding: 0 1px;
    }
    &:last-child:after{
      content: "";
    }
  }
}

//Ariticle Comments
.article-comments{
  margin-bottom: $base-margin*2;
}


//Article Footer
#article-footer{
  @include clearfix();
  position: relative;
  z-index: 1; //prevents sticky iframe from failing over the footer
  background: #F6F6F6;
  padding: 34px;
  @media (min-width: $bp-medium){
    padding: 70px;
  }
  .article-footer-title{
    font-family: $font-stack-special;
    font-size: 36px;
    line-height: 1.125;
    font-weight: 300;
    letter-spacing: 0.31px;
    color: $special-teal-dark;
    text-align: center;
    margin-bottom: $base-margin;
    @media (min-width: $bp-medium){
      font-size: 48px;
      text-align: left;
      margin-bottom: $base-margin*2;
    }
  }
}


//Article Asides

.inbody-side{
  margin-top: $base-margin/4; //try to line up with top of text beside it
  margin-bottom: $base-margin;
  float: right;
  padding-right: 0;
  @include column(11);
  @include push(0.5);
  @include pull(0.5);
  @media (min-width: $bp-medium){
    @include column(5);
    @include push(0.5);
    @include pull(0);
    margin-bottom: $base-margin/2;
  }
  @media (min-width: $bp-xlarge){
    @include column(6);
    @include push(0);
    @include pull(0);
  }
  @media (min-width: $bp-huge){
    @include column(5);
    @include push(0);
    @include pull(0);
  }
  header{
    background: #FF6B4E;
    padding: 20px 27px;
    text-transform: uppercase;
    h1, h2, h3, h4, h5, h6{
      color: $light-text-color;
      font-family: $font-stack-special !important;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.23px;
      margin: 0 !important;
    }
  }
  .side-inner{
    background: rgba(#FF6B4E,0.1);
    border-bottom: 5px solid #FF6B4E;
  }
  .side-body{
    font-family: 'Open Sans','Roboto', Arial, Helvetica, san-serif;;
    font-size: 14px;
    line-height: 1.1875;
    letter-spacing: 0.18px;
    padding: 20px 27px 0px 27px;
    ul{
      margin-top: 0;
    }
    li{
      margin-bottom: $base-margin/2;
    }
  }
  &.side-right, &.side-left{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }
  &.side-left{
    float: left;
    margin-left: 0;
    padding-left: 0;
    @include push(0.5);
    @include pull(0.5);
    @media (min-width: $bp-medium){
      @include push(0);
      @include pull(0.5);
    }
    @media (min-width: $bp-xlarge){
      @include push(0);
      @include pull(0);
    }
  }

  &.full-width{
    width: 100%;
    max-width: 650px;
    display: block;
    float: none;
    margin: 0 auto $base-margin;
  }
  a, li{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }
}
//Page Color Changes are in the Typography(Custom) section
//Default above set to orange



//Tags Sections
.news-topics{
  background: $voice-orange;
  width: 100%;
  .topics-inner{
    padding: 25px;
    .row{
      box-shadow: none;
    }
  }
  .topics-header{
    @include column(12);
    font-family: $font-stack-special;
    margin-bottom: $gutter-small;
  }

  .sub-title{
    display: inline-block;
    color: $light-text-color;
    font-size: 28px;
    line-height: 1.125;
    font-weight: 300;

  }
  ul{
    margin: 0;
  }
  li{
    display: inline-block;
    margin-right: $gutter-small/2;
    margin-bottom: $gutter-small;
  }
  .tag-buttons{
    @include column(12);
    margin-bottom: $base-margin/2;
  }
  .view-all-topics{
    @include column(12);
    a, a:visited{
      display: block;
      font-family: $font-stack-sans;
      font-size: 15px;
      line-height: 1.125;
      font-weight: 400;
      text-transform: uppercase;
      color: $light-text-color;
      text-decoration: none;
      cursor: pointer;
      &:hover, &:active, &:focus{
        color: $light-text-color;
        text-decoration: none;
      }
    }
  }
}


//List Block
.list-block{
  background: $white;
  width: 100%;
  padding: 33px 23px;
  color: $primary-text-color;
  box-shadow: $box-box-shadow;
  &.teal{
    color: $light-text-color;
    background: $special-teal-dark;
    .list-title{
      color: $light-text-color;
    }
    li{
      border-bottom: 1px rgba(255,255,255,0.25) solid;
    }
    a, a:visited{
      color: $light-text-color;
      &:hover, &:focus, &:active{
        color: $light-text-color;
      }
    }
  }
  .list-title{
    display: block;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.16px;
    color: $voice-orange;
    font-family: $font-stack-special;
    font-weight: 300;
    text-align: center;
    margin-bottom: 12px;
  }
  .list-subject{
    display: block;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.62px;
    font-family: $font-stack-sans;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  li{
    padding: 27px 0;
    border-bottom: 1px rgba(255,107,78,0.25) solid;
    font-size: 17px;
    line-height: 1.6;
    font-family: $font-stack-serif;
    &:last-child{
      border-bottom: 0px;
    }
  }
  a, a:visited{
    display: block;
    color: $primary-text-color;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
  .more-link{
    font-size: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 300;
  }
}


//Pagination
.pagination{
  margin-bottom: $base-margin*2;
  font-family: $font-stack-sans;
  font-size: 16px;
  line-height: 1.15384615;
  font-weight: bold;
  text-transform: uppercase;
  color: #465F69;
  letter-spacing: 0.15px;
  text-align: center;
  a, a:visited{
    color: #3EBBEF;
    text-decoration: none;
    padding: 5px 8px;
    &:hover, &:focus, &:active{
      color: #3EBBEF;
      text-decoration: underline;
    }
    &.current-page{
      color: $primary-text-color !important;
    }
  }
  label{
    display: inline-block;
  }
  ul{
    display: inline-block;
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
    &:after{
      content: " | ";
      color: #C6C6C6;

    }
    &:last-child:after{
      content: "";
    }
  }
}
//Inbody Carousel
.carousel-wrapper{
  position: relative;
  overflow: hidden;
  margin-bottom: $base-margin;
  .slide{
    position: relative;
  }
  .standard-carousel-buttons{
    a{
      display: block;
      border-radius: 4px;
      background: $voice-orange;
      cursor: pointer;
      .arrow-img{
        width: 14px;
        @media (min-width: $bp-small){
          width: 25px;
        }
      }
    }
    .slick-disabled{
      display: none !important;
    }
    .carousel-button--previous{
      position: absolute;
      top: 50%;
      left: -24px;
      transform: translateY(-50%);
      transition: left 150ms ease-in-out;
      padding: 12px 12px 12px 34px;
      @media (min-width: $bp-small){
        padding: 20px 12px 20px 36px;
      }
      &:hover, &:focus{
        left: -12px;
      }
      .arrow-img img{
        transform: rotate(180deg);
      }
    }
    .carousel-button--next{
      position: absolute;
      top: 50%;
      right: -24px;
      transform: translateY(-50%);
      transition: right 150ms ease-in-out;
      padding: 12px 34px 12px 12px;
      @media (min-width: $bp-small){
        padding: 20px 36px 20px 12px;
      }
      &:hover, &:focus{
        right: -12px;
      }
    }
  }
}


//Legacy Article
.legacy-article{
  .article-title{
    padding: 0;
    @media(min-width: $bp-medium){
      padding: 0 $base-margin*2;
    }
    @media(min-width: $bp-large){
      padding: 0 $base-margin*3;
    }
  }

  .article-body-content{
    aside{
      font-family: $font-stack-sans;
      font-size: 16px;
      float: right;
      padding: $base-margin;
      background: rgba(#FF6B4E,0.1);
      border-bottom: 5px solid #FF6B4E;
      margin-top: $base-margin/4; //try to line up with top of text beside it
      margin-bottom: $base-margin;
      @include column(11);
      @include push(0.5);
      @include pull(0.5);
      padding: $base-margin;
      @media (min-width: $bp-medium){
        @include column(5);
        @include push(0.5);
        @include pull(0);
        padding: $base-margin;
      }
      @media (min-width: $bp-xlarge){
        @include column(6);
        @include push(0.5);
        @include pull(0);
        padding: $base-margin;
      }
      @media (min-width: $bp-huge){
        @include column(5);
        @include push(0.5);
        @include pull(0);
        padding: $base-margin;
      }

      h1, h2, h3, h4, h5, h6, strong{
        font-family: $font-stack-special !important;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0.23px;
        margin: 0 !important;
      }

    }
  }
}

//Footnote
.article-footnote{
  font-family: $font-stack-sans;
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: normal;
  letter-spacing: 0.44px;
  color: #00708A;
}
