/* ================================
   Breadcrumbs
   ================================ */
.breadcrumbs{
	@include clearfix;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	@media (min-width: $bp-menu-shift){
		text-align: left;
	}
	ul, ol{
		margin: 0;
		padding: 0;
		padding: 0px 12px;
		@media (min-width: $bp-menu-shift){
			padding: 0px 25px;
			padding: 0px 50px;
		}
	}
	li{
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		color: #00708a;
		text-transform: uppercase;
		@media (min-width: $bp-small){
			font-family: $font-stack-special;
			font-weight: 500;
			font-size: 13px;
		}
		a, a:visited{
			color: #00708a;
			text-decoration: none;
			transition: color 250ms ease-in-out;
			&:hover, &:focus, &:active{
				color: #666666;
				text-decoration: none;
			}
		}
	}
	li:after{
		content: "|";
		font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
		display: inline-block;
		font-size: inherit;
		text-rendering: auto;
		padding-left: 5px;
	}
	li:last-child:after{
		content: "";
	}
}
