//Comments
.article-comments{
  border-top: 6px solid #F6F6F6;
  padding: $base-margin;
  font-family: $font-stack-sans;
  font-size: 15px;
  color: #2B2B2B;
  .js-comment{
    margin-bottom: $base-margin;
    border-bottom: 2px solid #F6F6F6;
    padding-bottom: $base-margin;
  }
  h2{
    text-transform: capitalize;
    font-family: $font-stack-special !important;
    font-weight: normal;
    margin-bottom: $base-margin !important;
  }
  footer{
    font-size: 14px;
    margin-bottom: 12px;
    p{
      margin-bottom: 0;
      color: $special-teal-dark;
      font-family: $font-stack-serif;
    }
  }
  mark{
    background: rgba(0,0,0,0);
    color: $voice-orange;
    font-size: 14px;
    text-transform: uppercase;
  }
  div > h3 {
    margin-bottom: 5px !important;
    a, a:visited{
      font-family: $font-stack-sans;
      font-size: 19px;
      color: $special-teal-dark;
      text-decoration: none;
      &:hover, &:focus, &:active{
        color: $special-teal-dark;
      }
    }
  }

  ul.links.inline{
    list-style: none;
    margin-left: 0;
    li{
      display: inline-block;
      margin-right: 12px;
      font-size: 14px;
    }
  }

  .form-item{
    label{
      font-family: $font-stack-serif;
    }
  }

  input.text-full, textarea{
    margin-bottom: 12px;
  }


  input[type="submit"]{
    margin-top: $base-margin/2;
    margin-bottom: $base-margin;
    padding: 8px 12px;
    font-size: 16px;
    font-family: $font-stack-sans;
    background-color: $voice-orange;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    -webkit-appearance: none;
    display: inline-block;
    font-weight: normal;
    border: 0;
    border-radius: $fh-border-radius;
    color: $btn-text-color;
    text-decoration: none;
    &:visited{
      color: $btn-text-color;
      &:hover, &:focus, &:active{
        color: $btn-text-color;
        background-color: $voice-orange;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        outline: 0;
        transform: scale(1.05);
      }
    }
    &:hover, &:focus, &:active{
      color: $btn-text-color;
      background-color: darken($voice-orange, 5%) !important;
    }
  }
  #edit-comment-body-0-value{
    margin-bottom: $base-margin
  }
  h4{
    font-size: 16px;
    margin-bottom: 12px;
  }
  #edit-comment-body-0-format-help-about{
    margin-bottom: $base-margin;
    display: none;
  }
  ul, ol{
    margin-top: 0;
    margin-bottom: $base-margin/2;
  }
  .description.mollom-privacy{
    margin-bottom: $base-margin/2;
  }
  .indented{
    margin-left: $base-margin;
  }
}
