//Drupal Admin

//Edit Buttons
.tabs.primary,
.node-preview-form-select{
  list-style: none;
  position: fixed;
  bottom: 0%;
  right: 0;
  z-index: 10000;
  background: rgba(#F5F5F5, 0.85);
  margin: 0;
  padding: 20px 15px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 13px rgba(0,0,0,0.25);
  @media (min-width: $bp-medium){
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  li{
    display: block;
    font-family: $font-stack-sans;
    font-size: 14px;
    margin-bottom: 5px;
    a, a:visited{
      color: white;
      display: block;
      text-decoration: none;
      padding: 5px 12px;
      border-radius: 5px;
      background: #5C6BC0;
      transition: all 150ms ease-in-out;
      &:hover, &:focus, &:active{
        background: #303F9F;
      }
      &.is-active{
        background: #283593;
        &:hover, &:focus, &:active{
          background: #1A237E;
        }
      }
    }
  }
}
.node-preview-form-select{
  font-size: 1rem;
  #edit-backlink{
    display: block;
    margin-bottom: 12px;
  }
  select{
    font-size: 1rem !important;
    height: 36px !important;
  }
}


//Log-in Page
.user-login-form{
  margin: $base-margin 0;
  .js-form-item.form-item.form-item-name.js-form-item-name,
  .js-form-item.form-item.js-form-type-password.form-item-pass.js-form-item-pass{
    margin-bottom: 12px;
    label{
      font-family: $font-stack-sans;
      margin-top: 0;
      margin-bottom: $base-margin/2;
      font-size: 21px;
      line-height: 1.33333333;
      color: $special-teal-dark;
    }
    #edit-name--description,
    #edit-pass--description{
      font-family: $font-stack-sans;
      font-size: 14px;
      color: #666;
    }
  }
  input[type="submit"]{
    margin-bottom: $base-margin 0;
    height: 46px;
    width: 125px;
    font-family: $font-stack-sans;
    background-color: $voice-orange;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    -webkit-appearance: none;
    display: inline-block;
    font-weight: normal;
    border: 0;
    border-radius: $fh-border-radius;
    color: $btn-text-color;
    text-decoration: none;
    &:visited{
      color: $btn-text-color;
      &:hover, &:focus, &:active{
        color: $btn-text-color;
        background-color: $voice-orange;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        outline: 0;
        transform: scale(1.05);
      }
    }
    &:hover, &:focus, &:active{
      color: $btn-text-color;
      background-color: darken($voice-orange, 5%) !important;
    }
  }
}
