/* ================================
   Footer
   ================================ */
footer#footer{
	@include row(12);
	@include flex-bottom;
	position: relative;
	@media (min-width: 730px){
        margin-bottom: 120px; //size of advertisement
        &.ad-hidden{
			margin-bottom: 0;
		}
	}
}


//Footer-Main
.footer-main{
	@include column(12);

	background: $voice-blue-dark;
	padding-top: $base-margin;
	padding-bottom: $base-margin;
	color: $light-text-color;
	a, a:visited{
		color: $light-text-color;
	}
	.footer-logo{
		max-width: 234px;
		margin: 0 auto $base-margin/2;
		@media(min-width: $bp-medium){
			margin: 0 0 $base-margin/2;
		}
	}
	.footer-tagline{
		font-family: $font-stack-special;
		font-size: 17px;
		line-height: 1.25;
		letter-spacing: 0.23px;
		font-weight: 300;
		@media (min-width: $bp-medium){
			font-size: 20px;
		}
	}
}
.footer-main-inner{
	@include row(12);
	position: relative;
}
.footer-main-left{
	@include column(12);
	text-align: center;
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-small){
		@include column(6);
		@include push(3);
	}
	@media(min-width: $bp-medium){
		@include column(4);
		@include push(0);
		margin-bottom: 0;
		text-align: left;
	}
}
.footer-main-middle{
	@include column(12);
	text-align: center;
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-small){
		@include column(6);
		@include push(3);
	}
	@media(min-width: $bp-medium){
		@include column(4);
		@include push(1);
		margin-bottom: 0;

	}
	.nav-left, .nav-right{
		@include column(12);
		text-align: center;
		line-height: 1.5;
		@media(min-width: $bp-medium){
			@include column(6);
			text-align: left;
		}
		li{
			margin-bottom: 5px;
			@media(min-width: $bp-medium){
				margin-bottom: 0px;
			}
		}
		a, a:visited{
			font-family: $font-stack-special;
			font-size: 14px;
			line-height: 1.125;
			font-weight: bold;
			color: $voice-blue-sky;
		}
	}
}
.footer-main-right{
	@include column(12);
	text-align: center;
	@media(min-width: $bp-small){
		@include column(6);
		@include push(3);
	}
	@media(min-width: $bp-medium){
		@include column(3);
		@include push(0);
		text-align: right;
	}
	.btn{
		font-family: $font-stack-special;
		font-size: 14px;
	}
}




///Social-Footer
.social-footer{
	@include column(12);
	background: $voice-blue-light;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $light-text-color;
	a, a:visited{
		color: $light-text-color;
	}

	.nav-social{
		display: block !important;
		li{
			display: inline-block;
			margin-right: 5px;
			.icon{
				font-size: 20px;
				line-height: 33px;
			}
			a{
				display: block;
				height: 33px;
				width: 33px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: rgba(255,255,255,0.4);
				transition: all 150ms linear;
			}
			a, a:visited{
				color: $special-teal-dark;
				text-decoration: none;
				&:hover, &:focus{
					text-decoration: none;
					background: rgba(255,255,255,0.6);
					transform: scale(0.95);
				}
				&:active{
					transform: scale(0.90);
				}
			}
		}
	}
	.nav-ons{
		font-family: $font-stack-special;
		font-size: 16px;
		@media (min-width: $bp-small){
			font-size: 20px;
		}
		li{
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 5px;
			@media(min-width: $bp-medium){
				margin-left: 0;
				margin-left: 10px;
				margin-bottom: 0;
			}
		}
		.block-logo{
			display: inline-block;
			position: relative;
			background: #F87E06;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			margin-bottom: -3px;
			@media (min-width: $bp-small){
				height: 20px;
				width: 20px;
			}
			&.orange{
				background: #F87E06;
			}
			&.blue{
				background: #3997D7;
			}
			&.red{
				background: #DB3A5A;
			}
			&:after{
				content: "";
				height: 100%;
				width: 4px;
				background: rgba(0,0,0,0.25);
				position: absolute;
				top: 0;
				right: 0;
				transition: width 150ms ease-in-out;
			}
		}
		a, a:visited{
			color: $light-text-color;
			&:hover, &:focus, &:active{
				color: $light-text-color;
				.block-logo:after{
					width: 100%;
				}
			}
		}
	}
}
.social-footer-inner{
	@include row(12);
}
.social-footer-left{
	@include column(12);
	text-align: center;
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-medium){
		@include column(6);
		margin-bottom: 0;
		text-align: left;
	}
}
.social-footer-right{
	text-align: center;
	@include column(12);
	@media(min-width: $bp-medium){
		@include column(6);
		margin-bottom: 0;
		text-align: right;
    }
    .nav-ons li:nth-of-type(2) .block-logo {
        background: $blue;
    }
}

//Post-Footer
.post-footer{
	@include column(12);
	background: $voice-white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: #1b4f64;
	color: $white;
	@media(min-width: $bp-medium){
		background: $voice-white;
		text-align: left;
		color: #465F69;
	}
	a, a:visited{
		color: $white;
		@media(min-width: $bp-medium){
			color: #465F69;
		}
	}
}
.post-footer-inner{
	@include row(12);
}
.post-footer-text{
	@include column(12);
	font-size: 12px;
	line-height: 1.25;
}




//Back to Top
.back-to-top{
	background: $voice-orange;
	display: block;
	@media (min-width: $bp-medium){
		display: none;
	}
	.row{
		margin-bottom: 0;
	}
}
.top-trigger{
	font-family: $font-stack-sans;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	padding-top: $base-margin/4 ;
	padding-bottom: $base-margin/4;
	cursor: pointer;
	a{
		display: block;
		text-decoration: none;
		color: $white;
	}
}


//Ad Bottom
.ad-timed-bottom{
	display: none;
	@media (min-width: 730px){
		display: block;
		background: rgba($voice-blue-dark, 0.9);
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 20;
		width: 100%;
		transition: bottom 350ms ease-in;
	}

	&.visible{
		bottom: 0;
		transition: bottom 350ms ease-out;
    }
    &.hidden{
		bottom: -120px;
	}
    &.close-button-revealed{
		.ad-close-button {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			color: white;
			background-color: transparent;
			font-size: 24px;
		}
	}
	.ad-inner{
		padding: $base-margin/2 0;
		margin: 0 auto;
    }
    .ad-close-button{
		display: none;
	}
	iframe{
		vertical-align: bottom;
	}

}
