//General page-body


#general-header{
  @include column(12);
  padding-top: 38px;
  .general-header-inner{
    padding: 0 25px 25px 25px;
    width: 100%;
  }
}

#general-body{
  @include column(12);
  font-family: $font-stack-serif;
  .general-body-content{
    // margin-bottom: 110px - $base-margin;
    margin-bottom: $base-margin*2;
  }
  .general-header-inner{
    @include column(12);
    text-align: left;
    margin-bottom: $base-margin/2;
    @media ($bp-medium){
      @include column(10);
      @include push(1);
    }
  }
  .block-horizontal{
    .block-title-area{
      min-height: 0;
      margin-bottom: 0;
    }
    .block-blurb{
      margin-bottom: 24px;
      color: #333;
    }

  }
}
.general-title{
  @include clearfix;
  font-size: 28px !important;
  letter-spacing: 0.31px;
  line-height: 1.28571429 !important;
  @media(min-width: $bp-small){
    font-size: 48px !important;
    line-height: 1.125 !important;
  }
  font-family: $font-stack-special !important;
  font-weight: 300;
  letter-spacing: 1.7px;
  color: $voice-orange;
  margin-top: 25px;
  margin-bottom: $base-margin/4;
}


.general-page{
  .general-header-label,
  .general-header-title{
    @include column(12);
    margin-left: 0;
    margin-right: 0;
    .general-title{
      color: $special-teal-dark;
      margin-top: 0;
    }
    .general-label{
      font-family: $font-stack-sans;
      font-size: 22px;
      line-height: 1.33333333;
      display: inline-block;
      letter-spacing: 0.75px;
      font-weight: 300;
      color: $voice-orange;
      margin-bottom: 0;
      @media(min-width: $bp-small){
        font-size: 32px;
        line-height: 1.5;
      }
    }
  }
  main[role="main"]{
    @include column(12);
    @media (min-width: $bp-xlarge){
      @include column(auto);
      // width: 100%;
      display: block;
    }
  }
  #right-column{
    @include column(10);
    @include push(1);
    margin-bottom: $base-margin*2;
    display: block;
    @media (min-width: $bp-medium){
      @include column(6);
      @include push(3);
    }
    @media (min-width: $bp-large){
      @include column(5);
      @include push(3.5);
      margin-bottom: $base-margin;
    }
    @media (min-width: $bp-xlarge){
      @include column(fixed);
      @include push(0);
      width: 300px + $gutter-large + $base-margin;
      max-width: 300px + $gutter-large + $base-margin;
      padding-top: 0;
      display: block;
      position: relative;
      padding-bottom: $base-margin;
    }
    .side-block{
      margin-bottom: $base-margin;
    }
    //Author
    .author-block-text{
      background: $special-teal-dark;
      color: $light-text-color;
      text-align: center;
      .author-text-inner{
        padding: $base-margin;
      }
      .author-name,
      .author-title,
      .author-blurb{
        display: block;
      }
      .author-name{
        font-family: $font-stack-special;
        font-size: 24px;
        font-weight: 300;
      }
      .author-title{
        font-family: $font-stack-sans;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .author-blurb{
        font-size: 15px;
        padding: $base-margin/2 0 0;
      }
    }
    //Ad
    .ad-iframe{
      // display: none;
      padding: 0;
      margin: 0 auto $base-margin;
      @media (min-width: $bp-xlarge){
        display: block;
        padding: 0 $base-margin/2;
        width: 330px;
        margin: 0 0 $base-margin 0;
      }
    }


  }


  .stories-block{
    @include column(12);
    margin-bottom: $base-margin;
    .block-title-container{
      @include column(11);
      @include push(0.5);
      margin-top: -60px;
      z-index: 1;
      position: relative;
      @media (min-width: $bp-large){
        @include column(10);
        @include push(1);
        margin-top: -120px;
      }
    }
    .block-img{
      @include column(12);
      &.grid-img{
        padding-bottom: 90.839623%;
        img{
          position: absolute !important;
        }
      }
    }
  }
}



// Navigation

.general-header-nav{
    @include column(12);
    margin-left: -20px; //
    li{
      display: none;
      font-size: 18px;
      @media (min-width: 860px){
        display: inline-block;
        position: relative;
        font-size: 14px;
        line-height: 1.125;
        letter-spacing: 0.12px;
        text-transform: uppercase;
        margin-bottom: 12px;
        margin-bottom: 0;
      }
      @media (min-width: 940px){
        font-size: 16px;
      }
      @media (min-width: $bp-xlarge){
        font-size: 18px;
      }
    }
    a, a:visited{
      display: block;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.1px;
      border-bottom: 0;
      color: rgba($primary-text-color, 0.6);
      padding: 5px 20px;
      margin: 0;
      @media (min-width: $bp-medium){
        font-size: 14px;
        padding: 5px 20px;
      }
      @media (min-width: $bp-xlarge){
        font-size: 16px;
        padding: 5px 20px;
      }
      &:after{
        content: '';
        margin: 0 auto;
        border-bottom: 3px solid $voice-orange;
        position: absolute;
        opacity: 0;
        bottom: 0;
        left: 50%;
        right: 50%;
        transition: left 150ms ease-in-out, right 150ms ease-in-out;
      }
      &:hover, &:focus, &:active{
        color: rgba($primary-text-color, 1);
        text-decoration: none;
        &:after{
          opacity: 1;
          left: 10%;
          right: 10%;
        }
      }
    }
    .current-page a{
      background: rgba(255,255,255,0.25);
      border-bottom: 0;
      //color: $light-text-color !important;
      &:after{
        content: '';
        margin: 0 auto;
        border-bottom: 3px solid $voice-orange;
        position: absolute;
        opacity: 1;
        bottom: 0;
        left: 10%;
        right: 10%;
        transition: left 150ms ease-in-out, right 150ms ease-in-out;
      }
      &:hover, &:focus, &:active{
        &:after{
          transition: left 100ms ease-in-out, right 100ms ease-in-out;
          left: 5%;
          right: 5%;
        }
      }
    }
  }
