//Pinterest Style Cascade Grid
.grid-cascade{
  @include clearfix;
  display:block;
  position:relative;
  .grid-column{
    display:block;
    position:relative;
    width:33.333333%;
    float:left;
    padding: 0;
    box-sizing:border-box;

    &:first-child{
      padding-right:6px;
      @media (min-width: $bp-xlarge){
        padding-right: 22.5px;
      }
    }
    & ~.grid-column{
      padding-left:6px;
      padding-right:6px;
      @media (min-width: $bp-xlarge){
        padding-left: 22.5px;
        padding-right: 22.5px;
      }
    }
    &:last-of-type{
      padding-right:0;
    }

    @media (max-width:1120px){
      width:50%;
    }

    @media (max-width:$bp-medium){
      width:auto;
      float:none;
      padding:0;
    }

  }

  article{
    @include column(12);
    margin-bottom: $base-margin;
    position: relative;
    //Firefox fix, padding-bottom on images not working when they are on top unless display is block
    .row{
      display: block;
      box-shadow: $box-box-shadow;
      @media (min-width: $bp-small){
        display: flex;
      }
      @media (min-width: $bp-medium){
        display: block;
      }
    }
  }
  // article:hover, article:focus{
  //   box-shadow: $box-shadow;
  // }
  .block-img{
    @include column(12);
    padding-bottom: 90.839623%;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    @media (min-width: $bp-small){
      @include column(5);
      padding-bottom: 50%;

    }
    @media (min-width: $bp-medium){
      @include column(12);
      padding-bottom: 0;
    }
    @media (min-width: $bp-large){
      padding-bottom: 90.839623%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      @media (min-width: $bp-medium){
        position: relative;
      }
      @media (min-width: $bp-large){
        position: absolute;
      }
    }
  }
  .block-title-container{
    @include column(12);
    @media (min-width: $bp-small){
      @include column(7);
      position: relative;
    }
    @media (min-width: $bp-medium){
      @include column(12);
      position: static;
    }
    &.no-img, &.no-image{
      @include column(12);

    }
    .block-title-inner{
      height: 100%;
    }
  }
}



//More Button
.grid-cascade-more{
  text-align: center;
  button{
    position: relative;
    background: $white;
    border-radius: 0;
    color: $special-teal-dark;
    font-size: 18px;
    line-height: 1.16666667;
    text-transform: uppercase;
    padding: 15px 40px 30px;
    margin: 0;
    box-shadow: $box-box-shadow;
    &:hover, &:focus{
      color: $special-teal-dark;
      background: $white;
      transform: scale(0.95);
    }
    &:active{
      color: $special-teal-dark;
      background: $white;
      transform: scale(0.90);
    }
    &:after{
      content: "\25BE";
      width: 100%;
      display: block;
      position: absolute;
      font-size: 30px;
      bottom: 3px;
      left: 0;
      color: #C6C6C6;
    }
  }
}
