/* ================================
   Header
   ================================ */

	header#header{
		@include clearfix;
		width: 100%;
		z-index: 30;
		position: relative;
	}


	//Post-Footer
	.header-pre{
		display: none;
		@media (min-width: $bp-medium){
			display: block;
			@include clearfix;
			background: #1b4f64;
			color: $white;
			padding: 0 12px;
			font-family: $font-stack-condensed;
		}
		@media(min-width: $bp-medium){
			text-align: left;
			padding: 0 25px;
			font-family: $font-stack-sans;
		}
	}
	.header-tagline{
		display: block;
		font-size: 9px;
		line-height: 1.125;
		letter-spacing: 0.11px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 7px 0 5px;
		@media(min-width: $bp-medium){
			font-size: 11px;
		}
	}


	//Header Main
	.header-main{
		position: relative;
		@include clearfix;
	}
	.header-main-inner{
		@include row(12);
		margin-left: -$gutter-small !important;
		margin-right: -$gutter-small !important;
		height: $header-height-mobile;
		background: $voice-blue-light;
		overflow: hidden; //Safari renders 1 extra pixel of height
		@media (min-width: $bp-medium){
			height: $header-height;
		}
	}
	.header-main-left{
		@include column(fixed);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: $voice-blue-light;
		width: 70%;
		position: relative;
		@media (min-width: $bp-small){
			width: 50%;
		}
		@media (min-width: $bp-medium){
			width: 318px;
		}

		.header-left-inner{
			padding: 20px;
			@media (min-width: $bp-menu-shift){
				padding: 25px;
			}
		}
		.logo-container{
			z-index: 1;
			position: relative;
			max-width: 200px;
			transition: transform 150ms ease-in-out;
			@media (min-width: $bp-medium){
				max-width: 260px;
			}
			&:hover, &:focus{
				transform: scale(0.98);
				outline: 0;
			}
		}

		//Angled Part of Background
		&:after{
			@media (min-width: $bp-menu-shift){
				top: 0%;
				right: -32px;
				position: absolute;
				content: "";
				z-index: 0;
				width: 0;
				height: 0;
				border-bottom: $header-height solid $voice-blue-light;
				border-right: 32px solid transparent;
				transition: all 150ms ease-in-out;
			}
		}
	}
	.header-main-right{
		display: block;
		@include column(auto);
		background: $voice-blue-light;
		@media (min-width: $bp-menu-shift){
			background: $special-teal-dark;
		}
		.header-right-nav{
			@include column(auto);
			padding-right: 0 !important;
		}
		.header-right-social{
			display: none;
			@media (min-width: $bp-social-shift){
				@include column(fixed);
				width: 240px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				//margin-right: 27px - $gutter-small;
				height: $header-height-mobile;
			}
			@media (min-width: $bp-medium){
				height: $header-height;
			}
		}
	}
