/* ================================
   Homepage
   ================================ */
   #home-hero{
     background: #f6f6f6;
     position: relative;
     overflow: hidden;
   }
   @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
   #home-carousel{
     animation: fadein 2s;
     @media (min-width: $bp-menu-shift){
       margin-right: $header-height;
     }
     .slick-track{
       display: flex;
     }
     .slick-list{
       overflow: visible;
     }
     .slick-slide{
       height: auto;
     }
     //Story Block alterations
     //see _body-parts.scss for base styles
     .slide{
       opacity: 0.15;
       transition: opacity 250ms ease-in-out;
       display: flex;

       &.is-selected, &.slick-current{
         opacity: 1;
       }
       &:focus{
         outline: 0;
       }
     }
     .slide-inner{
       display: block;
       width: 100%;
       @media (min-width: $bp-large){
         display: flex;
         flex-wrap: wrap;
         min-height: 100%;
       }
     }

     .block-img{
      width: 100%;
      max-width: 100%;

      // @media (min-width: $bp-medium){
      //   padding-bottom: 58.823529%;
      // }
      @media (min-width: $bp-large){
        flex: 0 0 auto;
        width: 58.63%;
        max-width: 58.63%;
        padding-bottom: 0;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        @media (min-width: $bp-medium){
          position: relative;
        }
        @media (min-width: $bp-large){
          position: absolute;
        }
      }
      // img{
      //   height: auto;
      //   width: 100%;
      //   max-width: 300%;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   @media (min-width: 920px){
      //     height: 100%;
      //     width: auto;
      //   }
      //   @media (min-width: 1330px){
      //     height: auto;
      //     width: 100%;
      //   }
      // }
     }
     .block-title-container{
       @include column(11);
       @include push(0.5);
       position: relative;
       margin-top: -$base-margin*2;
       display: block;
      @media (min-width: $bp-large){
        width: 41.37%;
        flex: 0 0 auto;
        margin: 0;
        min-height: 430px;
      }
      @media (min-width: $bp-xlarge){
        min-height: 480px;
      }
     }
     .slide-link{
       width: 100%;
       padding: 25px 12px;
       display: block;
       text-decoration: none;
       color: $primary-text-color;
       box-shadow: $box-box-shadow;
       @media (min-width: $bp-medium){
         padding: 45px;
       }
       @media (min-width: $bp-large){
         padding: 80px 45px 45px;
         box-shadow: none;
       }
       &:hover, &:focus, &:active{
         text-decoration: none;
         color: $primary-text-color;
         .block-title{
           text-decoration: underline;
         }
       }
     }
     .block-title-inner{
       height: 100%;

     }
     .block-title{
       height: auto;
       margin-bottom: $base-margin/2;
       &:after{
         display: none;
       }
     }
     .block-blurb{
      //  display: none;
      font-size: 13px;
      color: #333;
      @media (min-width: $bp-small){
        font-size: 15px;
      }
       @media (min-width: $bp-large){
         display: block;
         padding: 0;
         font-size: 16px;
       }
     }
   }

   //Buttons
   #home-carousel-buttons{
     a{
       display: block;
       border-radius: 4px;
       background: $voice-orange;
       cursor: pointer;
       .arrow-img{
         width: 14px;
         @media (min-width: $bp-small){
           width: 25px;
         }
       }
     }
     .slick-disabled{
       display: none !important;
     }
     .home-button--previous{
       position: absolute;
       top: 50%;
       left: -24px;
       transform: translateY(-50%);
       transition: left 150ms ease-in-out;
       padding: 12px 12px 12px 34px;
       @media (min-width: $bp-small){
         padding: 20px 12px 20px 36px;
       }
       &:hover, &:focus{
         left: -12px;
       }
       .arrow-img img{
         transform: rotate(180deg);
       }
     }
     .home-button--next{
       position: absolute;
       top: 50%;
       right: -24px;
       transform: translateY(-50%);
       transition: right 150ms ease-in-out;
       padding: 12px 34px 12px 12px;
       @media (min-width: $bp-small){
         padding: 20px 36px 20px 12px;
       }
       &:hover, &:focus{
         right: -12px;
       }
     }
   }


   #home-body{
     background: #f6f6f6;
     padding: $base-margin 12px;

     @media (min-width: $bp-small){
       padding: $base-margin $base-margin*2;
     }
     @media (min-width: $bp-medium){
       padding: 60px $header-height;
     }
   }

   .home-row{
     @include row(12);
     @include clearfix;
     @media (min-width: $bp-large){
       margin-bottom: $base-margin*2;
     }
     .home-block-tall{
       @include column(4);
      }
      .block-home-horizontal{
        @include column(12);
        display: block;
        flex-direction: column;
        margin-bottom: $base-margin;
        @media (min-width: $bp-large){
          @include column(8);
          margin-bottom: 0;
          display: flex;
        }
        .row{
          margin: 0;
          width: 100%;
          background: $white;
          //height: 100%;
          box-shadow: $box-box-shadow;
        }
        .block-img{
          @media (min-width: $bp-large){
            @include column(5);
            padding-bottom: 0;
          }
        }
        &.no-image, &.no-img{
          .row{
            display: flex;
          }
          .block-title-container{
            @include column(12);
            // display: flex;
            align-items: center;
          }
          a.block-link{
            display: block;

          }
        }
        .block-title-container{
          @include column(12);
          position: relative;
          @media (min-width: $bp-medium){
            @include column(7);
          }
        }
      }
     .block-home-trending{
       @include column(12);
       display: block;
       flex-direction: column;
       margin-bottom: 0;
       @media (min-width: $bp-large){
         @include column(4);
         margin-bottom: 0;
         display: flex;
       }
       .news-topic-wrapper{
         height: 100%;
         display: flex;
         flex-wrap: wrap;
         box-shadow: $box-box-shadow;
       }
       .row{
         margin: 0;
         width: 100%;
       }
       .topics-header,
       .sub-title,
       .tag-buttons,
       .view-all-topics{
         padding-left: 0;
         padding-right: 0;
       }
     }
    }

    //Home Bottom
    .home-bottom{
      @include clearfix();
      position: relative;
      z-index: 1; //prevents sticky iframe from failing over the footer
      background: #F6F6F6;
      padding: 34px 20px;
      @media (min-width: $bp-large){
        padding: 60px 85px;
      }
      .home-bottom-inner{
        @include clearfix;
        position: relative;
      }
      header{
        @include row(12);
        margin-bottom: $base-margin*2;
        align-items: flex-end;
      }
      .home-bottom-title{
        @include column(12);
        font-family: $font-stack-special;
        font-size: 36px;
        line-height: 1.125;
        font-weight: 300;
        letter-spacing: 0.31px;
        color: $special-teal-dark;
        margin-bottom: 0;
        text-align: center;
        @media (min-width: $bp-large){
          font-size: 48px;
          text-align: left;
        }
      }
      .home-bottom-more-link,
      .home-bottom-more-link:visited{
        font-family: $font-stack-sans;
        color: $special-teal-dark;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.16px;
        font-weight: 300;
        text-decoration: none;
        @media (min-width: $bp-medium){
          font-size: 24px;
        }
        @media (min-width: $bp-medium){
          font-size: 24px;
        }
        &:hover, &:focus, &:active{
          color: $link-hover-color;
          text-decoration: underline;
        }
      }


      &#home-bottom-one{
        background: $white;
        .home-bottom-title{
          margin-bottom: $base-margin;
        }
        .home-bottom-nav{
          @include column(12);
          margin-bottom: 0;
          text-align: center;
          @media (min-width: $bp-large){
            text-align: left;
          }
          li{
            display: inline-block;
            font-size: 18px;
            line-height: 1.125;
            letter-spacing: 0.12px;
            text-transform: uppercase;

            &:first-child a{
              margin-left: 0;
            }
          }
          a, a:visited{
            display: inline-block;
            padding: 5px 10px;
            margin: 0 9px;
            color: rgba($primary-text-color, 0.6);
            transition: all 50ms ease-in-out;
            &:hover, &:focus, &:active{
              color: rgba($primary-text-color, 1);
              text-decoration: none;
              border-bottom: 3px solid $voice-orange;
            }
          }
          .current-page{
            a, a:visited{
              color: rgba($primary-text-color, 1);
              border-bottom: 3px solid $voice-orange;
              &:hover, &:focus, &:active{
                border-bottom: 3px solid $voice-orange;
                padding: 2px 10px;
                margin-bottom: 3px;
              }
            }
          }
        }
        .body{
          @include column(12);
          font-family: $font-stack-serif;
          margin-bottom: $base-margin*2;
          @media (min-width: $bp-large){
            @include column(8);
            margin-bottom: 0;
          }
          ul{
            list-style: none;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: $base-margin*2;
          }
          li{
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 20px;
            @media (min-width: $bp-medium){
              font-size: 20px;
            }
            a, a:visited{
              display: inline-block;
              text-decoration: none;
              margin-bottom: $base-margin/4;
              &:hover, &:focus, &:active{
                text-decoration: underline;
              }
            }
          }
          .date{
            display: block;
            font-family: $font-stack-sans;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 900;
            text-transform: uppercase;
            color: #C6C6C6;
          }
        }
        .side{
          @include column(10);
          @include push(1);
          @media (min-width: $bp-medium){
            @include column(6);
            @include push(3);
          }
          @media (min-width: $bp-large){
            @include column(4);
            @include push(0);
          }
          .block-title-container{
            @include column(12);
          }
          .block-title-inner{
            padding: 30px 0px;
          }
          .block-title-area{
            margin-bottom: 0;
            h1{
              margin-bottom: 0;
              font-size: 24px;
            }
          }
          .block-date-area{
            position: relative;
            bottom: 0;
          }
          .home-bottom-block-date{
            font-size: 15px;
            line-height: 1.6;
            color: #596066;
          }
        }

      }
      &#home-bottom-two{
        background: $special-teal-dark;
        .home-bottom-title{
          color: $light-text-color;
          @media (min-width: $bp-large){
            @include column(auto);
          }
        }
        .home-bottom-inner{
          @include column(12);
          @media (min-width: $bp-small){
            @include column(10);
            @include push(1);
          }
          @media (min-width: $bp-large){
            @include column(12);
            @include push(0);
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }
      }
      &#home-bottom-three{
        background: #1C4961;
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 150px;
          z-index: -1;
          width: 65%;
          height: 100%;
          background: rgba($special-teal-dark, 0.2);
          transform: skew(20deg);
        }
        .home-bottom-title{
          color: $light-text-color;
          @media (min-width: $bp-large){
            @include column(auto);
          }
        }
        .body{
          @include column(12);
          @media (min-width: $bp-small){
            @include column(10);
            @include push(1);
          }
          @media (min-width: $bp-medium){
            @include column(8);
            @include push(2);
          }
          @media (min-width: $bp-large){
            @include column(6);
            @include push(0.5);
          }
          figure{
            position: relative;
            display: block;
            &.legacy-img{
              display: inline-block;
            }
            img{
              max-width: 500%;
              width: 100%;
            }
          }
          figcaption{
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            color: $light-text-color;
            width: 100%;
            .caption{
              display: block;
              background: rgba($special-teal-dark, 0.8);
              font-size: 16px;
              line-height: 1.1875;
              letter-spacing: 0.1px;
              padding: 18px;
              width: 100%;
            }
            .photo-credit{
              display: inline-block;
              background: rgba(7,7,7, 0.3);
              font-size: 13px;
              line-height: 1.15384615;
              letter-spacing: 0.08px;
              padding: 12px;
            }
          }
        }
        .side{
          @include column(12);
          text-align: center;
          @media (min-width: $bp-small){
            @include column(10);
            @include push(1);
          }
          @media (min-width: $bp-medium){
            @include column(8);
            @include push(2);
          }
          @media (min-width: $bp-large){
            @include column(5);
            @include push(0);
            padding-top: 50px;
          }
          blockquote{
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.16px;
            font-weight: 300;
            font-style: italic;
            color: $light-text-color;
            // &:before{
            //   content: "\201C";
            // }
            // &:after{
            //   content: "\201D";
            // }
            p,
            q{
              display: inline;
            }
          }
          button{
            font-size: 20px;
            letter-spacing: 0.13px;
            text-transform: uppercase;
            padding: 16px 25px;
          }
        }
      }

    }

    #home-bottom-two, #home-bottom-three{
      .home-bottom-more-link{
        position: relative;
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin: $base-margin*2 0;
        @media (min-width: $bp-large){
          position: absolute;
          top: 24px;
          right: 0;
          text-align: right;
          display: inline-block;
          padding: 0;
          margin: 0;
        }
      }
      .home-bottom-more-link,
      .home-bottom-more-link:visited{

        color: $light-text-color;
        &:hover, &:focus, &:active{
          color: $light-text-color;
          text-decoration: underline;
        }
      }
    }
