/* ================================
   Media
   ================================ */

//Images

.inbody-img{
  position: relative;
	margin-bottom: $base-margin;
	text-align: center;
	img, figure{
		display: inline;
		position: relative;
	}
  img{
    max-width: 300%;
    width: 100%;
  }
}
//OFFSETS (Images, Blockquotes)
.offset{
	margin-bottom: $base-margin !important;
	@media(min-width: $bp-medium){
		margin-top: 10px !important;
		margin-bottom: $base-margin/2 !important;
	}
}
//Left offset
.left-offset, img.left, .alignleft, .offset-left{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	@media(min-width: $bp-medium){
		@include column(5);
		margin-right: $base-margin;
		margin-left: 0;
		padding-left: 0 !important;
	}
	figcaption, .caption, .photo-credit{
		@media(min-width: $bp-medium){
			margin: 0;
			position: relative !important;
			top: auto;
			bottom: auto;
		}
	}
}

//Left offset
.right-offset, img.right, .alignright, .offset-right{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	@media(min-width: $bp-medium){
		@include column(5);
		float: right !important;
		margin-left: $base-margin;
		margin-right: 0;
		padding-right: 0 !important;
	}
	figcaption, .caption, .photo-credit{
		@media(min-width: $bp-medium){
			margin: 0;
			position: relative !important;
			top: auto;
			bottom: auto;
		}
	}
}

// //Image Caption
// .image-caption, figcaption{
// 	margin-top: 5px;
// 	@include calcType(14px, $bp-xsmall, $golden);
//   @media(min-width: $bp-medium){
//     @include calcType(16px, $bp-small, $golden);
//   }
// }


//Videos
//Responsive (YouTube ratio)
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: $base-margin;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
