/* ================================
	Navigation
	================================ */
	#nav-large.nav-main{
		z-index: 0;
		display: inline-block;
		font-family: $font-stack-special;
		//margin-right: 15px;
		display: flex;
		@include flex-items-end;
		li{
			display: inline-block;
		}
		.top-level-li{
			height: $header-height;
		}
		li a.top-level-a{
			display: none;
			@media(min-width: $bp-menu-shift){
				display: flex;
			}
		}
		.top-level-a, .top-level-a:visited{
			display: inline-block;
			position: relative;
			height: $header-height;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 15px;
			font-size: 18px;
			color: $light-text-color;
			text-decoration: none;
			transition: background 150ms ease-in-out;

			&:hover, &:focus{
				text-decoration: none;
				background: rgba(255,255,255,0.1);
			}
			&:active{
				background: rgba(255,255,255,0.025);
			}
		}
		.top-level-a:after{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			content: "";
			width: 0;
			height: 0;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 11px solid $voice-blue-dark;
			transition: all 250ms ease-in-out;
		}
		.top-level-a.open:after{
			border-left: 21px solid transparent;
			border-right: 21px solid transparent;
			border-bottom: 23px solid $voice-blue-dark;
		}

	}


	#nav-small.nav-main{
		z-index: 0;
		display: inline-block;
		font-family: $font-stack-special;
		margin-right: 15px;
		display: flex;
		background: $voice-blue-light;
		margin: 0;
		margin-right: -1px !important;
		margin-left: -1px !important;

		@media(min-width: $bp-menu-shift){
			display: none;
		}

		li{
			display: inline-block;
			@include column(4);
			padding-right: 1px !important;
			padding-left: 1px !important;
			text-align: center;
		}

		.top-level-a, .top-level-a:visited{
			display: inline-block;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 8px 0px;
			font-size: 15px;
			color: $light-text-color;
			text-decoration: none;
			transition: background 150ms ease-in-out;
			background: $special-teal-dark;
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
			@media(min-width: $bp-small){
				font-size: 18px;
			}
			&:hover{
				text-decoration: none;
				background: rgba(255,255,255,0.1);
			}
			&:active{
				background: rgba(255,255,255,0.025);
			}
			&.open{
				background: $voice-blue-dark;
			}
		}
	}

	.nav-blocks{
		margin-top: 0;
		li{
			display: flex !important;
		}
		a, a:visited{
			display: flex;
			font-family: $font-stack-sans;
			font-size: 14px;
			line-height: 1.25;
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
			justify-content: center;
			align-items: center;
			padding: 12px;
			border-radius: 4px;
			background: $special-teal-dark;
			color: $light-text-color;
			text-decoration: none;
			transition: all 200ms ease-in-out;
			width: 100%;
			&:hover, &:focus{
				color: $light-text-color;
				text-decoration: none;
				background: $voice-orange;
				transform: scale(0.97);
			}
			&:active{
				transform: scale(0.95);
			}
			@media (min-width: $bp-medium){
				font-size: 20px;
				padding: 14px 8px;
				font-weight: 400;
			}
		}
	}


	.tag-buttons{
		a, a:visited{
			display: inline-block;
			font-family: $font-stack-condensed;
			font-size: 12px;
			line-height: 1.8;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			padding: 6px 20px;
			border-radius: 25px;
			background: rgba(255,255,255,0.25);
			color: $light-text-color !important;
			text-decoration: none;
			transition: all 200ms ease-in-out;
			@media (min-width: $bp-medium){
				font-family: $font-stack-sans;
				font-size: 14px;
				font-weight: 500;
			}
			&:hover, &:focus{
				color: $light-text-color !important;
				text-decoration: none;
				background: $voice-orange;
				background: rgba(255,255,255,0.35);
				transform: scale(0.95);
			}
			&:active{
				transform: scale(0.93);
			}
		}
		&.mobile-only{
			display: block;
			text-align: center;
			margin-bottom: $base-margin/2;
			@media (min-width: $bp-medium){
				display: none;
			}
		}
	}


	//Sub Drop
	.nav-sub-drop{
		z-index: -1;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: $voice-blue-dark;
		transform: translateY(-100%);
		transition: transform 250ms ease-in-out;
		overflow: hidden;
		&.open{
			transform: translateY(0%);
		}
		.sub-header{
			display: none;
			@media (min-width: $bp-medium){
				@include column(12);
				text-align: center;
				display: block;
			}
			.sub-title{
				font-family: $font-stack-special;
				display: inline-block;
				color: $light-text-color;
				font-size: 34px;
				line-height: 1.125;
				font-weight: 300;
				margin-bottom: $base-margin;
				@media (min-width: $bp-medium){
					font-size: 48px;
				}
			}
		}

		.tag-buttons{
			a, a:visited{
				background: $special-teal-dark;
				&:hover, &:focus{
					background: $voice-orange;
				}

			}
		}


		//News & Views Sub Drop
		&#news-sub{
			.news-nav{
				padding-top: $base-margin/2;
				padding-bottom: $base-margin/2;
				@include column(12);
				@media(min-width: $bp-small){
					padding-top: $base-margin;
					padding-bottom: $base-margin;
				}
				@media(min-width: $bp-menu-shift){
					@include column(8);
				}

				.news-nav-inner{
					@include column(12);
					padding-left: $base-margin/2;
					padding-right: $base-margin/2;
					@media (min-width: $bp-menu-shift){
						@include column(8);
						@include push(2);
						padding: 20px 0 66px;
					}
				}
				ul{
					@include row(12);
					margin: 0;
				}
				li{
					width: 100%;
					margin-bottom: 12px;
					@media (min-width: $bp-small){
						width: 50%;
						padding-left: $gutter-small/2;
						padding-right: $gutter-small/2;
						margin-bottom: $gutter-small;
					}
					@media (min-width: $bp-menu-shift){

						margin-bottom: $gutter-small;

					}
				}
			}
			.news-topics{
				background: rgba(#1F8198, 0.2);
				@include column(12);
				@media(min-width: $bp-menu-shift){
					@include column(4);
				}
				.topics-inner{
					padding: $base-margin/2;
					@media (min-width: $bp-small){
						padding: 25px;
					}
				}
				.sub-title{
					font-size: 15px;
					@media (min-width: $bp-small){
						font-size: 28px;
					}
				}
				li{
					margin-right: 3px;
    			margin-bottom: 6px;
					@media (min-width: $bp-small){
						margin-right: 6px;
				    margin-bottom: 12px;
					}
				}
				.tag-buttons a{
					font-size: 12px;
					padding: 6px 12px;
					@media (min-width: $bp-small){
						font-size: 14px;
						padding: 6px 20px;
					}
				}
				.view-all-topics{
					a, a:visited{
						&:hover, &:active, &:focus{
			        color: $voice-orange;
			        text-decoration: none;
			      }
					}
				}
			}
		}
		//Advocacy Sub Drop
		&#advocacy-sub{

			.advocacy-inner{
				@include column(12);
				padding-left: $base-margin/2;
				padding-right: $base-margin/2;
				padding-top: 15px;
				padding-bottom: 15px;
				@media(min-width: $bp-small){
					padding: 20px 20px 66px;
				}
				@media (min-width: $bp-menu-shift){
					@include column(8);
					@include push(2);
					padding: 20px 0 66px;
				}
				ul{
					@include row(12);
					margin-bottom: -$gutter-small;
					@media(min-width: $gutter-breakpoint){
						margin-bottom: -$gutter-large;
					}
				}
				li{
					width: 100%;
					padding-left: $gutter-small/2;
					padding-right: $gutter-small/2;
					margin-bottom: $gutter-small;
					@media (min-width: $bp-small){
						width: 50%;
					}
					@media (min-width: $bp-medium){
						width: 33.3333%;
					}
				}
			}
		}

		//Stories Sub Drop
		&#stories-sub{
			#stories-sub-carousel-container{
				display: block;
				position: relative;
			}
			.nav-blocks.mobile-only{
				display: block;
				padding: 0 12px;
				margin: 0 auto 12px;
				max-width: 300px;
				@media (min-width: $bp-medium){
					display: none;
				}
			}
			.sub-title{
				margin-bottom: $base-margin/2;
			}
			.stories-inner{
				@include column(12);
				padding: $base-margin/2;
				@media (min-width: $bp-small){
					padding: 20px $base-margin 30px;
				}
			}
			#stories-sub-carousel{
				@include column(12);
				@media (min-width: $bp-medium){
					@include column(11);
					margin-left: $gutter-large;
				}
				&:focus{
					outline: 0;
				}
				.slick-track{
	        display: flex;
	      }
	      .slick-list{
	        overflow: visible;
	      }
	      .slick-slide{
	        height: auto;
	      }

				//Story Block alterations
				//see _body-parts.scss for base styles
				.slide{
					display: flex;
				  margin-left: $gutter-small/2;
				  margin-right: $gutter-small/2;
					padding: 0 !important;
				  @media (min-width: $gutter-breakpoint){
				    margin-left: $gutter-small;
				    margin-right: $gutter-small;

				  }
					.row{
				    margin: 0;
				    width: 100%;
				    background: $white;
				    display: block;
						position: relative;
						@media (min-width: $bp-small){
							display: flex;
						}
						@media (min-width: 600px){
							display: block;
						}
				    @media (min-width: $bp-large){
				      display: flex;
				    }
				  }
					a.block-link{
						align-items: stretch;
						display: flex;
						padding: 12px 12px 24px;
						@media (min-width: $bp-medium){
							position: relative;
						}
						@media (min-width: $bp-xlarge){
							padding: 33px 23px 60px;
						}
					}
				}
				.block-img{
					@include column(12);
					@media (min-width: $bp-small){
				    @include column(5);
				  }
					@media (min-width: 600px){
				    @include column(12);
				  }
				  @media (min-width: $bp-xlarge){
				    @include column(5);
				    padding-bottom: 0;
				  }
					img{
						width: 100%;
			      height: 100%;
			      object-fit: cover;
			      font-family: 'object-fit: cover;';
						@media (min-width: $bp-medium){
						  position: relative;
						}
						@media (min-width: $bp-large){
						  position: absolute;
						}
		        // height: auto;
		        // width: 100%;
		        // max-width: 300%;
		        // position: absolute;
		        // top: 50%;
		        // left: 50%;
		        // transform: translate(-50%, -50%);
		        // @media (min-width: $bp-small){
		        //   height: 100%;
		        //   width: auto;
		        // }
						// @media (min-width: 600px){
		        //   width: 100%;
		        //   height: auto;
		        // }
		        // @media (min-width: $bp-xlarge){
						// 	height: 100%;
		        //   width: auto;
		        // }
		      }


				}
				.block-title-container{
			    @include column(12);
					padding: 0 !important;
					display: flex;
					@media (min-width: $bp-small){
						@include column(7);
						padding: 0 !important;
						position: relative;
				  }
					@media (min-width: 600px){
						@include column(12);
						padding: 0 !important;
						display: flex;
				  }
			    @media (min-width: $bp-xlarge){
			      @include column(7);
						padding: 0 !important;
						position: relative;
			    }
				}
				.block-title-area{
					margin-bottom: 0px;
					@media (min-width: $bp-large){
						margin-bottom: 20px;
					}
					.block-title{
						font-size: 16px !important;
						@media (min-width: $bp-xlarge){
							font-size: 20px;
						}
					}

				}
				.block-topic-area{
					margin-bottom: 5px;
					@media (min-width: $bp-large){
						margin-bottom: 14px;
					}
				}
				.block-date-area{
					bottom: 12px;
					@media (min-width: $bp-large){
						bottom: 30px;
					}

				}
			}

			//Buttons
			#story-carousel-buttons{
				a{
	        display: block;
	        border-radius: 4px;
	        background: $voice-orange;
	        cursor: pointer;
	        .arrow-img{
	          width: 14px;
	          @media (min-width: $bp-small){
	            width: 25px;
	          }
	        }
	      }
	      .slick-disabled{
	        display: none !important;
	      }
	      .stories-button--previous{
	        position: absolute;
	        top: 50%;
	        left: -24px;
	        transform: translateY(-50%);
	        transition: left 150ms ease-in-out;
	        padding: 12px 12px 12px 24px;
	        @media (min-width: $bp-small){
	          padding: 20px 12px 20px 36px;
						left: -48px;
					}
					@media (min-width: 1200px){
						left: -24px;
					}
	        &:hover, &:focus{
	          left: -12px;
						@media (min-width: $bp-small){
							left: -36px;
		        }
						@media (min-width: 1200px){
							left: -12px;
						}
	        }
	        .arrow-img img{
	          transform: rotate(180deg);
	        }
	      }
	      .stories-button--next{
	        position: absolute;
	        top: 50%;
	        right: -24px;
	        transform: translateY(-50%);
	        transition: right 150ms ease-in-out;
	        padding: 12px 24px 12px 12px;
	        @media (min-width: $bp-small){
	          padding: 20px 36px 20px 12px;
						right: -48px;
	        }
					@media (min-width: 1200px){
						right: -24px;
					}
	        &:hover, &:focus{
	          right: -12px;
						@media (min-width: $bp-small){
							right: -36px;
		        }
						@media (min-width: 1200px){
							right: -12px;
						}
	        }
	      }
			}
		}

		a.view-all-stories{
			vertical-align: text-bottom;
		}

	}




	//Nav Social
	.nav-social{
		display: none;
		@media (min-width: $bp-social-shift){
			display: inline-block;
		}
		li{
			display: inline-block;
			.icon{
				font-size: 16px;
				line-height: 27px;
			}
			a{
				display: block;
				height: 27px;
				width: 27px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: rgba(255,255,255,0.4);
				transition: all 150ms linear;
			}
			a, a:visited{
				color: $special-teal-dark;
				text-decoration: none;
				&:hover, &:focus{
					text-decoration: none;
					background: rgba(255,255,255,0.6);
					transform: scale(0.95);
				}
				&:active{
					transform: scale(0.90);
				}
			}
		}
	}

	//Search Nav
	.nav-search{
		height: $header-height-mobile;
		@include column(fixed);
		width: 48px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 150ms ease-in-out;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 24px - $gutter-small;
		align-items: flex-end;
		@media (min-width: $bp-medium){
			height: $header-height;
		}
		@media(min-width: $bp-social-shift){
			position: relative;
			background: $voice-blue-light;
			width: 65px;
			align-items: flex-start;
		}
		@media(min-width: $bp-menu-shift){
			width: $header-height;
			align-items: center;
			&:hover, &:focus{
				background: $voice-orange;
			}
		}
		&:hover, &:focus{
			.icon{
				transform: scale(1.25);
			}
		}
		&:active{
			.icon{
				transform: scale(0.95);
			}
		}
		.icon{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 23px;
			color: $light-text-color;
			background: $voice-orange;
			transition: all 150ms ease-in-out;
			width: 32px;
			height: 32px;
			border-radius: 5px;
			@media(min-width: $bp-small){
				font-size: 30px;
				width: 36px;
				height: 36px;
			}
			@media(min-width: $bp-menu-shift){
				background: transparent;
				width: auto;
				height: auto;
			}
		}
	}

	#search-overlay{
		background: rgba($voice-orange, 0.9);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		justify-content: center;
		align-items: center;
		display: flex;
		visibility: hidden;
		opacity: 0;
		transition: opacity 250ms ease-in-out;
		&.open{
			visibility: visible;
			opacity: 1;
		}
		.row{
			max-width: 1200px;
			@media (min-width: 1400px){
				margin: 0 auto;
			}
		}
		form{
			@include column(10);
			button{
				position: absolute;
				background: rgba(255,255,255,0);
				height: 66px;
				width: 66px;
				padding: 0;
				margin: 0;
				@media (min-width: $bp-medium){
					height: 96px;
					width: 96px;
				}
			}
			input{
				display:inline-block;
				@include column(auto);
			}
			input[type="search"]{
				height: 66px;
				font-size: 16px;
				font-weight: normal;
				padding-left: 66px;
				border: 0px;
				transition: border 50ms ease-in-out;
				@media (min-width: $bp-small){
					font-size: 24px;
				}
				@media (min-width: $bp-medium){
					font-size: 32px;
					height: 96px;
					padding-left: 96px;
				}
				&::-webkit-input-placeholder {
					color: rgba(151,151,151,0.5) !important;
				}

				&:-moz-placeholder { /* Firefox 18- */
					color: rgba(151,151,151,0.5) !important;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
					color: rgba(151,151,151,0.5) !important;
				}

				&:-ms-input-placeholder {
					color: rgba(151,151,151,0.5) !important;
				}
				// &:focus{
				// 	border: 3px solid #1F8198;
				// 	box-sizing: border-box;
				// 	border-radius: 4px;
				// }
			}
			.icon{
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				line-height: 0.75;
				color: #1F8198;
				border-radius: 5px;
				@media (min-width: $bp-medium){
					font-size: 60px;
				}
			}
		}
		#search-close{
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			.icon{
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				color: $light-text-color;
				transition: all 150ms ease-in-out;
				width: 73px;
				height: 70px;
				border-radius: 5px;
				@media (min-width: $bp-medium){
					height: 128px;
					width: $header-height;
				}
			}
		}
	}


	//Disable body scroll when menu open
	.disable-scroll{
		overflow: hidden;
		// @media (min-width: $bp-menu-shift){
		// 	overflow-x: hidden;
		// 	overflow-y: visible;
		// }
	}
