//News Page
.topic_ons_news{

  // #right-column{
  //   padding-top: $base-margin*1.5;
  // }

  .block-horizontal{
    margin-bottom: $base-margin;
    a.block-link{
      padding: 24px 12px !important;
      @media(min-width: $bp-medium){
        padding: $base-margin !important;
      }
    }
    &.no-img .block-title-container{
      width: 100% !important;
      max-width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .block-topic-area,
    .block-title-area h1,
    .block-date-area,
    .block-blurb{
      text-align: left !important;
    }
    .block-topic-area{
      margin-bottom: 5px;
    }
    .block-title-area{
      min-height: 0;
    }
    .block-blurb{
      margin-bottom: 12px !important;
    }
    .block-date-area{
      position: relative;
      bottom: 0;
    }
  }
}

//News Feature
.news-feature-item{
  @include column(12);
  margin-bottom: $base-margin;
  .news-feature-area{
    background: $special-teal-dark;
    padding: 25px 20px;
  }
  .news-feature-caption{
    position: relative;
  }
  &.with-image .feature-topic-area{
    position: absolute;
    top: -44px;
    left: 0;
  }
  .feature-topic-area{
    display: inline-block;
    background: $voice-orange;
    padding: 12px 20px;

    .feature-topic{
      font-family: $font-stack-sans;
      font-size: 13px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-weight: 700;
      color: $light-text-color;
    }
  }
  .feature-title{
    font-size: 36px;
    line-height: 1.16666667;
    letter-spacing: 0.23px;
    font-weight: normal;
    margin: 0 0 12px;
    color: $light-text-color;
    a, a:visited{
      color: $light-text-color;
      &:hover, &:focus, &:active{
        color: $light-text-color;
        text-decoration: underline;
      }
    }
  }
  .feature-date{
    display: block;
    font-family: $font-stack-sans;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: $light-text-color;
  }
}

//News List
.news-page-list{
  list-style: none;
  @include column(12);
  margin: 0;
  margin-bottom: $base-margin;

  .news-list-item{
    margin-bottom: $base-margin*2;
    padding: 0 20px;
  }
}
//News Topic
.news-topic-area{
  width: 100%;
  display: block;
  .news-topic{
    font-family: $font-stack-sans;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $voice-orange;
  }
  a, a:visited{
    color: $voice-orange !important;
    &:hover, &:focus, &:active{
      color: $voice-orange !important;
    }
  }
}
//News Title
.news-title-area{
  width: 100%;

  &.no-min-height{
    min-height: 0;
  }
  .news-title{
    margin: 0;
    font-family: $font-stack-special !important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $primary-text-color;
    @media (min-width: $bp-small){
      font-size: 20px;
    }
    a, a:visited{
      color: $primary-text-color !important;
      &:hover, &:focus, &:active{
        color: $primary-text-color !important;
      }
    }
  }
}
//News Date
.news-date-area{
  width: 100%;
  position: relative;
  display: block;
  .news-date{
    font-family: $font-stack-sans;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: #C6C6C6;
  }
}
//News Blurb
.news-blurb{
  font-size: 13px;
  line-height: 1.6;
  @media (min-width: $bp-small){
    font-size: 15px;
  }
}
