/* Custom Print Styles */
@media print {

	body{
		margin: 25mm 0mm 25mm 0mm;
		width: 100% !important;
	}
	#maincontent{
		width: 90%;
		margin: 0 auto;

		iframe,
		.videoWrapper,
		#article-body .ad-iframe.inbody-mobile,
		#left-column,
		#right-column,
		#article-footer,
		.social-share-mobile,
		.article-body-tags{
			display: none !important;
		}
	}
	header#header,
	.breadcrumbs,
	footer#footer,
	.back-to-top{
		display: none !important;
	}

		img{
			max-width: 50% !important;
			margin: 0 auto;
		}
		.inbody-img,
		.inbody-side,
		.block,
		aside{
			width: 100% !important;
			max-width: 100% !important;
		}
		.caption, figcaption{
			position: relative;
			bottom: 0;
			text-align: center;
		}
		pre, blockquote, aside,
		blockquote.quote-enhanced .enhanced-inner{
			border: 0px;
		}
		blockquote.quote-enhanced .enhanced-img{
			display: none;
		}
		main[role="main"]{
			width: 100% !important;
			max-width: 100% !important;
		}
		.inbody-side .side-inner{
			border-bottom: 0px !important;
		}
		a,a:visited{
			text-decoration: underline !important;
			color: #000 !important;
		}

		//Blocks

		.block,
		.block-img,
		.block-title-container{
			width: 100% !important;
			max-width: 100% !important;
			display: block !important;
		}

		.block-img img{
			position: relative !important;
			margin: 0 auto;
			display: block;
		}
		.block-img,
		.block-img.grid-img{
			padding-bottom: 0 !important;
		}
		.block-img.grid-img img{
				display: block !important;
				margin: 0 auto;
		}

		//Firefox fix:
		#maincontent div{
			display: block !important;
			position: relative !important;
		}

		//Homepage
		#home-carousel{
			margin: 0 auto;
			width: 90%;
		}
		.slick-track{
			width: 100% !important;
		}
		#home-carousel .slide{
			position: relative;
			opacity: 1 !important;
			width: 100% !important;
		}
		#home-carousel .slide-link{
			padding-left: 0;
			padding-right: 0;
		}
		#home-carousel .slide-inner,
		#home-carousel .block-img,
		#home-carousel .slide-inner,
		#home-carousel .block-title-container,
		.block-home-horizontal,
		.home-row .block-home-horizontal .block-img,
		.home-row .block-home-horizontal .block-title-container,
		.home-row .block-home-trending,
		.home-bottom#home-bottom-one .body,
		.home-bottom#home-bottom-one .side,
		.home-bottom#home-bottom-three .body,
		.home-bottom#home-bottom-three .side{
			width: 100% !important;
			max-width: 100% !important;
			display: block !important;
		}
		.home-bottom#home-bottom-one .side img{
			margin: 0 auto;
			display: block;
		}
		.tag-buttons a, .tag-buttons a:visited{
			color: #000 !important;
		}
		.home-bottom#home-bottom-three:before{
			display: none;
		}
		.home-bottom#home-bottom-three .body figure img{
			position: relative !important;
			margin: 0 auto;
			display: block;
		}
		.home-bottom#home-bottom-three .body figcaption,
		.home-bottom#home-bottom-three .body figcaption .caption,
		.home-bottom#home-bottom-three .body figcaption .photo-credit{
			position: relative;
			bottom: 0;
			text-align: center;
		}

		//Router Pages
		.router-nav.stuck{
			display: none !important;
		}
		.router-feature,
		.grid-cascade .grid-column:first-child,
		.grid-cascade .grid-column ~ .grid-column{
			width: 100% !important;
			max-width: 100% !important;
			display: block !important;
		}
		.router-feature .block-title-container.feature-title,
		.router-feature .block-title-container.feature-title .block-link{
			padding: 0 !important;
			margin: 0 !important;
		}
}
