//////Router Page Body////
.page-body.router-page{
 padding: 0 12px $base-margin;
  @media (min-width: $bp-small){
    padding: 0 30px 30px;
  }
  @media (min-width: $bp-medium){
    padding: 0px 30px 60px;
  }
  @media (min-width: $bp-large){
    padding: 0px 84px 60px;
  }
}
#router-body{
  @include column(12);
}
.router-header{
  @include column(12);
  text-align: center;
  margin-bottom: $base-margin;
  padding-top: $base-margin;
  @media (min-width: $bp-small){
    padding-top: $base-margin;
  }
  @media (min-width: $bp-medium){
    padding-top: 60px;
  }
  .router-title{
    font-family: $font-stack-special !important;
    display: inline-block;
    //color: $light-text-color;
    font-size: 34px;
    line-height: 0.84375;
    letter-spacing: 0.41px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: $base-margin;
		@media(min-width: $bp-small){
			font-size: 48px;
		}
    @media(min-width: $bp-medium){
			font-size: 64px;
		}
  }
  .router-sub-title{
    display: block;
    font-family: $font-stack-special;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 300;
    color: $voice-orange;
    margin-bottom: $base-margin*2;
  }
}
.router-nav{
  margin-bottom: $base-margin;
  z-index: 100;
  li{
    display: none;
    @media (min-width: 860px){
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 1.125;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      margin-bottom: 12px;
      margin-bottom: 0;
    }
    @media (min-width: 940px){
      font-size: 16px;
    }
    @media (min-width: $bp-xlarge){
      font-size: 18px;
    }
  }
  a, a:visited{
    position: relative;
    display: inline-block;
    padding: 5px 5px 7px;
    margin: 0 9px;
    color: rgba($primary-text-color, 0.6);
    transition: all 50ms ease-in-out;
    @media (min-width: $bp-medium){
      padding: 5px 0px 7px;
    }
    @media (min-width: $bp-xlarge){
      padding: 5px 10px 7px;
    }
    &:after{
      content: '';
      margin: 0 auto;
      border-bottom: 3px solid $voice-orange;
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      transition: left 150ms ease-in-out, right 150ms ease-in-out;
    }
    &:hover, &:focus, &:active{
      color: rgba($primary-text-color, 1);
      text-decoration: none;
      &:after{
        opacity: 1;
        left: 0;
        right: 0;
      }
    }
  }
  .current-page{

    a, a:visited{
      color: rgba($primary-text-color, 1);
      &:after{
        content: '';
        margin: 0 auto;
        border-bottom: 3px solid $voice-orange;
        position: absolute;
        opacity: 1;
        bottom: 0;
        left: 0;
        right: 0;
        transition: left 150ms ease-in-out, right 150ms ease-in-out;
      }
      &:hover, &:focus, &:active{
        &:after{
          transition: left 100ms ease-in-out, right 100ms ease-in-out;
          left: 5%;
          right: 5%;
        }
      }
    }
  }
  //Sticky Version
  &.stuck{
    display: none;
    @media (min-width: $bp-large){
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: $voice-orange;

    }
    a, a:visited{
      position: relative;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.1px;
      border-bottom: 0;
      color: rgba($light-text-color, 0.5);
      padding: 18px 20px;
      margin: 0;
      &:after{
        transition: none;
      }
      @media (min-width: $bp-medium){
        font-size: 14px;
        padding: 18px 20px;
      }
      @media (min-width: $bp-xlarge){
        font-size: 16px;
        padding: 18px 20px;
      }
      &:hover, &:active, &:focus{
        color: $light-text-color;
        border-bottom: 0 !important;
        padding: 18px 20px !important;
        margin-bottom: 0 !important;
        &:after{
          content: "";
          width: 85%;
          position: absolute;
          bottom: 12px;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 2px solid white;
        }
      }
    }
    .current-page a{
      background: rgba(255,255,255,0.25);
      border-bottom: 0;
      color: $light-text-color !important;
      &:after{
        content: "";
        width: 85%;
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 2px solid white;
      }
    }
  }//end of sticky version styles


}
.router-feature{
  margin-bottom: $base-margin*2;
  .feature-img{
    position: relative;
    box-shadow: $inset-shadow;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 90.839623%;
    @media (min-width: $bp-medium){
      padding-bottom: 51.487827%;
    }
  }
  .block-title-container.feature-title{
    @include column(11);
    @include push(0.5);
    margin-top: -30px;
    position: relative;
    @media (min-width: $bp-small){
      margin-top: -60px;
    }
    @media (min-width: $bp-medium){
      @include column(10);
      @include push(1);
      position: relative;
      margin-top: -100px;
    }
    .block-link{

      @media (min-width: $bp-large){
        padding-left: 150px;
        padding-right: 150px;
        box-shadow: $box-box-shadow;
      }
      @media (min-width: $bp-xlarge){
        padding-left: 200px;
        padding-right: 200px;
      }
    }
  }
  // .block-link:hover, .block-link:focus{
  //   box-shadow: $box-shadow;
  // }
}



//Body with Side Column
//Advocacy Page
.router-body-side{
  @include column(12);
  @include flex-last;
  margin-bottom: $base-margin;
  @media (min-width: $bp-large){
    @include column(6);
    @include flex-first;
  }
  @media (min-width: $bp-xlarge){
    @include column(6);
  }
  aside{
    @include column(12);
    position: relative;
    margin-bottom: $base-margin;
    // &:hover, &:focus{
    //   box-shadow: $box-shadow;
    // }
    .row{
      display: block;
      @media (min-width: $bp-medium){
        display: flex;
      }
      @media (min-width: $bp-large){
        display: block;
      }
    }
  }
}
.router-body-main{
  @include column(12);
  @include flex-first;
  margin-bottom: $base-margin;
  @media (min-width: $bp-large){
    @include column(6);
    @include flex-last;
  }
  @media (min-width: $bp-xlarge){
    @include column(6);
  }
}


//Stories Router
.stories-router-body{
  .stories-block{
    @include column(12);
    margin-bottom: $base-margin;
    @media (min-width: $bp-medium){
      @include column(6);
    }
    .row{
      margin: 0;
      display: block;
    }
    .block-title-container{
      @include column(11);
      @include push(0.5);
      margin-top: -60px;
      z-index: 1;
      position: relative;
      @media (min-width: $bp-large){
        @include column(10);
        @include push(1);
        margin-top: -120px;
      }
      .block-link{
        box-shadow: $box-box-shadow;
      }
    }
    // .block-link:hover,
    // .block-link:focus{
    //   box-shadow: $box-shadow;
    // }
    .block-img{
      @include column(12);
      &.grid-img{
        padding-bottom: 90.839623%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          font-family: 'object-fit: cover;';
        }
      }
    }
  }
}
