//Search Results Page
.path-search{
  background: $white !important;
  .search-form.search-page-form{
    .js-form-type-search{
      label{
        font-family: $font-stack-sans;
        font-size: 22px;
        line-height: 1.33333333;
        display: inline-block;
        letter-spacing: 0.75px;
        font-weight: 300;
        color: $voice-orange;
        margin-bottom: 0;
        @media(min-width: $bp-small){
          font-size: 32px;
          line-height: 1.5;
        }
      }
    }
    input[type="search"]{
      width: 100%;
      margin-right: -125px;
      padding-right: 130px;
      max-width: 100%;
      float: left;
      border-radius: $fh-border-radius;
      margin-bottom: $base-margin/2;
      &:focus{
        border: 1px solid #c8c8c8;
        background: rgba(#c8c8c8, 0.25);
      }
    }
    input[type="submit"]{
      margin-bottom: $base-margin/2;
      height: 46px;
      width: 125px;
      float: left;
      font-family: $font-stack-sans;
      background-color: $voice-orange;
    	text-decoration: none;
      cursor: pointer;
    	text-align: center;
    	vertical-align: middle;
    	background-image: none;
    	-webkit-appearance: none;
    	display: inline-block;
    	font-weight: normal;
    	border: 0;
      border-top-right-radius: $fh-border-radius;
      border-bottom-right-radius: $fh-border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    	color: $btn-text-color;
    	text-decoration: none;
    	&:visited{
    		color: $btn-text-color;
    		&:hover, &:focus, &:active{
    			color: $btn-text-color;
          background-color: darken($voice-orange, 5%);
        	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        	outline: 0;
        	transform: scale(1.05);
    		}
    	}
    	&:hover, &:focus, &:active{
    		color: $btn-text-color;
    	}
    }
    .search-help-link{
      clear: both;
      @include clearfix();
      display: block;
      width: 100%;
      margin-bottom: $base-margin;
    }
    //H2 for Drupal Results
    h2, .search-results-title{
      display: block;
      @include clearfix;
      font-size: 28px !important;
      letter-spacing: 0.31px;
      line-height: 1.28571429 !important;
      margin-bottom: $base-margin;
      @media(min-width: $bp-small){
        font-size: 48px !important;
        line-height: 1.125 !important;
      }
      font-family: $font-stack-special !important;
      font-weight: 300;
      letter-spacing: 1.7px;
      color: $special-teal-dark;
      // &:before{
      //   content: "\201C";
      //   display: inline;
      // }
      // &:after{
      //   content: "\201D";
      //   display: inline;
      // }
    }
  }
}


//Search List
.search-page-list{
  list-style: none;
  @include column(12);
  margin: 0;
  margin-bottom: $base-margin;

  .search-result-item{
    margin-bottom: $base-margin*2;
  }
}
//Search Topic
.search-topic-area{
  width: 100%;
  display: block;
  .search-topic{
    font-family: $font-stack-sans;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $voice-orange;
  }
  a, a:visited{
    color: $voice-orange !important;
    &:hover, &:focus, &:active{
      color: $voice-orange !important;
    }
  }
}
//Search Title
.search-title-area{
  width: 100%;

  &.no-min-height{
    min-height: initial;
  }
  .search-title{
    margin: 0;
    font-family: $font-stack-special !important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $primary-text-color;
    @media (min-width: $bp-small){
      font-size: 20px;
    }
    a, a:visited{
      color: $primary-text-color !important;
      &:hover, &:focus, &:active{
        color: $primary-text-color !important;
      }
    }
  }
}
//Search Date
.search-date-area{
  width: 100%;
  position: relative;
  display: block;
  .search-date{
    font-family: $font-stack-sans;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: #C6C6C6;
  }
}
//Search Blurb
.search-blurb{
  font-size: 13px;
  line-height: 1.6;
  @media (min-width: $bp-small){
    font-size: 15px;
  }
}
