//Social Share//
.share-custom{
  background: #F6F6F6;
  text-align: center;
  padding: 12px 0;
  .share-title{
    display: inline-block;
    font-family: $font-stack-special;
    font-size: 18px;
    color: #00708A;
    text-transform: uppercase;
  }
  ul{
    margin: 5px 0 10px;
    padding: 0;
    list-style: none;
    @media (min-width: $bp-large){
      margin: 20px 0;
    }
  }
  li{
    display: inline-block;
    @media (min-width: $bp-large){
      display: flex;
      justify-content: center;
    }
  }
  a{
    display: inline-block;
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $voice-orange;
    transition: all 150ms linear;
    margin-bottom: 3px;

    &.twitter{
      background: #45A8E3;
    }
    &.facebook{
      background: #42559B;
    }
    &.pinterest{
      background: #C6172A;
    }
    &.linkedin{
      background: #0177B5;
    }
    &.share-general{
      background: #1A8B52;
    }
  }
  a, a:visited{
    color: $light-text-color !important;
    text-decoration: none;
    &:hover, &:focus{
      color: $light-text-color !important;
      text-decoration: none;
      transform: scale(0.95);
    }
    &:active{
      color: $light-text-color !important;
      transform: scale(0.90);
    }
  }
}

.btn-action{
  padding: 3px 0;
  a, a:visited, a:hover, a:active, a:focus{
    text-decoration: none;
  }
  .btn{
    display: block;
    width: 100%;
    background: white;
    font-family: $font-stack-sans;
    font-size: 14px;
    letter-spacing: 0.31px;
    font-weight: 400;
    color: #00708A;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #F6F6F6;
    border-radius: 0;
    padding: 10px 0;
    margin: 0 0 3px;
    &:hover, &:focus, &:active{
      color: #00708A;
      background: #F6F6F6;
    }
    a, a:visited{
      color: #00708A;
      &:hover, &:focus, &:active{
        color: #00708A;
      }
    }
  }
}
