/* ================================
   Tabs
   ================================ */
.tabs {
    display: block;
}

ul.tabs {
 	margin: 0;
 	padding: 0;
 	list-style: none;
	width: 100%;
	float: left;
}
ul.tabs .tab-trigger {
   margin: 0;
   cursor: pointer;
   display: block;
}
ul.tabs .tab-trigger.active {
	font-weight: bold;
}

//Tabs - Full Body
.full-body-tab{
	.tab-trigger{
		width: 50%;
		float: left;
		text-align: center;
		border-top: 5px solid #fff;
		background: $gray-light;
		padding-bottom: 5px;
	}

	.tab-trigger.active{
		border-top: 5px solid $gray;
		background: $gray;
	}
	.tab-content{
		clear: both;
		padding: $base-margin;
		border: 1px solid $gray-light;
	}
}
