
/* ================================
   Forms - Custom
   ================================ */

//Responsive Tables
.table-responsive{
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    background-color: #eee;
    font-weight: bold;
  }
  th,
  td {
    text-align: left;
  }
  /* Stack rows vertically on small screens */
  @media (max-width: 600px) {
    /* Hide column labels */
  	thead tr {
  		position: absolute;
  		top: -9999em;
  		left: -9999em;
  	}

  	/* Leave a space between table rows */
    tr{
      margin-bottom: 0.5em;
    }
    /* Get table cells to act like rows */
    tr,
    td {
  		display: block;
  	}
  	td {
  	/* Leave a space for data labels */
  		padding-left: 50%;
      margin-bottom: -1px;
  	}
  	/* Add data labels */
    td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      margin-left: -100%;
      width: 100%;
    }
  }
  /* Stack labels vertically on smaller screens */
  @media (max-width: 400px) {
    td {
      padding-left: 0.5em;
    }
    td:before {
      display: block;
      // margin-bottom: 0.5em;
      margin-left: 0;
    }
  }
}


//Scroll / Overflow / Legacy Table
.table-scroll{
  overflow: auto;
  margin-bottom: 0.5em;
  position: relative;
  table{
    display: block;
    width: auto;
    margin-bottom: 0;
  }
}
