// Topics Page
.topics-page{
  background: $white !important;
  .general-title{
    font-family: $font-stack-sans !important;
    font-size: 32px !important;
    color: $voice-orange !important;
  }
  // #right-column{
  //   padding-top: $base-margin*1.5;
  // }
}
.trending-topics .topics-inner{
  background: $voice-orange;
}
.all-topics .topics-inner{
  background: $special-teal-dark;
}
.trending-topics, .all-topics{
  margin-bottom: $base-margin;
  @include column(12);
  .topics-inner{
    padding: 36px 48px 30px;
  }
  .topics-header{
    @include column(12);
    font-family: $font-stack-special;
    margin-bottom: $gutter-small;
  }
  .sub-title{
    display: inline-block;
    color: $light-text-color;
    font-size: 28px;
    line-height: 1.125;
    font-weight: 300;
    margin-bottom: $base-margin;
    @media (min-width: $bp-medium){
      font-size: 48px;
      letter-spacing: 0.31px;
    }
  }

  li{
    display: block;
    margin-right: 0;
    margin-bottom: $gutter-small;
    @include column(12);
    @media (min-width: $bp-medium){
      @include column(6);
    }
    @media (min-width: $bp-large){
      @include column(4);
    }
  }
  .tag-buttons{
    @include row(12);
    padding: 0 !important;
    margin: 0 3px 0 -22px;

		a, a:visited{
      text-align: left;
      line-height: 1.35;
			background: rgba(0,0,0,0);
      border: 2px solid rgba(0,0,0,0.05);
			&:hover, &:focus{
				background: rgba(0,0,0,0.05);
        border: 2px solid rgba(0,0,0,0);
			}
		}
	}
}

.news-btns {
    ul {
        @media (min-width: $bp-small) {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}
