/* ================================
   Typography -- Custom
   ================================ */

	 h1,h2,h3,h4,h5,h6{
		 color: $special-teal-dark;
		 a, a:visited{
			 color: $special-teal-dark;
			 &:hover, &:focus, &:active{
				 color: $special-teal-dark;
			 }
		 }
	 }
	 small, .small-text{
		 font-size: 80%;
		 margin-bottom: $base-margin;
		 display: block;
	 }
	a.fancy-link, a.fancy-link:visited{
		transition: color .15s;
		text-decoration: none;
		color: $link-text-color;
		background: linear-gradient($background-color,$background-color),linear-gradient($background-color,$background-color),linear-gradient($link-underline-color,$link-underline-color);
		background-size: .05em 1px,.05em 1px,1px 1px;
		background-repeat: no-repeat,no-repeat,repeat-x;
		background-position: 0 95%,100% 95%,0 95%;
		&:hover, &:focus, &:active{
			color: $link-hover-color;
			background: 0 0;
		}
	}


  .more-link:after{
    content: "\00BB";
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    padding-left: 5px;
    vertical-align: text-top;
    transition: all 100ms ease-in-out;
  }
  .more-link:hover:after{
    transform: translateX(7px);
  }




	//Block Quote Standard
	blockquote.quote-standard {
		width: 100%;
		position: relative;
		display: block;
		float: left;
		font-family: $font-stack-special;
		font-size: 17px;
		line-height: 1.33333333;
		letter-spacing: 0.14px;
		font-weight: bold;
		color: #FF6B4E;
		padding: 0 50px;
		@media (min-width: $bp-medium){
			font-size: 21px;
		}
		.quote-open,.quote-close{
			position: absolute;
			width: 35px;
		}
		& p,
		& q {
			position: relative;
			display: block;
		  padding: $base-margin/4 0;

			&:before{
				content: "";
				width: 42px;
				height: 35px;
				position: absolute;
				top: 0;
				left: -50px;
				background-image: url(../images/quote-start-orange.png);
				background-size: 36px;
				background-repeat: no-repeat;
			}
			&:after{
				content: "";
				width: 42px;
				height: 35px;
				position: absolute;
				bottom: 0;
				right: -50px;
				background-image: url(../images/quote-end-orange.png);
				background-size: 36px;
				background-repeat: no-repeat;
			}
		}
		& footer,
		& cite{
			font-size: 16px;
			line-height: 1.3125;
			letter-spacing: 0.1px;
			font-weight: normal;
			&:before{
				content: "\2013";
				padding-right: 3px;
			}
		}
}


//Block Quote Enhanced
blockquote.quote-enhanced {
	width: 100%;
	position: relative;
	display: block;
	float: left;
	font-family: $font-stack-sans;
	font-size: 17px;
	line-height: 1.14285714;
	letter-spacing: 0.24px;
	font-weight: normal;
	font-style: italic;
	color: $special-teal-dark;
	@media (min-width: $bp-medium){
		font-size: 21px;
	}
	.enhanced-inner{
		background: #F1F8FF;
		padding: 24px;
		border-top: 2px solid #FF6B4E;
		border-bottom: 2px solid #FF6B4E;
		.row{
			margin: 0;
		}
	}
	.enhanced-img{
		@include column(fixed);
		width: 80px;
		position: relative;
		@media (min-width: $bp-small){
			width: 120px;
		}
		.enhanced-img-inner{
			position: relative;
			height: 120px;
		}
		.enhanced-portrait{
			position: absolute;
			top: 32%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 80px;
			width: 80%;
			margin-top: 10px;
			border-radius: 20px;
			background-repeat: no-repeat;
			background-size: 100%;
			background-size: cover;
			background-position: center;
			@media (min-width: $bp-small){
				top: 50%;
				left: 50%;
				height: 120px;
				width: 70%;
			}

			@media (min-width: $bp-xlarge){
				width: 110%;
			}
		}
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			height: 100%;
			width: 100%;
			background-image: url(../images/bubble-orange.png);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	.enhanced-quote{
		@include column(auto);
	}
	& p,
	& q {
		position: relative;
		display: block;

		&:before{
			content: "\201C";
		}
		&:after{
			content: "\201D";
		}
	}
	& footer,
	& cite{
		font-size: 14px;
		line-height: 1.14285714;
		letter-spacing: 0.16px;
		font-weight: normal;
		font-style: normal;
		.quote-credit{
			display: block;
			margin-bottom: $base-margin/2;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}




//Page Color Changes
@mixin inbodyColors($colorValue, $colorName){
	.inbody-side{
		header{
			background: $colorValue;
		}
		.side-inner{
			background: rgba($colorValue,0.1);
			border-bottom: 5px solid $colorValue;
		}
	}
	blockquote.quote-standard{
		color: $colorValue;
		& p,
		& q {
			&:before{
				background-image: url(../images/quote-start-#{$colorName}.png);
			}
			&:after{
				background-image: url(../images/quote-end-#{$colorName}.png);
			}
		}
	}
	blockquote.quote-enhanced{
		.enhanced-inner{
			border-top: 2px solid $colorValue;
			border-bottom: 2px solid $colorValue;
		}
		.enhanced-img:after{
			background-image: url(../images/bubble-#{$colorName}.png);
		}
	}
	.legacy-article .article-body-content aside{
		background: rgba($colorValue,0.1);
		border-bottom: 5px solid $colorValue;
	}
}

.purple-inbody{
	@include inbodyColors(#6B1B69, purple);
}
.blue-inbody{
	@include inbodyColors(#007C89, blue);
}
.red-inbody{
	@include inbodyColors(#EF463B, red);
}
.green-inbody{
	@include inbodyColors(#7DBD3E, green);
}
.orange-inbody{
	@include inbodyColors(#FF6B4E, orange);
}
