<div class="ad-timed-bottom">
	<div class="contained">
		<div class="row">
			<div class="ad-inner">
				<!-- <img src="http://placehold.it/728x90?text=Advertisement"> -->
				<iframe src="//giphy.com/embed/QRVw5vEdLJauI" width="728" height="90" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <button class="ad-close-button">
					<span class="zmdi zmdi-close-circle-o "><span class="screen-reader-text"></span></span>
				</button>
			</div>
		</div>
	</div>
</div>
