<footer id="article-footer">
  <h2 class="article-footer-title">Related Articles</h2>
  <div class="row">
    <article class="block">
      <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_14.jpg" %>
        </div>
        <div class="block-title-container block-height-cap">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>
    <article class="block">
      <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_6.jpg" %>
        </div>
        <div class="block-title-container block-height-cap">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>
    <article class="block no-image">
      <div class="row">
        <div class="block-title-container">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>
  </div>
</footer>
