
<!-- Footer -->
<footer id="footer" class="track-section-links" data-title="Footer">
    <div class="footer-main">
    	<div class="contained">
        <div class="footer-main-inner">
          <div class="footer-main-left">
            <div class="footer-logo">
              <%= image_tag "ONS-Voice.png" %>
            </div>
            <span class="footer-tagline">News, Views, and Advocacy From the Oncology Nursing Society</span>
          </div><!--footer-main-left-->
          <div class="footer-main-middle">
            <div class="row">
              <nav class="nav-left">
                <li><a href="/" alt="/" title="/">Conferences</a></li>
                <li><a href="/" alt="/" title="/">Contributors and Staff</a></li>
                <li><a href="/" alt="/" title="/">Contact Us</a></li>
              </nav>
              <nav class="nav-right">
                <li><a href="/" alt="/" title="/">Advertising</a></li>
                <li><a href="/" alt="/" title="/">Disclosure</a></li>
                <li><a href="/" alt="/" title="/">Sitemap</a></li>
              </nav>
            </div>
          </div><!--footer-main-middle-->
          <div class="footer-main-right">
            <button class="btn btn-primary btn-large">Subscribe to Print Edition</button>
          </div><!--footer-main-right-->
        </div><!--footer-inner-->
    	</div><!--contained-->
    </div><!--footer-main-->
    <div class="social-footer">
      <div class="contained">
        <div class="social-footer-inner">
          <div class="social-footer-left">
          <%= partial "custom/nav-social" %>
          </div>
          <div class="social-footer-right">
            <nav class="nav-ons">
              <li><a href="/" alt="/" title="/"><div class="block-logo orange"></div><strong>ONS</strong></a></li>
              <li><a href="/" alt="/" title="/"><div class="block-logo blue"></div>Oncology Nursing Foundation</a></li>
              <li><a href="/" alt="/" title="/"><div class="block-logo red"></div><strong>ONCC</strong></a></li>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="post-footer">
        <div class="contained">
            <div class="post-footer-inner">
                <span class="post-footer-text">
                    &copy; Copyright 2016 Oncology Nursing Society
                </span><!--post-footer-left-->
            </div>
        </div>
    </div>
</footer>




<div class="back-to-top">
    <div class="contained">
        <div class="row">
            <div class="top-trigger"><a>Back to Top &#9650;</a></div>
        </div>
    </div>
</div>



<!-- / Footer -->
