<nav class="">
	<li><a href="/" alt="/" title="/">Why ONS</a></li>
	<li><a href="/" alt="/" title="/">Join/Renew</a></li>
	<li><a class="trigger" rel="right-offcanvas" alt="/" title="/">My Account</a></li>
	<li><a href="/" alt="/" title="/">Contact</a></li>
</nav>
