<div class="grid-cascade">
  <article>
    <div class="row">
      <div class="news-topics block-height-cap">
        <div class="topics-inner">
          <div class="row">
            <div class="topics-header">
              <span class="sub-title">Trending Topics</span>
            </div>
            <ul class="tag-buttons">
              <li><a href="/" alt="/" title="">ONS Congress</a></li>
              <li><a href="/" alt="/" title="">Coordinated Care</a></li>
              <li><a href="/" alt="/" title="">Research</a></li>
              <li><a href="/" alt="/" title="">Safety</a></li>
            </ul>
            <div class="view-all-topics">
              <a class="more-link">View All Topics</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="row">
      <div class="block-img">
        <%= image_tag "assets/images/placeholders/stock-faces/stock_face_1.jpg" %>
      </div>
        <div class="block-title-container">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Vestibulum id ligula porta felis euismod semper.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-title-container no-img">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-title-container no-img">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Euismod Elit Lorem Porta Tortor</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-title-container no-img">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
      <div class="list-block teal">
        <div class="list-header">
          <span class="list-title">Focus On</span>
          <span class="list-subject">Lympoma</span>
        </div>
        <div class="list-body">
          <ul>
            <li><a href="/" alt="">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</a></li>
            <li><a href="/" alt="">Aenean lacinia bibendum nulla sed consectetur.</a></li>
            <li><a href="/" alt="">Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></li>
          </ul>
          <a class="more-link" href="/" alt="">View All</a>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_2.jpg" %>
        </div>
        <div class="block-title-container">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_3.jpg" %>
        </div>
        <div class="block-title-container">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_7.jpg" %>
        </div>
        <div class="block-title-container">
  				<a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
  				</a>
  			</div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-img">
          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_5.jpg" %>
        </div>
        <div class="block-title-container">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-title-container no-img">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
    </div>
  </article>
  <article>
    <div class="row">
        <div class="block-title-container no-img">
          <a class="block-link" href="/" title="" alt="">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Topic</div>
              </div>
              <div class="block-title-area">
                <h1 class="block-title">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              </div>
              <div class="block-date-area">
                <span class="block-date">August 06, 1991</span>
              </div>
            </div>
          </a>
        </div>
    </div>
  </article>
</div>
<div class="grid-cascade-more">
  <button>Show More</button>
</div>
