<div id="search-overlay" class="triggered-area">
	<div id="search-close" class="offcanvas-close-button">
		<span class="zmdi icon zmdi-close">
			<span class="screen-reader-text">Search</span>
		</span>
	</div>
	<form action="/search/index.html" class="drop-search">
		<div class="row">
			<button class="">
					<span class="zmdi zmdi-search icon"><span class="screen-reader-text">Search</span></span>
			</button>
			<label class="screen-reader-text" for="page-top-search">Search the site:</label>
			<input id="page-top-search" maxlength="255" name="q" placeholder="Start typing something." type="search">
		</div>
	</form>
</div>

<header id="header">
	<div class="header-pre">
		<span class="header-tagline">News, Views, and Advocacy From the Oncology Nursing Society</span>
	</div>
	<div class="header-main">
			<div class="header-main-inner">
				<div class="header-main-left">
					<div class="header-left-inner">
						<div class="logo-container" tabindex="1">
							<a href="/index.html" alt="" title=""><%= image_tag "ONS-Voice.png" %></a>
						</div>
					</div>
				</div><!--header-main-left-->
				<div class="header-main-right">
					<div class="row">
						<div class="header-right-nav">
							<%= partial "custom/nav" %>
						</div>
						<div class="header-right-social">
							<%= partial "custom/nav-social" %>
						</div>
					</div>
				</div><!--header-main-right-->
				<div class="nav-search trigger block-scroll" rel="search-overlay">
					<div class="nav-search-inner">
						<span class="zmdi icon zmdi-search">
							<span class="screen-reader-text">Search</span>
						</span>
					</div>
				</div>

			</div><!--header-inner-->
			<nav class="nav-main" id="nav-small">
				<li class="top-level-li">
					<a class="top-level-a trigger" href="#" alt="/" title="/" rel="news-sub">News &amp; Views</a>
				</li>
				<li class="top-level-li">
					<a class="top-level-a trigger" href="#" alt="/" title="/" rel="advocacy-sub">Advocacy</a>
				</li>
				<li class="top-level-li">
					<a class="top-level-a trigger" href="#" alt="/" title="/" rel="stories-sub">Stories</a>
				</li>
			</nav>
	</div><!--main-header-->
</header>
