<div id="home-carousel">
  <article class="slide">
    <div class="slide-inner">
      <div class="block-img">
        <%= image_tag "assets/images/placeholders/stock-faces/stock_face_2.jpg" %>
      </div>
      <div class="block-title-container">
        <a class="slide-link" href="/" title="" alt="">
          <div class="block-title-inner">
            <div class="block-topic-area">
              <div class="block-topic">Topic</div>
            </div>
            <div class="block-title-area">
              <div class="block-title">Nibh Lorem Condimentum Pharetra Parturient</div>
              <div class="block-blurb"><p>Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
            </div>
            <div class="block-date-area">
              <span class="block-date">August 06, 1991</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </article>
  <article class="slide">
    <div class="slide-inner">
      <div class="block-img">
        <%= image_tag "assets/images/placeholders/stock-faces/stock_face_5.jpg" %>
      </div>
      <div class="block-title-container">
        <a class="slide-link" href="/" title="" alt="">
          <div class="block-title-inner">
            <div class="block-topic-area">
              <div class="block-topic">Topic</div>
            </div>
            <div class="block-title-area">
              <div class="block-title">Donec sed odio dui.</div>
              <div class="block-blurb"><p>Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
            </div>
            <div class="block-date-area">
              <span class="block-date">August 06, 1991</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </article>
  <article class="slide">
    <div class="slide-inner">
      <div class="block-img">
        <%= image_tag "assets/images/placeholders/stock-faces/stock_face_12.jpg" %>
      </div>
      <div class="block-title-container">
        <a class="slide-link" href="/" title="" alt="">
          <div class="block-title-inner">
            <div class="block-topic-area">
              <div class="block-topic">Topic</div>
            </div>
            <div class="block-title-area">
              <div class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
              <div class="block-blurb"><p>Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
            </div>
            <div class="block-date-area">
              <span class="block-date">August 06, 1991</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </article>
</div>
<div id="home-carousel-buttons" >
  <a class="button home-button--previous">
    <div class="arrow-img prev">
      <%= image_tag "arrow_icon.png" %>
    </div>
  </a>
  <a class="button home-button--next">
    <div class="arrow-img next">
      <%= image_tag "arrow_icon.png" %>
    </div>
  </a>
</div>
