<nav class="nav-social">
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-facebook">
        <span class="screen-reader-text">Facebook</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-twitter">
        <span class="screen-reader-text">Twitter</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-instagram">
        <span class="screen-reader-text">Instagram</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-rss">
        <span class="screen-reader-text">RSS</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-youtube-play">
        <span class="screen-reader-text">YouTube</span>
      </span>
    </a>
  </li>
  <li>
    <a href="/" alt="/" title="/">
      <span class="zmdi icon zmdi-linkedin">
        <span class="screen-reader-text">LinkedIn</span>
      </span>
    </a>
  </li>
</nav>
