<nav class="nav-main" id="nav-large" role="navigation">
	<li class="top-level-li" role="menuitem" aria-haspopup="true">
		<a class="top-level-a trigger" href="#" alt="/" title="/" rel="news-sub" tabindex="1">News &amp; Views</a>
	</li>
	<li class="top-level-li" role="menuitem" aria-haspopup="true">
		<a class="top-level-a trigger" href="#" alt="/" title="/" rel="advocacy-sub"  tabindex="1">Advocacy</a>
	</li>
	<li class="top-level-li" role="menuitem" aria-haspopup="true">
		<a class="top-level-a trigger" href="#" alt="/" title="/" rel="stories-sub" tabindex="1">Stories</a>
	</li>
</nav>
<div id="news-sub" class="nav-sub-drop triggered-area">
	<div class="row">
		<div class="news-nav">
			<div class="row">
				<div class="news-nav-inner">
					<div class="sub-header">
						<span class="sub-title">News &amp; Views</span>
					</div>
					<ul class="nav-blocks">
						<li class="one"><a href="/news-views.html" alt="/" title="">Latest Articles</a></li>
						<li class="two"><a href="/" alt="/" title="">Clinical Practice</a></li>
						<li class="three"><a href="/news.html" alt="/" title="">ONS News</a></li>
						<li class="four"><a href="/" alt="/" title="">ONS Leadership</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="news-topics">
			<div class="topics-inner">
				<div class="row">
					<div class="topics-header">
						<span class="sub-title">Trending Topics</span>
					</div>
					<ul class="tag-buttons">
						<li><a href="/" alt="/" title="">ONS Congress</a></li>
						<li><a href="/" alt="/" title="">Coordinated Care</a></li>
						<li><a href="/" alt="/" title="">Research</a></li>
						<li><a href="/" alt="/" title="">Safety</a></li>
						<li><a href="/" alt="/" title="">Treatments</a></li>
						<li><a href="/" alt="/" title="">Standards</a></li>
						<li><a href="/" alt="/" title="">Quality Outcomes</a></li>
						<li><a href="/" alt="/" title="">Career Guidance</a></li>
					</ul>
					<div class="view-all-topics">
						<a class="more-link">View All Topics</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="advocacy-sub" class="nav-sub-drop triggered-area">
	<div class="row">
		<div class="advocacy-inner">
			<div class="sub-header">
				<span class="sub-title">Advocacy</span>
			</div>
			<ul class="nav-blocks">
				<li class="one"><a href="/advocacy.html" alt="/" title="">Daily Brief</a></li>
				<li class="two"><a href="/" alt="/" title="">Weekly Updates</a></li>
				<li class="three"><a href="/" alt="/" title="">Press Releases</a></li>
				<li class="four"><a href="/" alt="/" title="">In the News</a></li>
				<li class="five"><a href="/" alt="/" title="">Capitol Hill Gang</a></li>
				<li class="six"><a href="/" alt="/" title="">Get Involved</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="stories-sub" class="nav-sub-drop triggered-area">
	<div class="row">
		<div class="stories-inner">
			<div class="sub-header">
				<span class="sub-title">Stories</span>
				<span class="tag-buttons">
					<a class="view-all-stories" href="/stories.html" alt="" title="">View All</a>
				</span>
			</div>
			<span class="nav-blocks mobile-only">
				<a class="view-all-stories" href="/stories.html" alt="" title="">View All</a>
			</span>
			<div id="stories-sub-carousel-container">
				<div id="stories-sub-carousel">
				<article class="slide">
					<div class="row">
						<div class="block-img">
		          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_19.jpg" %>
		        </div>
						<div class="block-title-container">
							<a class="block-link" href="/" title="" alt="">
								<div class="block-title-inner">
			            <div class="block-topic-area">
			              <div class="block-topic">Topic</div>
			            </div>
			            <div class="block-title-area">
			              <h1 class="block-title">Dapibus Justo Ullamcorper Mattis Sit</h1>
			            </div>
			            <div class="block-date-area">
			              <span class="block-date">August 06, 1991</span>
			            </div>
			          </div>
							</a>
						</div>
					</div>
				</article>
				<article class="slide">
					<div class="row">
						<div class="block-img">
		          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_18.jpg" %>
		        </div>
						<div class="block-title-container">
							<a class="block-link" href="/" title="" alt="">
								<div class="block-title-inner">
			            <div class="block-topic-area">
			              <div class="block-topic">Topic</div>
			            </div>
			            <div class="block-title-area">
			              <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
			            </div>
			            <div class="block-date-area">
			              <span class="block-date">August 06, 1991</span>
			            </div>
			          </div>
							</a>
						</div>
					</div>
				</article>
				<article class="slide">
					<div class="row">
						<div class="block-img">
		          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_17.jpg" %>
		        </div>
						<div class="block-title-container">
							<a class="block-link" href="/" title="" alt="">
								<div class="block-title-inner">
			            <div class="block-topic-area">
			              <div class="block-topic">Topic</div>
			            </div>
			            <div class="block-title-area">
			              <h1 class="block-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			            </div>
			            <div class="block-date-area">
			              <span class="block-date">August 06, 1991</span>
			            </div>
			          </div>
							</a>
						</div>
					</div>
				</article>
				<article class="slide">
					<div class="row">
						<div class="block-img">
		          <%= image_tag "assets/images/placeholders/stock-faces/stock_face_16.jpg" %>
		        </div>
						<div class="block-title-container">
							<a class="block-link" href="/" title="" alt="">
								<div class="block-title-inner">
			            <div class="block-topic-area">
			              <div class="block-topic">Topic</div>
			            </div>
			            <div class="block-title-area">
			              <h1 class="block-title">Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</h1>
			            </div>
			            <div class="block-date-area">
			              <span class="block-date">August 06, 1991</span>
			            </div>
			          </div>
							</a>
						</div>
					</div>
				</article>
			</div>
				<div id="story-carousel-buttons" disabled="disabled">
					<a class="button stories-button--previous">
						<div class="arrow-img prev">
							<%= image_tag "arrow_icon.png" %>
						</div>
					</a>
					<a class="button stories-button--next">
						<div class="arrow-img next">
							<%= image_tag "arrow_icon.png" %>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
