<form role="search" method="get" id="searchform" class="searchform" action="">
    <div>
        <label for="s" class="screen-reader-text">Search</label>
        <input type="search" id="s" name="s" value="" placeholder="Search"/>
        <button type="submit" class="btn btn-secondary"><i class="icon-search"><span class="screen-reader-text">Search</span></i></button>
    </div>
</form>