<div class="share-custom">
	<span class="share-title">Share</span>
	<ul>
		<li>
			<a class="share twitter" href="http://twitter.com/intent/tweet?status=TitleHere+http://www.replacethis.com" target="_blank">
				<span class="screen-reader-text">Share on Twitter</span>
				<span class="share-icon zmdi zmdi-twitter"></span>
			</a>
		</li>

		<li>
			<a class="share facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://www.replacethis.com&title=TitleHere" target="_blank">
				<span class="screen-reader-text">Share on Facebook</span>
				<span class="share-icon zmdi zmdi-facebook"></span>
			</a>
		</li>

		<li>
			<a class="share pinterest" href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=http://www.replacethis.com&is_video=false&description=TitleHere">
				<span class="screen-reader-text">Share on Pinterest</span>
				<span class="share-icon zmdi zmdi-pinterest"></span>
			</a>
		</li>


		<li>
			<a class="share linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.replacethis.com&title=TitleHere&source=TitleHere" target="_blank">
				<span class="screen-reader-text">Share on LinkedIn</span>
				<span class="share-icon zmdi zmdi-linkedin"></span>
			</a>
		</li>
		<!-- <li>
			<a class="share share-general" href="http://www.tumblr.com/share?v=3&u=http://www.replacethis.com&t=TitleHere" target="_blank">
				<span class="screen-reader-text">Share</span>
				<span class="share-icon zmdi zmdi-share"></span>
			</a>
		</li> -->
	</ul>
</div>
<div class="btn-action">
	<button class="btn">Subscribe</button>
	<button class="btn">Join ONS</button>
</div>
