
<div class="tabbed-container full-body-tab">
	<ul class="tabs">
		<li class="tab-trigger active" rel="tab1">Tab 1</li>
		<li class="tab-trigger" rel="tab2">Tab 2</li>
	</ul>
	<div class="tab-container">
		<div id="tab1" class="tab-content">

					Tab Number 1

		</div><!--tab-content #tab1 -->
		<div id="tab2" class="tab-content">

					Tab Number 2
				
		</div><!-- tab-content #tab2 -->
	</div><!-- .tab-container -->
</div>
