<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ONS Voice">
    <meta property="fb:admins" content="1351479273,1529199693">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta name="msapplication-TileColor" content="#8f053b">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="twitter:site" content="">
    <link rel="canonical" href="">
    <meta name="abstract" content="">
    <meta name="google-site-verification" content="Pf_0HDlr5X-f2K_UxHfcj02Vjp-xo5JRUjz137Fhv4c">
    <meta name="msvalidate.01" content="B46F887FAF1CF5078F9C95D3D023A30B">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta name="description" content="ONS Voice">

    <link rel="shortcut icon" href="/assets/images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#CCCCCC">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#231f20">
    <meta name="apple-mobile-web-app-title" content="ONS Voice">
    <!-- Custom CSS -->
    <%= stylesheet_link_tag "style" %>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Roboto+Slab:300,400,700|Roboto:300,300i,400,400i,500,700|Roboto+Condensed:400,700" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/assets/scripts/vendor/html5shiv.min.js"></script>
        <script src="/assets/scripts/vendor/respond.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </head>
