---
title: Advocacy | ONC Voice
layout: main
---

<div class="page-body router-page">
	<div class="router-header">
		<div class="router-header-inner">
			<h1 class="router-title">Advacacy</h1>
			<nav class="router-nav">
				<li class="current-page"><a href="/" alt="">Daily Brief</a></li>
				<li><a href="/" alt="">Weely Updates</a></li>
				<li><a href="/" alt="">Press Releases</a></li>
				<li><a href="/" alt="">In the News</a></li>
			</nav>
		</div>
	</div>
	<div class="router-feature">
		<div class="feature-inner">
			<div class="feature-img" style="background-image: url(assets/images/placeholders/stock-faces/stock_face_8.jpg);"></div>
			<div class="block-title-container feature-title">
				<a class="block-link" href="/" title="" alt="">
					<div class="block-title-inner">
            <div class="block-topic-area">
              <div class="block-topic">Topic</div>
            </div>
            <div class="block-title-area">
              <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
              <p class="block-blurb">Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            <div class="block-date-area">
              <span class="block-date">August 06, 1991</span>
            </div>
          </div>
				</a>
			</div>
		</div>
	</div><!--router-feature-->

	<div class="row">
		<div id="router-body">
			<div class="row">
				<div class="router-body-side">
					<aside class="list-block">
		        <div class="list-header">
		          <span class="list-title">Latest Headlines</span>
		        </div>
		        <div class="list-body">
		          <ul>
		            <li><a href="/" alt="">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</a></li>
		            <li><a href="/" alt="">Aenean lacinia bibendum nulla sed consectetur.</a></li>
		            <li><a href="/" alt="">Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></li>
		          </ul>
		          <a class="more-link" href="/" alt="">View All</a>
						</div>
		        </aside>
						<aside>
			        <div class="row">
			          <div class="block-img">
			            <%= image_tag "assets/images/placeholders/stock-faces/stock_face_9.jpg" %>
			          </div>
			          <div class="block-title-container block-height-cap">
			            <a class="block-link" href="/" title="" alt="">
			              <div class="block-title-inner">
			                <div class="block-topic-area">
			                  <div class="block-topic">Topic</div>
			                </div>
			                <div class="block-title-area">
			                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
			                </div>
			                <div class="block-date-area">
			                  <span class="block-date">August 06, 1991</span>
			                </div>
			              </div>
			            </a>
			          </div>
			        </div>
			      </aside>
						<aside>
			        <div class="row">
			          <div class="block-img">
			            <%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
			          </div>
			          <div class="block-title-container block-height-cap">
			            <a class="block-link" href="/" title="" alt="">
			              <div class="block-title-inner">
			                <div class="block-topic-area">
			                  <div class="block-topic">Topic</div>
			                </div>
			                <div class="block-title-area">
			                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h1>
			                </div>
			                <div class="block-date-area">
			                  <span class="block-date">August 06, 1991</span>
			                </div>
			              </div>
			            </a>
			          </div>
			        </div>
			      </aside>
		      </div><!--router-body-side-->
					<div class="router-body-main">
						<a class="twitter-timeline" href="https://twitter.com/ONSAlec" data-tweet-limit="10">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div><!--router-body-main-->
				</div>
			</div>
		</div>
	</div>
</div><!--page-body-->
