---
title: Authors | Elliance Inc.
layout: main
---

<div class="page-body general-page">
	<%= partial 'custom/breadcrumbs' %>
	<article>
		<header id="general-header">
			<div class="row">
				<div class="general-header-inner">
					<div class="general-header-label">
						<span class="general-label">
							Authored By
						</span>
					</div>
					<div class="general-header-title">
						<h1 class="general-title">Jane Doe</h1>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="general-body">
					<div class="row">
						<main role="main">
							<div class="general-body-content">
								<div class="row">
									<article class="block-horizontal">
						        <div class="row">
						          <div class="block-img">
						            <%= image_tag  "assets/images/placeholders/stock-faces/stock_face_10.jpg" %>
						          </div>
						          <div class="block-title-container">
						            <a class="block-link" href="/" title="" alt="">
						              <div class="block-title-inner">
														<div class="block-topic-area">
								              <div class="block-topic">Topic</div>
								            </div>
						                <div class="block-title-area">
						                  <h1 class="block-title">Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
						                </div>
						                <div class="block-date-area">
						                  <span class="block-date">August 06, 1991</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </div>
						      </article>
									<article class="block-horizontal">
						        <div class="row">
						          <div class="block-img">
						            <%= image_tag  "assets/images/placeholders/stock-faces/stock_face_15.jpg" %>
						          </div>
						          <div class="block-title-container">
						            <a class="block-link" href="/" title="" alt="">
						              <div class="block-title-inner">
														<div class="block-topic-area">
															<div class="block-topic">Topic</div>
														</div>
						                <div class="block-title-area">
						                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
						                </div>
						                <div class="block-date-area">
						                  <span class="block-date">August 06, 1991</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </div>
						      </article>
									<article class="block-horizontal no-image">
						        <div class="row">
						          <div class="block-title-container">
						            <a class="block-link" href="/" title="" alt="">
						              <div class="block-title-inner">
														<div class="block-topic-area">
															<div class="block-topic">Topic</div>
														</div>
						                <div class="block-title-area">
						                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
						                </div>
						                <div class="block-date-area">
						                  <span class="block-date">August 06, 1991</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </div>
						      </article>
									<div class="ad-iframe inbody-mobile">
										<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
									</div>
									<article class="block-horizontal no-image">
						        <div class="row">
						          <div class="block-title-container">
						            <a class="block-link" href="/" title="" alt="">
						              <div class="block-title-inner">
														<div class="block-topic-area">
															<div class="block-topic">Topic</div>
														</div>
						                <div class="block-title-area">
						                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
						                </div>
						                <div class="block-date-area">
						                  <span class="block-date">August 06, 1991</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </div>
						      </article>
									<article class="block-horizontal">
						        <div class="row">
						          <div class="block-img">
						            <%= image_tag  "assets/images/placeholders/stock-faces/stock_face_12.jpg" %>
						          </div>
						          <div class="block-title-container">
						            <a class="block-link" href="/" title="" alt="">
						              <div class="block-title-inner">
														<div class="block-topic-area">
															<div class="block-topic">Topic</div>
														</div>
						                <div class="block-title-area">
						                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
						                </div>
						                <div class="block-date-area">
						                  <span class="block-date">August 06, 1991</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </div>
						      </article>

								</div>
							</div><!--general-body-content-->
							<div class="pagination">
								<ul>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-left"></span></a></li>
									<li><a href="/" alt="">1</a></li>
									<li><a class="current-page" href="/" alt="">2</a></li>
									<li><a href="/" alt="">3</a></li>
									<li><a href="/" alt="">4</a></li>
									<li><a href="/" alt="">5</a></li>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-right"></span></a></li>
								</ul>
							</div>
						</main>
						<div id="right-column" class="">
							<div class="author-block side-block">
								<div class="author-block-img">
									<img src="http://placehold.it/500x600" title="/">
								</div>
								<div class="author-block-text">
									<div class="author-text-inner">
										<span class="author-name">Jane Doe</span>
										<span class="author-title">ONS Staff Writer</span>
										<span class="author-blurb">Jane Does is an ONS staff writer.</span>
									</div>
								</div>
							</div>

							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>

						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
	</article>
</div><!--page-body-->
