---
title: Big Image | Elliance Inc.
layout: main
---

<div class="page-body">
	<%= partial 'custom/breadcrumbs' %>
	<!-- <ul class="tabs primary">
		<li class="is-active"><a href="/news-and-views/mammography-cutoffs-should-be-based-individual-health-history" data-drupal-link-system-path="node/156" class="is-active">View<span class="visually-hidden">(active tab)</span></a></li>
		<li><a href="/node/156/edit" data-drupal-link-system-path="node/156/edit">Edit</a></li>
		<li><a href="/node/156/delete" data-drupal-link-system-path="node/156/delete">Delete</a></li>
	</ul> -->
	<article>
		<header id="article-header">
			<div class="row">
				<div class="article-header-inner">
					<div class="article-header-title">
						<h1 class="article-title">Setting the Standard</h1>
						<span class="article-sub-title">Implementing evidence-based oncology standards in your practice</span>
						<div class="article-credit">
							<span class="timestamp">November 1, 2016</span> | <span class="author">by <a href="/" alt="">Jane Doe</a> MSN, APRN, AOCNS &reg;</span>
						</div>
					</div>
					<div class="article-header-img">
						<figure class="img-container">
							<div class="article-hero-img" style="background-image: url(assets/images/placeholders/stock-faces/stock_face_9.jpg);" title="Image Title Goes Here"></div>
							<figcaption>
								<span class="caption">Carrie Tompkins Stricker, PhD, RN, AOCN®</span>
								<span class="photo-credit">Photo credit: ONS Voice</span>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="article-body">
					<div class="row">
						<div id="left-column" class="">
							<div class="sticky">
								<%= partial "custom/social-share" %>
							</div>
						</div>
						<main role="main">
							<div class="article-body-content">
								<p><span class="intro-paragraph">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</span></p>
								<div class="ad-iframe inbody-mobile">
									<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
								</div>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
								<h1>First Level Header</h1>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h2>Second Level Header</h2>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h3>Third Level Header</h3>
								<aside class="inbody-side side-right">
									<div class="side-inner">
										<header>
											<h1>Right Mulitdisciplinary Team For Change</h1>
										</header>
										<div class="side-body">
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
											<ul>
												<li>Amet Risus Fermentum</li>
												<li>Fusce Parturient</li>
												<li>Dapibus Cursus Mattis</li>
												<li>Lorem Ridiculus</li>
												<li>Maecenas sed diam eget risus varius blandit sit amet non magna. <a href="/">www.fda.gov/TobaccoProducts/PublicHealth Education/PublicEducationCampaigns/ TheRealCostCampaign/</a></li>
												<li>Sit Magna</li>
												<li>Aenean</li>
											</ul>
										</div>
									</div>
								</aside>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>

								<aside class="inbody-side side-left">
									<div class="side-inner">
										<header>
											<h1>Left Mulitdisciplinary Team For Change</h1>
										</header>
										<div class="side-body">
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
											<ul>
												<li>Amet Risus Fermentum</li>
												<li>Fusce Parturient</li>
												<li>Dapibus Cursus Mattis</li>
												<li>Lorem Ridiculus</li>
												<li>Maecenas sed diam eget risus varius blandit sit amet non magna. <a href="/">www.fda.gov/TobaccoProducts/PublicHealth Education/PublicEducationCampaigns/ TheRealCostCampaign/</a></li>
												<li>Sit Magna</li>
												<li>Aenean</li>
											</ul>
										</div>
									</div>
								</aside>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>

								<aside class="inbody-side full-width">
									<div class="side-inner">
										<header>
											<h1>Full Mulitdisciplinary Team For Change</h1>
										</header>
										<div class="side-body">
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
											<ul>
												<li>Amet Risus Fermentum</li>
												<li>Fusce Parturient</li>
												<li>Dapibus Cursus Mattis</li>
												<li>Lorem Ridiculus</li>
												<li>Maecenas sed diam eget risus varius blandit sit amet non magna. <a href="/">www.fda.gov/TobaccoProducts/PublicHealth Education/PublicEducationCampaigns/ TheRealCostCampaign/</a></li>
												<li>Sit Magna</li>
												<li>Aenean</li>
											</ul>
										</div>
									</div>
								</aside>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<blockquote class="quote-standard">
								  <p>Every week, our staff has one-on-one time with experts. They can ask questions about implementing these standatards, and we can help sttaff undertand why this is so important.
									</p>
								  <footer>Anna Vioral, PhD, MEd, RN, OCN®, BMTCN®</footer>
								</blockquote>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>This is an horizontal rule</p>
								<hr>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h4>Fourth Level Header</h4>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<%= partial "custom/accordion" %>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<blockquote class="quote-enhanced">
									<div class="enhanced-inner">
										<div class="row">
											<div class="enhanced-img">
												<div class="enhanced-img-inner">
													<div class="enhanced-portrait" style="background-image: url(assets/images/placeholders/default_profile.jpg);"></div>
												</div>
											</div>
											<div class="enhanced-quote">
											  <p>Lorem ipsum inctio. Ut ent modit aut omm doluptas et eommodit maximol olore nimus et harum volestis cum que lique doluptas et eommodit maximol uptaquas magnati orepa. Nam et veles reptatia.</p>
											  <footer>
													<span class="quote-credit">Deborah McBride RN, PhD, CPON®</span>
													<span class="quote-credit">from Anytown USA</span>
												</footer>
											</div>
										</div>
									</div>
								</blockquote>
								<h5>Fifth Level Header</h5>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<h5>YouTube</h5>
								<div class="videoWrapper">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/MN0rtZK6m_I" frameborder="0" allowfullscreen></iframe>
								</div>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h5>Vimeo</h5>
								<div class="videoWrapper">
									<iframe src="https://player.vimeo.com/video/97070402?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
								<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>
								<h5>Facebook Video</h5>
								<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>
								<div class="videoWrapper">
									<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&height=280&appId" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
								</div>
								<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>

								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<h5>Carousel</h5>
								<div class="carousel-wrapper">
									<div class="carousel">
										<div class="slide">
											<figure>
												<%= image_tag "assets/images/placeholders/stock-faces/stock_face_7.jpg" %>
												<figcaption>
													<span class="caption">
														This is a standard caption.
													<span>
												</figcaption>
											</figure>

										</div>
										<div class="slide">
											<figure>
												<%= image_tag "assets/images/placeholders/stock-faces/stock_face_8.jpg" %>
												<figcaption>
													<span class="caption">
														Aenean eu leo quam. <a href="/">Pellentesque ornare</a> sem lacinia quam venenatis vestibulum.
													<span>
												</figcaption>
											</figure>

										</div>
										<div class="slide">
											<figure>
												<%= image_tag "assets/images/placeholders/stock-faces/stock_face_9.jpg" %>
												<figcaption>
													<span class="caption">
														Maecenas faucibus mollis interdum. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
													<span>
												</figcaption>
											</figure>

										</div>
									</div>
									<div class="standard-carousel-buttons" >
									  <a class="button carousel-button--previous">
									    <div class="arrow-img prev">
									      <%= image_tag "arrow_icon.png" %>
									    </div>
									  </a>
									  <a class="button carousel-button--next">
									    <div class="arrow-img next">
									      <%= image_tag "arrow_icon.png" %>
									    </div>
									  </a>
									</div>
								</div>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<h5>Images</h5>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


								<div class="inbody-img">
									<figure>
										<%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
										<figcaption>
											<span class="caption">
												Standard Image, large width
											<span>
										</figcaption>
									</figure>
								</div>
								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="inbody-img">
									<figure>
										<img src="http://placehold.it/500x500">
										<figcaption>
											<span class="caption">
												Standard Image, small width
											<span>
										</figcaption>
									</figure>
								</div>
								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="inbody-img offset-left">
									<figure>
										<%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
										<figcaption>
											<span class="caption">
												Offset Left
											<span>
										</figcaption>
									</figure>
								</div>
								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="inbody-img offset-right">
									<figure>
										<%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
										<figcaption>
											<span class="caption">
												Offset Right
											<span>
										</figcaption>
									</figure>
								</div>
								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.</p>
								<hr>
								<h3>Table: Normal</h3>
								<table>
								 <tr>
									 <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
								 </tr>
								 <tr>
									 <td>Division 1</td><td>Division 2</td><td>Division 3</td>
								 </tr>
								 <tr class="even">
									 <td>Division 1</td><td>Division 2</td><td>Division 3</td>
								 </tr>
								 <tr>
									 <td>Division 1</td><td>Division 2</td><td>Division 3</td>
								 </tr>
								</table>


<pre class="language-markup"><code><%= escape_html('<table>
 <tr>
	 <th>Column Title</th>
	 ...
 </tr>
 <tr>
	 <td>Cell Data</td>
	 ...
 </tr>
 ...
</table>'); %></code></pre>
								<hr>
								<h3>Table: Responsive</h3>
								<div class="table-responsive">
						 		<table>
						 		  <thead>
						 			 <tr>
						 				<th>First Name</th>
						 				<th>Last Name</th>
						 				<th>Hero Title</th>
						 			 </tr>
						 		  </thead>
						 		  <tbody>
						 			 <tr>
						 				<td data-label="First Name">Bruce</td>
						 				<td data-label="Last Name">Wayne</td>
						 				<td data-label="Hero Title">Batman</td>
						 			 </tr>
						 			 <tr>
						 				<td data-label="First Name">Peter</td>
						 				<td data-label="Last Name">Parker</td>
						 				<td data-label="Hero Title">Spiderman</td>
						 			 </tr>
						 			 <tr>
						 				<td data-label="First Name">Bruce</td>
						 				<td data-label="Last Name">Banner</td>
						 				<td data-label="Hero Title">The Hulk</td>
						 			 </tr>
						 			 <tr>
						 				<td data-label="First Name">Clark</td>
						 				<td data-label="Last Name">Kent</td>
						 				<td data-label="Hero Title">Superman</td>
						 			 </tr>
						 		  </tbody>
						 	 </table>
						 	</div>
<pre class="language-markup"><code><%= escape_html('<div class="table-responsive">
 <table>
	<tr>
	  <th>Column Title</th>
	  ...
	</tr>
	<tr>
	  <td>Cell Data</td>
	  ...
	</tr>
	...
 </table>
</div>'); %></code></pre>

							<hr>
							<h3>Table: Scroll</h3>
							<div class="table-scroll">
							 <table style="width: 1290px;">
								<tr>
								  <th>Table Header 1</th>
								  <th>Table Header 2</th>
								  <th>Table Header 3</th>
								  <th>Table Header 4</th>
								  <th>Table Header 5</th>
								  <th>Table Header 6</th>
								  <th>Table Header 7</th>
								  <th>Table Header 8</th>
								  <th>Table Header 9</th>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
								<tr>
								  <td>Division 1</td>
								  <td>Division 2</td>
								  <td>Division 3</td>
								  <td>Division 4</td>
								  <td>Division 5</td>
								  <td>Division 6</td>
								  <td>Division 7</td>
								  <td>Division 8</td>
								  <td>Division 9</td>
								</tr>
							 </table>
							</div>
<pre class="language-markup"><code><%= escape_html('<div class="table-scroll">
 <table style="width: 1290px;">
	<tr>
	  <th>Column Title</th>
	  ...
	</tr>
	<tr>
	  <td>Cell Data</td>
	  ...
	</tr>
	...
 </table>
</div>'); %></code></pre>



							</div><!--article-body-content-->
							<div class="article-body-tags">
								<div class="tags-inner">
									<label for="tags">Tags:</label>
									<ul id="tags">
										<li><a href="/" alt="">Treatments</a></li>
										<li><a href="/" alt="">Breast Cancer</a></li>
									</ul>
								</div>
							</div>

							<div class="social-share-mobile">
								<%= partial "custom/social-share" %>
							</div>


							<div class="article-comments">
								<section data-quickedit-field-id="node/3030/field_comments/en/full">
								    <h2>comments</h2>
								  <a id="new"></a><a id="comment-723"></a>
								<article data-quickedit-entity-id="comment/723" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>
								  <footer>
								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="0">
								  </article>
								    <p>Submitted by<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Jennifer Armendariz (not verified)">Jennifer Armen… (not verified)</span>on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/723#comment-723" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/723#comment-723" class="permalink" rel="bookmark" hreflang="en">Thank you so much for this</a></h3>


								  </div>
								</article>



								<a id="comment-724"></a>


								<article data-quickedit-entity-id="comment/724" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="1">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Ellen Nason (not verified)">Ellen Nason (n… (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/724#comment-724" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/724#comment-724" class="permalink" rel="bookmark" hreflang="en">You are truly an asset to the</a></h3>


								  </div>
								</article>



								<a id="comment-725"></a>


								<article data-quickedit-entity-id="comment/725" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="2">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="philile mothelo (not verified)">philile mothel… (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/725#comment-725" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/725#comment-725" class="permalink" rel="bookmark" hreflang="en">I am an oncology nurse since</a></h3>


								  </div>
								</article>



								<a id="comment-726"></a>


								<article data-quickedit-entity-id="comment/726" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="3">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Deborah Walsh (not verified)">Deborah Walsh … (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/726#comment-726" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/726#comment-726" class="permalink" rel="bookmark" hreflang="en">I have been endlessly amazed</a></h3>


								  </div>
								</article>



								<a id="comment-728"></a>


								<article data-quickedit-entity-id="comment/728" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="4">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Jennifer Turcotte (not verified)">Jennifer Turco… (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/728#comment-728" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/728#comment-728" class="permalink" rel="bookmark" hreflang="en">You have so much to offer the</a></h3>


								  </div>
								</article>



								<a id="comment-730"></a>


								<article data-quickedit-entity-id="comment/730" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="5">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Cyndy Ulreich, ... (not verified)">Cyndy Ulreich,… (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/730#comment-730" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/730#comment-730" class="permalink" rel="bookmark" hreflang="en">The writer of this article</a></h3>


								  </div>
								</article>



								<a id="comment-731"></a>


								<article data-quickedit-entity-id="comment/731" data-comment-user-id="0" class="js-comment new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1484936768">new</mark>

								  <footer>



								<article data-quickedit-entity-id="user/0" typeof="schema:Person" about="/user/0" data-quickedit-entity-instance-id="6">
								  </article>




								    <p>Submitted by


								<span lang="" typeof="schema:Person" property="schema:name" datatype="" content="Jeanie Rosiak (not verified)">Jeanie Rosiak … (not verified)</span>


								 on Fri, 01/20/2017 - 13:26</p>


								    <a href="/comment/731#comment-731" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/731#comment-731" class="permalink" rel="bookmark" hreflang="en">Thank you for supporting the</a></h3>


								  </div>
								</article>





								      <h2>Add new comment</h2>



								<form class="comment-comment-form comment-form" data-drupal-selector="comment-form-2" action="/comment/reply/node/3030/field_comments" method="post" id="comment-form--2" accept-charset="UTF-8" data-drupal-form-fields="edit-subject-0-value--2,edit-submit--3,edit-preview--2">

								<input data-drupal-selector="form-ch-beq-9qurvge3xgbr9ceyk4fnenu5efej90v8zdw" type="hidden" name="form_build_id" value="form-ch_BEQ__9QUrVge3XgBR9CEyk4fnENU5eFEJ90v8Zdw">

								<input data-drupal-selector="edit-comment-comment-form-form-token" type="hidden" name="form_token" value="2FP1BkX6-MwFwhdJOLsmzPK8w4ZJN0wGYMZHQVNUFAM">

								<input data-drupal-selector="edit-comment-comment-form" type="hidden" name="form_id" value="comment_comment_form">

								<div class="js-form-item form-item js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">


								<label for="edit-subject-0-value--2">Subject</label>

								<input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value--2" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="">


								        </div>

								<input data-drupal-selector="edit-submit" type="submit" id="edit-submit--3" name="op" value="Save" class="button button--primary js-form-submit form-submit">

								<input data-drupal-selector="edit-preview" type="submit" id="edit-preview--2" name="op" value="Preview" class="button js-form-submit form-submit">

								</form>

								</section>


								<section data-quickedit-field-id="node/3030/field_migrated_comment/en/full">

								    <h2>Migrated Comment</h2>


								  <a id="comment-1026"></a>


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'comment__field_migrated_comment__connect_page' -->
								<!-- FILE NAME SUGGESTIONS:
								   * comment--field-migrated-comment--connect-page.html.twig
								   * comment--field-migrated-comment.html.twig
								   x comment.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/comment.html.twig' -->

								<article data-quickedit-entity-id="comment/1026" data-comment-user-id="11" class="js-comment by-viewer new" data-quickedit-entity-instance-id="0">
								    <mark class="" data-comment-timestamp="1485531334">new</mark>

								  <footer>


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'user' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/user/user.html.twig' -->
								<article data-quickedit-entity-id="user/11" typeof="schema:Person" about="/user/11" data-quickedit-entity-instance-id="0">
								  </article>

								<!-- END OUTPUT from 'core/themes/stable/templates/user/user.html.twig' -->


								    <p>Submitted by

								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'username' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/user/username.html.twig' -->
								<a title="View user profile." href="/user/11" lang="" about="/user/11" typeof="schema:Person" property="schema:name" datatype="">eliadmin</a>
								<!-- END OUTPUT from 'core/themes/stable/templates/user/username.html.twig' -->

								 on Fri, 01/27/2017 - 10:35</p>


								    <a href="/comment/1026#comment-1026" hreflang="en">Permalink</a>
								  </footer>

								  <div>

								      <h3><a href="/comment/1026#comment-1026" class="permalink" rel="bookmark" hreflang="en">Testing comment type</a></h3>



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'field' -->
								<!-- FILE NAME SUGGESTIONS:
								   * field--comment--comment-body--comments.html.twig
								   * field--comment--comment-body.html.twig
								   * field--comment--comments.html.twig
								   * field--comment-body.html.twig
								   x field--text-long.html.twig
								   * field.html.twig
								-->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field--text-long.html.twig' -->
								  <p>Testing the new comment type and associated form.</p>

								<!-- END OUTPUT from 'themes/custom/voice/templates/field/field--text-long.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'links__comment' -->
								<!-- FILE NAME SUGGESTIONS:
								   * links--comment.html.twig
								   x links.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->
								<ul class="links inline"><li class="comment-delete"><a href="/comment/1026/delete" hreflang="en">Delete</a></li><li class="comment-edit"><a href="/comment/1026/edit" hreflang="en">Edit</a></li><li class="comment-reply"><a href="/comment/reply/node/3030/field_migrated_comment/1026">Reply</a></li></ul>
								<!-- END OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->


								  </div>
								</article>

								<!-- END OUTPUT from 'core/themes/stable/templates/content/comment.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'pager' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/navigation/pager.html.twig' -->

								<!-- END OUTPUT from 'themes/custom/voice/templates/navigation/pager.html.twig' -->



								      <h2>Add new comment</h2>


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'form' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
								<form class="comment-comments-form comment-form" data-drupal-selector="comment-form" action="/comment/reply/node/3030/field_migrated_comment" method="post" id="comment-form" accept-charset="UTF-8" data-drupal-form-fields="edit-subject-0-value,edit-comment-body-0-value,edit-submit--2,edit-preview">


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__hidden' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--hidden.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-drupal-selector="form-ea3wjc2cq02-0jnmmvfipyc-ujldipy3cxd-38sxds" type="hidden" name="form_build_id" value="form-EA3WJC2Cq02__0jnmMVFiPYc_UJlDiPy3cxD_38Sxds">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__hidden' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--hidden.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-drupal-selector="edit-comment-comments-form-form-token" type="hidden" name="form_token" value="jeonkM2fx6hojGdU9pmVyqRucNQhDkQ673XJfxirNZ0">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__hidden' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--hidden.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-drupal-selector="edit-comment-comments-form" type="hidden" name="form_id" value="comment_comments_form">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'field_multiple_value_form' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->


								<!-- END OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->



								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'field_multiple_value_form' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'form_element' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
								<div class="js-form-item form-item js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'form_element_label' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
								<label for="edit-subject-0-value">Subject</label>
								<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__textfield' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--textfield.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


								        </div>

								<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->



								<!-- END OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->



								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'field_multiple_value_form' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'text_format_wrapper' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content-edit/text-format-wrapper.html.twig' -->
								<div class="js-text-format-wrapper js-form-item form-item">


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'form_element' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
								<div class="js-form-item form-item js-form-type-textarea form-item-comment-body-0-value js-form-item-comment-body-0-value">


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'form_element_label' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
								<label for="edit-comment-body-0-value" class="js-form-required form-required">Comment</label>
								<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'textarea' -->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/textarea.html.twig' -->
								<div>
								  <textarea></textarea><div id="cke_edit-comment-body-0-value" class="cke_1 cke cke_reset cke_chrome cke_editor_edit-comment-body-0-value cke_ltr cke_browser_webkit cke_hidpi" dir="ltr" lang="en" role="application"
								</div>

								<!-- END OUTPUT from 'core/themes/stable/templates/form/textarea.html.twig' -->


								        </div>

								<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->
								<a href="/filter/tips" target="_blank" data-drupal-selector="edit-comment-body-0-format-help-about" id="edit-comment-body-0-format-help-about">About text formats</a>

								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__hidden' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--hidden.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-editor-for="edit-comment-body-0-value" type="hidden" name="comment_body[0][format]" value="rich_text">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->



								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								  </div>

								<!-- END OUTPUT from 'core/themes/stable/templates/content-edit/text-format-wrapper.html.twig' -->



								<!-- END OUTPUT from 'core/themes/stable/templates/form/field-multiple-value-form.html.twig' -->



								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'container' -->
								<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__submit' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--submit.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="Save" class="button button--primary js-form-submit form-submit">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- THEME DEBUG -->
								<!-- THEME HOOK: 'input__submit' -->
								<!-- FILE NAME SUGGESTIONS:
								   * input--submit.html.twig
								   x input.html.twig
								-->
								<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
								<input data-drupal-selector="edit-preview" type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit">

								<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



								<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


								</form>

								<!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->



								</section>



							</div>
						</main>
						<div id="right-column" class="">
							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
		<%= partial "custom/article-footer" %>
	</article>
</div><!--page-body-->
