---
title: Homepage | Elliance Inc.
layout: main
---

<div class="page-body" id="homepage-body">
  <div id="home-hero">
    <%= partial "custom/home-carousel" %>
  </div><!--home-hero-->
  <div id="home-body">
    <div class="home-row">
        <article class="block">
          <div class="list-block">
            <div class="list-header">
              <span class="list-title">Latest Headlines</span>
            </div>
            <div class="list-body">
              <ul>
                <li><a href="/" alt="">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</a></li>
                <li><a href="/" alt="">Aenean lacinia bibendum nulla sed consectetur.</a></li>
                <li><a href="/" alt="">Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                <li><a href="/" alt="">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</a></li>
              </ul>
              <a class="more-link" href="/" alt="">View All</a>
            </div>
          </div>
        </article>
        <article class="block">
          <div class="row">
            <div class="block-img grid-img">
              <a href="/">
                <%= image_tag "assets/images/placeholders/stock-faces/stock_face_9.jpg" %>
              </a>
            </div>
            <div class="block-title-container block-height-cap">
              <a class="block-link" href="/" title="" alt="">
                <div class="block-title-inner">
                  <div class="block-topic-area">
                    <div class="block-topic">Topic</div>
                  </div>
                  <div class="block-title-area">
                    <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
                  </div>
                  <div class="block-date-area">
                    <span class="block-date">August 06, 1991</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </article>
        <article class="block">
          <div class="row">
            <div class="block-img grid-img">
              <%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
            </div>
            <div class="block-title-container block-height-cap">
              <a class="block-link" href="/" title="" alt="">
                <div class="block-title-inner">
                  <div class="block-topic-area">
                    <div class="block-topic">Topic</div>
                  </div>
                  <div class="block-title-area">
                    <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
                  </div>
                  <div class="block-date-area">
                    <span class="block-date">August 06, 1991</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </article>
    </div><!--home-row-->
    <div class="home-row">
      <article class="block-home-horizontal">
        <div class="row">
          <div class="block-img grid-img">
            <a href="/">
              <%= image_tag  "assets/images/placeholders/stock-faces/stock_face_16.jpg" %>
            </a>
          </div>
          <div class="block-title-container">
            <a class="block-link" href="/" title="" alt="">
              <div class="block-title-inner">
                <div class="block-topic-area">
                  <div class="block-topic">Topic</div>
                </div>
                <div class="block-title-area">
                  <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
                </div>
                <div class="block-date-area">
                  <span class="block-date">August 06, 1991</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <article class="block-home-trending">
        <!-- <div class="row"> -->

        <div class="news-topic-wrapper">
          <div class="news-topics">
            <div class="topics-inner">
              <div class="row">
                <div class="topics-header">
                  <span class="sub-title">Trending Topics</span>
                </div>
                <ul class="tag-buttons">
                  <li><a href="/" alt="/" title="">ONS Congress</a></li>
                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
                  <li><a href="/" alt="/" title="">Research</a></li>
                  <li><a href="/" alt="/" title="">Safety</a></li>
                </ul>
                <div class="view-all-topics">
                  <a class="more-link">View All Topics</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- </div> -->
      </article>
    </div><!--home-row-->
  </div><!--home-body-->
  <section class="home-bottom"  id="home-bottom-one">
    <div class="home-bottom-inner">
      <header>
        <h2 class="home-bottom-title">ONS Annual Congress 2016</h2>
        <nav class="home-bottom-nav">
          <li class="current-page"><a href="/" alt="">Related News</a></li>
          <li><a href="/" alt="">About</a></li>
        </nav>
      </header>
      <div class="row">
        <div class="body">
          <ul>
            <li>
              <a href="/" alt="">Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</a>
              <span class="date">September 06, 1999</span>
            </li>
            <li>
              <a href="/" alt="">Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.</a>
              <span class="date">September 06, 1999</span>
            </li>
            <li>
              <a href="/" alt="">Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
              <span class="date">September 06, 1999</span>
            </li>
            <li>
              <a href="/" alt="">Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.</a>
              <span class="date">September 06, 1999</span>
            </li>
            <li>
              <a href="/" alt="">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</a>
              <span class="date">September 06, 1999</span>
            </li>
          </ul>
          <div class="view-all">
            <a class="home-bottom-more-link more-link" href="" alt="">View all conference news</a>
          </div>
        </div>
        <div class="side">
          <%= image_tag "placeholders/placeholder-landscape.png" %>
          <div class="block-title-container">
            <div class="block-title-inner">
              <div class="block-topic-area">
                <div class="block-topic">Conferences</div>
              </div>
              <div class="block-title-area no-min-height">
                <h1 class="block-title">ONS 42nd Annual Congress</h1>
              </div>
              <div class="block-date-area">
                <span class="home-bottom-block-date">May 4-7, 2017 &middot; Denver, CO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--home-bottom-->

  <section class="home-bottom" id="home-bottom-two">
    <div class="home-bottom-inner">
      <header>
        <h2 class="home-bottom-title">Effect Change</h2>
      </header>
      <div class="row">
        <article class="block">
          <div class="row">
            <div class="block-img">
              <%= image_tag "assets/images/placeholders/stock-faces/stock_face_14.jpg" %>
            </div>
            <div class="block-title-container block-height-cap">
              <a class="block-link" href="/" title="" alt="">
                <div class="block-title-inner">
                  <div class="block-topic-area">
                    <div class="block-topic">Topic</div>
                  </div>
                  <div class="block-title-area">
                    <h1 class="block-title">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
                  </div>
                  <div class="block-date-area">
                    <span class="block-date">August 06, 1991</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </article>
        <article class="block">
          <div class="row">
            <div class="block-img">
              <%= image_tag "assets/images/placeholders/stock-faces/stock_face_13.jpg" %>
            </div>
            <div class="block-title-container block-height-cap">
              <a class="block-link" href="/" title="" alt="">
                <div class="block-title-inner">
                  <div class="block-topic-area">
                    <div class="block-topic">Topic</div>
                  </div>
                  <div class="block-title-area">
                    <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
                  </div>
                  <div class="block-date-area">
                    <span class="block-date">August 06, 1991</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </article>
        <article class="block no-image">
          <div class="row">
            <div class="block-title-container">
              <a class="block-link" href="/" title="" alt="">
                <div class="block-title-inner">
                  <div class="block-topic-area">
                    <div class="block-topic">Topic</div>
                  </div>
                  <div class="block-title-area">
                    <h1 class="block-title">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h1>
                  </div>
                  <div class="block-date-area">
                    <span class="block-date">August 06, 1991</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </article>
      </div>
      <a class="home-bottom-more-link more-link" href="" alt="">View More Advocacy</a>
    </div>
  </section><!--home-bottom-->

  <section class="home-bottom" id="home-bottom-three">
    <div class="home-bottom-inner">
      <header>
        <h2 class="home-bottom-title">Our spirit. Our practice</h2>
      </header>
      <div class="row">
        <div class="body">
          <figure class="img-container">
            <%= image_tag "assets/images/placeholders/stock-faces/stock_square.jpg" %>
            <figcaption>

              <span class="photo-credit">Photo credit: ONS Voice</span>
              <span class="caption">Carrie Tompkins Stricker, PhD, RN, AOCN®</span>
            </figcaption>
          </figure>
        </div>
        <div class="side">
          <blockquote>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
          </blockquote>
          <button class="btn btn-large btn-secondary">Read My Story</button>
        </div>
      </div>
      <a class="home-bottom-more-link more-link" href="" alt="">View All Stories</a>
    </div>
  </section><!--home-bottom-->

</div><!--page-body-->
