---
title: Legacy Image | Elliance Inc.
layout: main
---

<div class="page-body legacy-article">
	<%= partial 'custom/breadcrumbs' %>
	<article>
		<header id="article-header">
			<div class="row">
				<div class="article-header-inner">
					<div class="article-header-title">
						<div class="article-header-sponsor">
							<span class="sponsor-label">Article sponsored by:</span>
							<div class="sponsor-img">
								<%= image_tag 'placeholders/placeholder-logos/thumb-logo.jpg'%>
							</div>
							<span class="sponsor-byline">Lilly Oncology</span>
						</div>
						<h1 class="article-title">Dolor Pellentesque Inceptos Egestas Sem Risus Vestibulum Quam Ipsum Amet</h1>
						<span class="article-sub-title">Implementing evidence-based oncology standards in your practice</span>
						<div class="article-credit">
							<span class="timestamp">November 1, 2016</span> | <span class="author">by <a href="/" alt="">Jane Doe</a> MSN, APRN, AOCNS &reg;</span>
						</div>
					</div>
					<div class="article-header-img">
						<figure class="img-container legacy-img">
							<%= image_tag "placeholders/placeholder-square.png" %>
							<figcaption>
								<span class="caption">Carrie Tompkins Stricker, PhD, RN, AOCN®</span>
								<span class="photo-credit">Photo credit: ONS Voice</span>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="article-body">
					<div class="row">
						<div id="left-column" class="">
							<div class="sticky">
								<%= partial "custom/social-share" %>
							</div>
						</div>
						<main role="main">
							<div class="article-body-content">
								<p class="intro-paragraph">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
								<p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
								<h1>First Level Header</h1>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h2>Second Level Header</h2>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h3>Third Level Header</h3>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>

								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
								<h4>Fourth Level Header</h4>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<aside><p><strong>Important Roles for Oncology Nurses in Precision Medicine</strong></p><p>Beyond educating patients, <a href="http://www.theoncologynurse.com/ton-issue-archive/2016-issues/july-vol-9-no-4/16806-how-to-assess-quality-in-the-age-of-precision-medicine">oncology nurses will fill several important roles</a> as precision medicine becomes commonplace among practices.</p><ul><li>Assessing for targeted therapy side effects.</li><li>Differentiating symptom treatment for targeted therapies and chemotherapies.</li><li>Crossing interdisciplinary lines to ensure error-free care.</li><li>Sharing education among staff, colleagues, and healthcare team members.</li><li>Educating and recruiting patients for new targeted clinical trials.</li><li>Helping patients address financial burdens and maintain access to care.</li></ul></aside>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>

								<h5>Fifth Level Header</h5>
								<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. <a href="/">Etiam porta sem malesuada</a> magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
							</div><!--article-body-content-->
							<div class="article-body-tags">
								<div class="tags-inner">
									<label for="tags">Tags:</label>
									<ul id="tags">
										<li><a href="/" alt="">Treatments</a></li>
										<li><a href="/" alt="">Breast Cancer</a></li>
									</ul>
								</div>
							</div>
							<div class="article-comments">
								ADD COMMENTS HERE
							</div>
						</main>
						<div id="right-column" class="">
							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
		<%= partial "custom/article-footer" %>
	</article>
</div><!--page-body-->
