---
title: News | Elliance Inc.
layout: main
---

<div class="page-body general-page news-page">
	<%= partial "custom/breadcrumbs" %>
	<article class="topic_ons_news">
		<header id="general-header">
			<div class="row">
				<div class="general-header-inner">
					<div class="general-header-label">
						<span class="general-label">
							News &amp; Views
						</span>
					</div>
					<div class="general-header-title">
						<h1 class="general-title">ONS News</h1>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="general-body">
					<div class="row">
						<main role="main">
							<div class="general-body-content">
								<div class="row">
									<div class="news-feature-item with-image">
										<div class="news-feature-image">
											<div class="feature-img">
												<%= image_tag "assets/images/placeholders/stock-faces/stock_face_1.jpg" %>
											</div>
										</div>
										<div class="news-feature-caption">
											<div class="feature-topic-area">
												<div class="feature-topic">Featured News</div>
											</div>
											<div class="news-feature-area">
												<h1 class="feature-title"><a href="/" alt="">Vestibulum Ridiculus Sollicitudin Cursus Commodo Nibh Etiam Ligula Cursus Mattis</a></h1>
												<span class="feature-date">August 06, 1991</span>
											</div>
										</div>
									</div>
									<ul class="news-page-list">
										<li class="news-list-item">
											<div class="news-topic-area">
					              <a href="/" alt="" class="news-topic">Topic</a>
					            </div>
			                <div class="news-title-area">
			                  <h1 class="news-title"><a href="/" alt="" >Bibendum Tortor Pharetra Tellus</a></h1>
			                </div>
			                <div class="news-date-area">
			                  <span class="news-date">August 06, 1991</span>
			                </div>
											<div class="new-blurb-area">
												<p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</p>
											</div>
										</li>
										<li class="news-list-item">
											<div class="news-topic-area">
					              <a href="/" alt="" class="news-topic">Topic</a>
					            </div>
			                <div class="news-title-area">
			                  <h1 class="news-title"><a href="/" alt="" >Tortor Ligula Ornare Vulputate Condimentum Nullam Bibendum Commodo Mattis Ridiculus</a></h1>
			                </div>
			                <div class="news-date-area">
			                  <span class="news-date">August 06, 1991</span>
			                </div>
											<div class="new-blurb-area">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
											</div>
										</li>
										<li class="news-list-item">
											<div class="news-topic-area">
					              <a href="/" alt="" class="news-topic">Topic</a>
					            </div>
			                <div class="news-title-area">
			                  <h1 class="news-title"><a href="/" alt="" >Bibendum Tortor Pharetra Tellus</a></h1>
			                </div>
			                <div class="news-date-area">
			                  <span class="news-date">August 06, 1991</span>
			                </div>
											<div class="new-blurb-area">
												<p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</p>
											</div>
										</li>
										<li class="news-list-item">
											<div class="news-topic-area">
					              <a href="/" alt="" class="news-topic">Topic</a>
					            </div>
			                <div class="news-title-area">
			                  <h1 class="news-title"><a href="/" alt="" >Tortor Ligula Ornare Vulputate Condimentum Nullam Bibendum Commodo Mattis Ridiculus</a></h1>
			                </div>
			                <div class="news-date-area">
			                  <span class="news-date">August 06, 1991</span>
			                </div>
											<div class="new-blurb-area">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
											</div>
										</li>
									</ul>
								</div>
							</div><!--general-body-content-->
							<div class="pagination">
								<ul>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-left"></span></a></li>
									<li><a href="/" alt="">1</a></li>
									<li><a class="current-page" href="/" alt="">2</a></li>
									<li><a href="/" alt="">3</a></li>
									<li><a href="/" alt="">4</a></li>
									<li><a href="/" alt="">5</a></li>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-right"></span></a></li>
								</ul>
							</div>
						</main>
						<div id="right-column" class="">
							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
	</article>
</div><!--page-body-->
