---
title: No Image | Elliance Inc.
layout: main
---

<div class="page-body">
	<%= partial 'custom/breadcrumbs' %>
	<article>
		<header id="article-header">
			<div class="row">
				<div class="article-header-inner">
					<div class="article-header-title no-hero">
						<h1 class="article-title">Newsroom</h1>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="article-body">
					<div class="row">
						<div id="left-column" class="">
							<div class="sticky">
								<%= partial "custom/social-share" %>
							</div>
						</div>
						<main role="main">
							<div class="article-body-content">
                            <h2>Media Contact:</h2>
                            <p>Nicole Lininger<br>
                                Senior Marketing Manager<br><a href="mailto:nlininger@ons.org">nlininger@ons.org</a><br>
                                412-859-6321</p>

                            <h2>Request Permission to Use Logos, Images, or Content</h2>
                            <p><a href="mailto:pubpermissions@ons.org">pubpermissions@ons.org</a></p>
                            <h2>Stay Updated With ONS</h2>
                            <p><a href="https://www.stitcher.com/podcast/oncology-nursing-podcast/the-oncology-nursing-podcast">Podcast</a><br><a href="http://www.facebook.com/oncologynursing">Facebook</a><br><a href="http://www.twitter.com/oncologynursing">Twitter</a><br><a href="https://www.instagram.com/oncologynursing">Instagram</a><br><a href="http://www.linkedin.com/company/oncology-nursing-society">LinkedIn</a></p>
                            <div class="news-topics news-btns">
                                <div class="topics-inner">
                                <div class="row">
                                <div class="topics-header"><span class="sub-title">ONS NEWS AND PRESS RELEASES</span>
                            </div>
                            <ul><li><span class="tag-buttons"><a class="view-all-stories" href="/topic/ons-news">Read ONS News</a> </span></li>
                                <li><span class="tag-buttons"><a class="view-all-stories" href="/topic/press-releases">Read Press Releases</a> </span></li>
                                <li><span class="tag-buttons"><button class="btn btn-primary btn-large">Subscribe to Print Edition</button></span></li>
                            </ul></div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                  <aside class="inbody-side full-width">
                    <div class="side-inner">
                      <div class="side-body">
                        <p>To discuss the information in this article with other oncology nurses, visit the <a href="http://communities.ons.org/">ONS Communities.</a></p>
                        <p>To report a content error, inaccuracy, or typo, email <a href="mailto:pubONSVoice@ons.org?subject=Website feedback from: Newsroom&#10;">pubONSVoice@ons.org.</a></p>
                      </div>
                    </div>
                  </aside>
                </div>
						</main>
						<div id="right-column" class="">
							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
		<%= partial "custom/article-footer" %>
	</article>
</div><!--page-body-->
