---
title: Search Results | Elliance Inc.
layout: main
---

<div class="page-body general-page search-results-page">
	<%= partial 'custom/breadcrumbs' %>
	<!-- <article>
		<header id="general-header">
			<div class="row">
				<div class="general-header-inner">
					<div class="general-header-label">
						<span class="general-label">
							Search Results for:
						</span>
					</div>
					<div class="general-header-title">
						<h2 class="general-title search-results-title">Search Phrase Here</h2>
					</div>
				</div>
			</div>
		</header> -->
		<div class="contained">
			<div class="row">
				<div id="general-body">
					<div class="row">
						<main role="main">
							<div class="general-body-content">
								<div class="row">
									<div class="search-page-list">
									<!-- <ul class="search-page-list">
										<li class="search-result-item">
			                <div class="search-title-area">
			                  <h1 class="search-title"><a href="/" alt="" >Bibendum Tortor Pharetra Tellus</a></h1>
			                </div>
			                <div class="search-date-area">
			                  <span class="search-date">August 06, 1991</span>
			                </div>
											<div class="search-blurb">
												<p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</p>
											</div>
										</li>
									</ul> -->
									<form class="search-form search-page-form" data-drupal-selector="search-form" action="/search/node?keys=nurse" method="post" id="search-form" accept-charset="UTF-8">
								    <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys">
								    <label for="edit-keys">Enter your keywords</label>
								    <input data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="nurse" size="30" maxlength="255" class="form-search">
								    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Search" class="button js-form-submit form-submit">
								    <a href="/search/node/help" class="search-help-link" data-drupal-selector="edit-help-link" id="edit-help-link">Search help</a>
								    <input data-drupal-selector="form-gjm6a4np-tvc-lpckg-ujbxxo-mx4vvgml9y-nauebk" type="hidden" name="form_build_id" value="form-GJM6a4nP-tvC_LpCKg-uJbXXo_mx4VvgmL9y-nAUEbk">
								    <input data-drupal-selector="edit-search-form" type="hidden" name="form_id" value="search_form">
									</form>
									<h2>Search results</h2>

									<div class="general-body-content">
									    <div class="row">
									        <ul class="search-page-list">
									            <li class="search-result-item" style="/* margin-bottom: 24px; */">
									              <div class="search-topic-area">
									              </div>
									              <div class="search-title-area">
									                <h1 class="search-title"><a href="/node/3732">New Nurse Scientist Finds Mentorship in ONS Foundation Research Intensive</a></h1>
									              </div>
									              <div class="search-date-area">
									                <span class="search-date">September 23, 2016</span>
									              </div>
									              <div class="search-blurb">
									                <p>New <strong>Nurse</strong> Scientist Finds Mentorship in ONS Foundation Research Intensive Oncology <strong>nurse</strong> scientists are driving new advancements in … difficult. Seeking the advice and expertise of experienced <strong>nurse</strong> scientists can be a key component in successfully …</p>
									              </div>
															</li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                  <h1 class="search-title"><a href="/node/3618">Elevate Your Practice Through Continuing Nursing Education </a></h1>
									                </div>
									                <div class="search-date-area">
									                  <span class="search-date">June 23, 2016</span>
									                </div>
									                <div class="search-blurb">
									                  <p>… refining your education is part of being a great oncology <strong>nurse</strong>. Through continuing education opportunities, our … Certifications include: Oncology Certified <strong>Nurse</strong> (OCN ® ) Certified Pediatric Hematology Oncology <strong>Nurse</strong> (CPHON ® ) Certified Breast Care <strong>Nurse</strong> …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									              <div class="search-topic-area">
									              </div>
									              <div class="search-title-area">
									                  <h1 class="search-title"><a href="/node/1047">Building Our Future</a></h1>
									              </div>
									              <div class="search-date-area">
									                  <span class="search-date">June 04, 2013</span>
									              </div>
									              <div class="search-blurb">
									                  <p>… Future Ask any oncology <strong>nurse</strong> leader and nearly all will tell you: they didn’t get … others; and developing the next generation of oncology <strong>nurse</strong> leaders.&nbsp; ONS members Deena Gilland, MSN, OCN ® … whom I wanted to emulate.”&nbsp; QUALITIES OF TODAY’S <strong>NURSE</strong> LEADERS What Nightingale wrote in 1915 about …</p>
									              </div>
									            </li>
									            <li class="search-result-item">
									              <div class="search-topic-area">
									              </div>
									              <div class="search-title-area">
									                  <h1 class="search-title"><a href="/node/3366">What It Takes to Be an Infusion Room Nurse: Part One </a></h1>
									              </div>
									              <div class="search-date-area">
									                  <span class="search-date">January 18, 2016</span>
									              </div>
									              <div class="search-blurb">
									                  <p>What It Takes to Be an Infusion Room <strong>Nurse</strong>: Part One What do … far beyond nursing.&nbsp;The Merriam-Webster definition of a <strong>nurse</strong> is “a person who cares for the sick or infirm; … a patient’s trust hinges on this skill. The infusion <strong>nurse</strong> must be knowledgeable in oncology/hematology diseases …</p>
									              </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3367">What It Takes to Be an Infusion Room Nurse: Part Two</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">January 18, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>What It Takes to Be an Infusion Room <strong>Nurse</strong>: Part Two In … to clarify the clinical role of an oncology infusion room <strong>nurse</strong>. Excellent clinical skills paired with diverse social … skills than inpatient. Often, in the inpatient setting, the <strong>nurse</strong> treats patients and families one at a time with a …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3655">How Do I Become an Oncology Nurse?</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">July 18, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>How Do I Become an Oncology <strong>Nurse</strong>? One of the most … , is from people who want to know how to become an oncology <strong>nurse</strong>. Although each <strong>nurse</strong>’s career path is different, here are some frequent …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3850">A Nurse Pays It Forward to Support the Goals of Oncology Nurse Colleagues</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">December 09, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>A <strong>Nurse</strong> Pays It Forward to Support the Goals of Oncology <strong>Nurse</strong> Colleagues For … for nurses are vital,” Beaver noted. “Supporting <strong>nurse</strong> scientists as they complete research at the bedside …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3616">North Carolina Nurse Selected for Advocate Award at ONS Congress</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">June 15, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>North Carolina <strong>Nurse</strong> Selected for Advocate Award at ONS Congress … University of North Carolina School of Nursing and a staff <strong>nurse</strong> on the inpatient hematology oncology unit at UNC … state legislative session.&nbsp; Walton has served as “<strong>Nurse</strong> of the Day” at the North Carolina General Assembly …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3717">Every Nurse Is a Leader</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">September 06, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>Every <strong>Nurse</strong> Is a Leader … chemotherapy in the workplace.&nbsp; ONS believes that every <strong>nurse</strong> is a leader. Successful leaders aren’t born; they … of the characteristics that serve you well as an oncology <strong>nurse</strong> (dedication, finding ways to improve care, willingness …</p>
									                </div>
									            </li>
									            <li class="search-result-item">
									                <div class="search-topic-area">
									                </div>
									                <div class="search-title-area">
									                    <h1 class="search-title"><a href="/node/3757">The Oncology Nurse’s Voice Will Be Vital to the Blue Ribbon Recommendations</a></h1>
									                </div>
									                <div class="search-date-area">
									                    <span class="search-date">October 06, 2016</span>
									                </div>
									                <div class="search-blurb">
									                    <p>The Oncology <strong>Nurse</strong>’s Voice Will Be Vital to the Blue Ribbon … It was a thrilling experience, especially as the only <strong>nurse</strong> on the BRP, to explain the process and meaning of …</p>
									                </div>
									            </li>
									        </ul>
									    </div>
									</div>
								</div>
								</div>
							</div><!--general-body-content-->
							<div class="pagination">
								<ul>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-left"></span></a></li>
									<li><a href="/" alt="">1</a></li>
									<li><a class="current-page" href="/" alt="">2</a></li>
									<li><a href="/" alt="">3</a></li>
									<li><a href="/" alt="">4</a></li>
									<li><a href="/" alt="">5</a></li>
									<li><a href="/" alt=""><span class="zmdi zmdi-arrow-right"></span></a></li>
								</ul>
							</div>
						</main>
						<div id="right-column" class="">
							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
	</article>
</div><!--page-body-->
