---
title: Topics | Elliance Inc.
layout: main
---

<div class="page-body general-page topics-page">
	<%= partial 'custom/breadcrumbs' %>
	<article>
		<header id="general-header">
			<div class="row">
				<div class="general-header-inner">
					<div class="general-header-title">
						<h1 class="general-title">Topics</h1>
					</div>
				</div>
			</div>
		</header>
		<div class="contained">
			<div class="row">
				<div id="general-body">
					<div class="row">
						<main role="main">
							<div class="general-body-content">

								<div class="row">

					          <!-- <div class="trending-topics">
					            <div class="topics-inner">
					              <div class="row">
					                <div class="topics-header">
					                  <span class="sub-title">Trending</span>
					                </div>
					                <ul class="tag-buttons">
					                  <li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
					                </ul>
					              </div>
					            </div>
					          </div> -->
										<div class="trending-topics">
  <div class="news-topics">
    <div class="topics-inner">
      <div class="row">
        <div class="topics-header">
          <span class="sub-title">
          Trending
          </span>
        </div>


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'container' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view__trending_topics' -->
<!-- FILE NAME SUGGESTIONS:
   x views-view--trending-topics.html.twig
   x views-view--trending-topics.html.twig
   * views-view.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view--trending-topics.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_voice_trending' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-voice-trending.html.twig' -->
<ul class="tag-buttons">
      <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/standards" hreflang="en">Standards</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/research" hreflang="en">Research</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/safety" hreflang="en">Safety</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/ons-congress" hreflang="en">ONS Congress</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/treatments" hreflang="en">Treatments</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/adjuvant-therapy" hreflang="en">Adjuvant therapy</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/healthcare-safety-standards" hreflang="en">Healthcare safety standards</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/policies-and-procedures" hreflang="en">Policies and procedures</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/affordable-care-act-aca" hreflang="en">Affordable Care Act (ACA)</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


        </li><li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/topic/press-releases" hreflang="en">Press Releases</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-fields.html.twig' -->


    </li></ul>

<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view-voice-trending.html.twig' -->



<!-- END OUTPUT from 'themes/custom/voice/templates/views/views-view--trending-topics.html.twig' -->



<!-- END OUTPUT from 'themes/custom/voice/templates/layout/container.html.twig' -->


      </div>
    </div>
  </div>
</div>



					          <!-- <div class="all-topics">
					            <div class="topics-inner">
					              <div class="row">
					                <div class="topics-header">
					                  <span class="sub-title">All</span>
					                </div>
					                <ul class="tag-buttons">
					                  <li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
														<li><a href="/" alt="/" title="">ONS Congress</a></li>
					                  <li><a href="/" alt="/" title="">Coordinated Care</a></li>
					                  <li><a href="/" alt="/" title="">Research</a></li>
					                  <li><a href="/" alt="/" title="">Safety</a></li>
					                </ul>
					              </div>
					            </div>
					          </div> -->

										<div class="all-topics">
    <div class="topics-inner">
        <div class="row">
            <div class="topics-header">
                <span class="sub-title">All</span>
            </div>
            <ul class="tag-buttons">
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--14.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/adjuvant-therapy">

      <h2><a href="/topic/adjuvant-therapy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Adjuvant therapy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--16.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/advanced-practice-nursing-apn">

      <h2><a href="/topic/advanced-practice-nursing-apn">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Advanced practice nursing (APN)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--17.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/adverse-events">

      <h2><a href="/topic/adverse-events">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Adverse events

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--18.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/affordable-care-act-aca">

      <h2><a href="/topic/affordable-care-act-aca">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Affordable Care Act (ACA)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--166.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/breast-cancer">

      <h2><a href="/topic/breast-cancer">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Breast cancer

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--181.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-health-disparities">

      <h2><a href="/topic/cancer-health-disparities">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer health disparities

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--191.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-health-policy">

      <h2><a href="/topic/cancer-health-policy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer health policy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--186.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-healthcare-advocacy">

      <h2><a href="/topic/cancer-healthcare-advocacy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer healthcare advocacy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--196.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-moonshot">

      <h2><a href="/topic/cancer-moonshot">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer moonshot

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--201.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-prevention">

      <h2><a href="/topic/cancer-prevention">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer prevention

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--211.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-research">

      <h2><a href="/topic/cancer-research">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer research

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--216.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-risk-factors">

      <h2><a href="/topic/cancer-risk-factors">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer risk factors

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--226.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-screening">

      <h2><a href="/topic/cancer-screening">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer screening

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--241.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cancer-treatments">

      <h2><a href="/topic/cancer-treatments">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cancer treatments

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--246.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/care-coordination">

      <h2><a href="/topic/care-coordination">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Care coordination

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--261.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/cervical-cancer">

      <h2><a href="/topic/cervical-cancer">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cervical cancer

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--266.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/chemotherapy">

      <h2><a href="/topic/chemotherapy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Chemotherapy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--271.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/chris-pirschel">

      <h2><a href="/topic/chris-pirschel">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Chris Pirschel

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--76.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/clinical-practice">

      <h2><a href="/topic/clinical-practice">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Clinical Practice

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--281.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/combination-therapy">

      <h2><a href="/topic/combination-therapy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Combination therapy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--116.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/coordinated-care">

      <h2><a href="/topic/coordinated-care">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Coordinated Care

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--301.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/culturalethnic-issues">

      <h2><a href="/topic/culturalethnic-issues">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Cultural/ethnic issues

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--311.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/dawn-donovan-kinder">

      <h2><a href="/topic/dawn-donovan-kinder">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Dawn Donovan-Kinder

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--316.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/deborah-christensen">

      <h2><a href="/topic/deborah-christensen">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Deborah Christensen

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--341.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/elisa-becze">

      <h2><a href="/topic/elisa-becze">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Elisa Becze

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--346.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/end-life-eol">

      <h2><a href="/topic/end-life-eol">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            End of life (EOL)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--366.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/genetics-genomics">

      <h2><a href="/topic/genetics-genomics">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Genetics &amp; genomics

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--146.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/get-involved">

      <h2><a href="/topic/get-involved">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Get Involved

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--851.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/health-policy">

      <h2><a href="/topic/health-policy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Health Policy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--376.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/health-promotion">

      <h2><a href="/topic/health-promotion">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Health promotion

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--386.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/healthcare-safety-standards">

      <h2><a href="/topic/healthcare-safety-standards">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Healthcare safety standards

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--396.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/immunotherapy">

      <h2><a href="/topic/immunotherapy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Immunotherapy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--136.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/news">

      <h2><a href="/topic/news">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            In The News

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--421.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/kristine-lefebvre">

      <h2><a href="/topic/kristine-lefebvre">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Kristine LeFebvre

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--436.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/leukemia">

      <h2><a href="/topic/leukemia">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Leukemia

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--471.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/multiple-myeloma">

      <h2><a href="/topic/multiple-myeloma">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Multiple Myeloma

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--486.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/nurse-navigator">

      <h2><a href="/topic/nurse-navigator">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Nurse navigator

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--491.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/nurse-self-care">

      <h2><a href="/topic/nurse-self-care">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Nurse self-care

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--496.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/nurse-staffing">

      <h2><a href="/topic/nurse-staffing">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Nurse staffing

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--841.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/nursing-education">

      <h2><a href="/topic/nursing-education">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Nursing Education

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--501.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/nursing-evidence-based-practice">

      <h2><a href="/topic/nursing-evidence-based-practice">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Nursing evidence-based practice

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--506.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-clinical-trials">

      <h2><a href="/topic/oncology-clinical-trials">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology clinical trials

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--511.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-drug-research">

      <h2><a href="/topic/oncology-drug-research">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology drug research

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--521.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-health-literacy">

      <h2><a href="/topic/oncology-health-literacy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology health literacy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--526.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-nurse-influence">

      <h2><a href="/topic/oncology-nurse-influence">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology nurse influence

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--536.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-nurse-pride">

      <h2><a href="/topic/oncology-nurse-pride">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology nurse pride

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--531.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-nurse-patient-relationship">

      <h2><a href="/topic/oncology-nurse-patient-relationship">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology nurse-patient relationship

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--556.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-nursing-community">

      <h2><a href="/topic/oncology-nursing-community">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology nursing community

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--561.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oncology-nursing-roles">

      <h2><a href="/topic/oncology-nursing-roles">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oncology nursing roles

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--151.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-congress">

      <h2><a href="/topic/ons-congress">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS Congress

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--586.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-congress-0">

      <h2><a href="/topic/ons-congress-0">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS Congress

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--856.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-congress-2016">

      <h2><a href="/topic/ons-congress-2016">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS Congress 2016

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--86.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-leadership">

      <h2><a href="/topic/ons-leadership">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS Leadership

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--591.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-leadership-0">

      <h2><a href="/topic/ons-leadership-0">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS leadership

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--81.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-news">

      <h2><a href="/topic/ons-news">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS News

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--601.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/ons-president">

      <h2><a href="/topic/ons-president">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            ONS president

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--606.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/oral-adherence">

      <h2><a href="/topic/oral-adherence">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Oral adherence

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--621.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/palliative-care">

      <h2><a href="/topic/palliative-care">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Palliative care

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--631.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-advocacy">

      <h2><a href="/topic/patient-advocacy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient advocacy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--641.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-empowerment">

      <h2><a href="/topic/patient-empowerment">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient empowerment

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--646.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-financial-advocacy">

      <h2><a href="/topic/patient-financial-advocacy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient financial advocacy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--651.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-quality-life">

      <h2><a href="/topic/patient-quality-life">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient quality of life

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--656.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-reported-outcomes-pros">

      <h2><a href="/topic/patient-reported-outcomes-pros">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient reported outcomes (PROs)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--661.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-resources">

      <h2><a href="/topic/patient-resources">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient resources

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--666.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/patient-safety">

      <h2><a href="/topic/patient-safety">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Patient safety

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--831.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/pep">

      <h2><a href="/topic/pep">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            PEP

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--671.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/personal-protective-equipment-ppe">

      <h2><a href="/topic/personal-protective-equipment-ppe">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Personal protective equipment (PPE)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--676.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/policies-and-procedures">

      <h2><a href="/topic/policies-and-procedures">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Policies and procedures

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--131.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/press-releases">

      <h2><a href="/topic/press-releases">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Press Releases

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--91.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/quality-outcomes">

      <h2><a href="/topic/quality-outcomes">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Quality Outcomes

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--106.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/research">

      <h2><a href="/topic/research">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Research

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--716.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/safe-handling">

      <h2><a href="/topic/safe-handling">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Safe handling

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--101.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/safety">

      <h2><a href="/topic/safety">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Safety

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--726.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/shared-decision-making-sdm">

      <h2><a href="/topic/shared-decision-making-sdm">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Shared decision making (SDM)

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--111.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/standards">

      <h2><a href="/topic/standards">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Standards

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--836.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/stories">

      <h2><a href="/topic/stories">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Stories

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--736.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/susan-schneider">

      <h2><a href="/topic/susan-schneider">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Susan Schneider

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--751.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/symptom-management">

      <h2><a href="/topic/symptom-management">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Symptom management

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--756.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/targeted-therapy">

      <h2><a href="/topic/targeted-therapy">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Targeted therapy

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--761.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/tracy-wyant">

      <h2><a href="/topic/tracy-wyant">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Tracy Wyant

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--771.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/treatment-side-effects">

      <h2><a href="/topic/treatment-side-effects">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Treatment side effects

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                                  <li>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'taxonomy_term' -->
<!-- FILE NAME SUGGESTIONS:
   * taxonomy-term--96.html.twig
   * taxonomy-term--tags.html.twig
   x taxonomy-term.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->
<div about="/topic/treatments">

      <h2><a href="/topic/treatments">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--taxonomy-term--name--tags.html.twig
   * field--taxonomy-term--name.html.twig
   * field--taxonomy-term--tags.html.twig
   * field--name.html.twig
   * field--string.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

            Treatments

<!-- END OUTPUT from 'themes/custom/voice/templates/field/field.html.twig' -->

</a></h2>


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content/taxonomy-term.html.twig' -->

</li>
                            </ul>
        </div>
    </div>
</div>

										<div class="ad-iframe inbody-mobile">
											<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
										</div>

									</div>

							</div><!--general-body-content-->

						</main>
						<div id="right-column" class="">


							<div class="ad-iframe sticky">
								<iframe src="//giphy.com/embed/PquUa3OHtRCaQ" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
							</div>

						</div>
					</div>
				</div><!--article-body-->
			</div><!--row-->
		</div><!--contained-->
	</article>
</div><!--page-body-->
