pre{
  background: #fff;
  font-size: 14px;
  padding: 0 1em;
  border: 1px solid $guide-border;
}
pre[class*="language-"]{
  @include column(12);
  margin-bottom: $base-margin !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
code{
  background: transparent;
  padding: 1em 0;
}
//line numbers
pre code,
pre .line-number {

  display:block;
}
pre .line-number {
  float:left;
  margin:0 1em 0 -1.5em;
  padding: 1em 0;
  border-right:1px solid #999;
  text-align:right;
  background: $guide-gray;
  color: #999;
  font-size: 12px;
  line-height: 21px;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}
