//General Styles
//List for Loops

$colorList:
     (primary-orange, $primary-orange),
     (primary-blue-dark, $primary-blue-dark),
     (primary-blue, $primary-blue),
     (primary-blue-light, $primary-blue-light),
     (secondary-blue-light, $secondary-blue-light),
     (secondary-blue-dark, $secondary-blue-dark),
     (secondary-blue, $secondary-blue),
     (secondary-gray, $secondary-gray),
     (secondary-gray-dark, $secondary-gray-dark),
     (secondary-black, $secondary-black),
     (special-purple, $special-purple),
     (special-purple-dark, $special-purple-dark),
     (special-pink, $special-pink),
     (special-peach, $special-peach),
     (special-brown, $special-brown),
     (special-red, $special-red),
     (special-orange, $special-orange),
     (special-yellow, $special-yellow),
     (special-green-light, $special-green-light),
     (special-green, $special-green),
     (special-green-dark, $special-green-dark),
     (special-teal-dark, $special-teal-dark),
     (special-teal, $special-teal),
     (special-blue, $special-blue),
     (special-blue-dark, $special-blue-dark),
     (special-gray, $special-gray);


//How to use the loop in SASS:


// @each $loopColor, $name in $colorList {
//   &.#{$loopColor}{
//     background: $name;
//   }
// }


//Colors
ul.color-blocks{
 list-style: none;
 display: inline-block;
 padding-left: 0;
 @include row(12);
 margin-bottom: $base-margin;
 display: flex;
 flex-wrap: wrap;
}
.color-container{
   border:1px solid #ddd;
   border-radius: 3px;
   @include column(12);
   @media (min-width: $bp-small){
     @include column(6);
   }
   @media (min-width: $bp-medium){
     @include column(4);
   }
   @media (min-width: $bp-large){
     @include column(3);
   }

   margin-bottom: 0.5em !important;
   float: left;
   padding: 0.5em;
   &:last-child{
     margin-right: 0;
   }
   .color-style{
     height: 100px;
     border: 1px solid #ddd;
     margin-bottom: 0.5rem;
     //loop variables are in the config/colors.scss fil
     @each $loopColor, $name in $colorList {
       &.#{$loopColor}{
         background: $name;
       }
     }
   }
   .hex, .rgb, .sass{
     font-family: $guide-font;
     font-size: 14px;
     line-height: 1.25;
     text-align: center;
     margin-bottom: 0.25rem;
     display: block;
   }
   .rgb{
     font-size: 12px;
   }
  }
