.guide-button-area{
  list-style: none;
  margin: 0 0 $base-margin;

  li{
    margin-bottom: 1rem;
  }
  .guide-button-background-area{
    background: $guide-blue;
    display: inline-block;
    padding: 1rem;
  }
}
