//Grid Demo
.row{
 @include row(12);
 margin-bottom: 0.75em;
}

.grid{
 background: #ccc;
 text-align: center;
 padding: 1em 0;
}
.one{ @include column(1,12); }
.two{ @include column(2,12); }
.three{ @include column(3,12); }
.four{ @include column(4,12); }
.five{ @include column(5,12); }
.six{ @include column(6,12); }
.seven{ @include column(7,12); }
.eight{ @include column(8,12); }
.nine{ @include column(9,12); }
.ten{ @include column(10,12); }
.eleven{ @include column(11,12); }
.tweleve{ @include column(12,12); }
