//Icons
ul.icon-blocks{
  list-style: none;
  display: inline-block;
  padding-left: 0;
  @include row(12);
  margin-bottom: $base-margin;
  display: flex;
  flex-wrap: wrap;
}
.icon-container{
  border:1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 0.5em !important;
  float: left;
  padding: 0.5em;
  @include column(12,12);
  @media (min-width: 500px){
    @include column(3,12);
  }
  @media (min-width: 800px){
    @include column(2,12);
  }
  &:last-child{
    margin-right: 0;
  }
  .icon-example{
    height: 100px;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-name, .icon-class{
    font-family: $guide-font;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 0.25rem;
    display: block;
  }
  .icon-name{
    font-weight: normal;
  }
  .icon-class{
    font-size: 12px;
  }
}
