---
title: Colors
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#primary-palette">Primary Palette</a></li>
		<li><a href="#secondary-palette">Secondary Palette</a></li>
		<li><a href="#utility-palette">Resource Palette</a></li>
	</nav>
</div>
<section class="guide-section">
  <h3 id="primary-palette" class="guide-section-title">Primary Palette</h3>
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="color-blocks">
    <li class="color-container">
      <div class="color-style primary-orange"></div>
      <span class="sass">$primary-orange</span>
      <span class="rgb">rgb(255, 102, 0)</span>
      <span class="hex">#FF6600</span>
    </li>
    <li class="color-container">
      <div class="color-style primary-blue-dark"></div>
			<span class="sass">$primary-blue-dark</span>
      <span class="rgb">rgb(33, 92, 142)</span>
      <span class="hex">#215C8E</span>
    </li>
    <li class="color-container">
      <div class="color-style primary-blue"></div>
			<span class="sass">$primary-blue</span>
      <span class="rgb">rgb(0, 121, 194)</span>
      <span class="hex">#0079C2</span>
    </li>
    <li class="color-container">
      <div class="color-style primary-blue-light"></div>
			<span class="sass">$primary-blue-light</span>
      <span class="rgb">rgb(246, 249, 250)</span>
      <span class="hex">#F6F9FA</span>
    </li>
	</ul>
</section>
<section class="guide-section">
	<h3 id="secondary-palette" class="guide-section-title">Secondary Palette</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	  <ul class="color-blocks">
	    <li class="color-container">
	      <div class="color-style secondary-blue-light"></div>
				<span class="sass">$secondary-blue-light</span>
	      <span class="rgb">rgb(170, 210, 223)</span>
	      <span class="hex">#AAD2DF</span>
	    </li>
	    <li class="color-container">
	      <div class="color-style secondary-blue-dark"></div>
				<span class="sass">$secondary-blue-dark</span>
	      <span class="rgb">rgb(43, 85, 100)</span>
	      <span class="hex">#2B5564</span>
	    </li>
	    <li class="color-container">
	      <div class="color-style secondary-blue"></div>
				<span class="sass">$secondary-blue</span>
	      <span class="rgb">rgb(68, 117, 132)</span>
	      <span class="hex">#447584</span>
	    </li>
	    <li class="color-container">
	      <div class="color-style secondary-gray"></div>
				<span class="sass">$secondary-gray</span>
	      <span class="rgb">rgb(127, 127, 127)</span>
	      <span class="hex">#7F7F7F</span>
	    </li>
	    <li class="color-container">
	      <div class="color-style secondary-gray-dark"></div>
				<span class="sass">$secondary-gray-dark</span>
	      <span class="rgb">rgb(69, 69, 69)</span>
	      <span class="hex">#454545</span>
	    </li>
	    <li class="color-container">
	      <div class="color-style secondary-black"></div>
				<span class="sass">$secondary-black</span>
	      <span class="rgb">rgb(34, 34, 34)</span>
	      <span class="hex">#222222</span>
	    </li>
		</ul>
</section>

<section class="guide-section">
	<h3 id="utility-palette" class="guide-section-title">Resource Palette</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<ul class="color-blocks">
	  <li class="color-container">
	    <div class="color-style special-purple"></div>
			<span class="sass">$special-purple</span>
      <span class="rgb">rgb(158, 94, 169)</span>
      <span class="hex">#9E5EA9</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-purple-dark"></div>
			<span class="sass">$special-purple-dark</span>
      <span class="rgb">rgb(104, 52, 103)</span>
      <span class="hex">#683467</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-pink"></div>
			<span class="sass">$special-pink</span>
      <span class="rgb">rgb(173, 20, 87)</span>
      <span class="hex">#AD1457</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-peach"></div>
			<span class="sass">$special-peach</span>
      <span class="rgb">rgb(217, 100, 89)</span>
      <span class="hex">#D96459</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-brown"></div>
			<span class="sass">$special-brown</span>
      <span class="rgb">rgb(121, 85, 72)</span>
      <span class="hex">#795548</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-red"></div>
			<span class="sass">$special-red</span>
      <span class="rgb">rgb(211, 47, 47)</span>
      <span class="hex">#D32F2F</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-orange"></div>
			<span class="sass">$special-orange</span>
      <span class="rgb">rgb(230, 81, 0)</span>
      <span class="hex">#E65100</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-yellow"></div>
			<span class="sass">$special-yellow</span>
      <span class="rgb">rgb(255, 193, 7)</span>
      <span class="hex">#FFC107</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-green-light"></div>
			<span class="sass">$special-green-light</span>
      <span class="rgb">rgb(158, 157, 36)</span>
      <span class="hex">#9E9D24</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-green"></div>
			<span class="sass">$special-green</span>
      <span class="rgb">rgb(000,000,000)</span>
      <span class="hex">#FFFFFFF</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-green-dark"></div>
			<span class="sass">$special-green-dark</span>
      <span class="rgb">rgb(0, 105, 92)</span>
      <span class="hex">#00695C</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-teal-dark"></div>
			<span class="sass">$special-teal-dark</span>
      <span class="rgb">rgb(0, 112, 138)</span>
      <span class="hex">#00708A</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-teal"></div>
			<span class="sass">$special-teal</span>
      <span class="rgb">rgb(17, 177, 175)</span>
      <span class="hex">#11B1AF</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-blue"></div>
			<span class="sass">$special-blue</span>
      <span class="rgb">rgb(3, 169, 230)</span>
      <span class="hex">#03A9E6</span>
	  </li>
	  <li class="color-container">
	    <div class="color-style special-blue-dark"></div>
			<span class="sass">$special-blue-dark</span>
      <span class="rgb">rgb(63, 81, 181)</span>
      <span class="hex">#3F51B5</span>
	  </li>
		<li class="color-container">
	    <div class="color-style special-gray"></div>
			<span class="sass">$special-gray</span>
      <span class="rgb">rgb(96, 125, 139)</span>
      <span class="hex">#607D8B</span>
	  </li>
	<ul>
</section>
