---
title: Elements
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#accordion">Accordion</a></li>
		<li><a href="#addthis">Add This</a></li>
		<li><a href="#breadcumbs">Breadcrumbs</a></li>
    <li><a href="#logo-grid">Logo Grid</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#router-row">Router Row</a></li>
    <li><a href="#router-row-with-image">Router Row w/ Image</a></li>
    <li><a href="#tabs">Tabs</a></li>
	</nav>
</div>

<section class="guide-section">
	<h3 id="accordion" class="guide-section-title">Accordion</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/accordion" %>

	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<div class="accordion-closed-default">
	<div class="accordion-container">
		<section>
			<h4 id="accordion1" class="accordion" aria-controls="panel1" tabindex="0">Accordion Title 1</h4>
			<div id="panel1" class="panel accordion-content" aria-labeledby="accordion1">
				<div class="panel-inner">
					Accordion Text 1
				</div><!--panel-inner-->
			</div>
		</section>
		<section>
			<h4 id="accordion2" class="accordion" aria-controls="panel2" tabindex="-1">Accordion Title 2</h4>
			<div id="panel2" class="panel accordion-content" aria-labeledby="accordion2">
				<div class="panel-inner">
					Accordion Text 2
				</div><!--panel-inner-->
			</div>
		</section>
	</div><!--accordion-container-->
</div><!--accordion-closed-default-->') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="addthis" class="guide-section-title">Add This</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/add-this" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="{addThis URL here}" async="async"></script>

<div class="addthis_toolbox">
	<div class="share custom_images">
		<span class="label">Share this: </span>
		<ul>
			<li>
				<a href="#" class="addthis_button_facebook">
					<span class="hidden">Share on Facebook</span>
					<span class="share-facebook share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_twitter">
					<span class="hidden">Share on Twitter</span>
					<span class="share-twitter share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_pinterest_share">
					<span class="hidden">Share on Pinterest</span>
					<span class="share-pinterest share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="/" class="addthis_button_linkedin">
					<span class="hidden">Share on LinkedIn</span>
					<span class="share-linkedin share-sprite"></span>
				</a>
			</li>
		</ul>
	</div>
</div>') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="breadcumbs" class="guide-section-title">Breadcrumbs</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/breadcrumbs" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<ul class="breadcrumbs">
	<li class="home-crumb"><a href="/" alt="/" title="/"><span class="zmdi zmdi-home"></span><span class="screen-reader-text">Home</span></a></li>
	<div class="expanding-crumbs">
		<li><a href="/" alt="/" title="/">Router</a></li>
		<li><a href="/" alt="/" title="/">Degree</a></li>
		<li><a href="/" alt="/" title="/">Great Grandparent</a></li>
	</div>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Grandparent with Long Title</a></li>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Parent with Long Title</a></li>
</ul>') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="logo-grid" class="guide-section-title">Logo Grid</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/logo-grid" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<ul class="logo-grid">
	  <li>
	    <a href="{url}" alt="..." title="...">
	      <img src="{image url}" alt="..." title="...">
	    </a>
	  </li>
		...
	</ul>') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="profile" class="guide-section-title">Profile</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/profile" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<div class="profile">
	<div class="profile-image">
		<img src="{image url}">
	</div>
	<div class="profile-text">
		<span class="name">Jane Doe</span>
		<span class="title">Very Important Person (VIP)</span>
		<p class="bio">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.</p>
	</div>
</div>') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="router-row" class="guide-section-title">Router Row</h3>
		<p class="guide-example-code"><em>Example:</em></p>
	  <%= partial "/custom/router-row" %>
		<p class="guide-example-code"><em>Code:</em></p>
		<pre class="language-markup"><code><%= escape_html('<div class="router-row">
	<div class="text-container full-width">
		<h3>Title Goes Here</h3>
		<p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
		<a class="more-link" href="/" alt="/" title="/">Learn More</a>
	</div><!--text-container-->
</div><!--router-row-->') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="router-row-with-image" class="guide-section-title">Router Row with Image</h3>
		<p class="guide-example-code"><em>Example:</em></p>
	  <%= partial "/custom/router-row-with-image" %>
		<p class="guide-example-code"><em>Code:</em></p>
		<pre class="language-markup"><code><%= escape_html('<div class="router-row">
	<div class="image-container">
		<img src="{image url}" alt="..." title="...">
	</div><!--image-container-->
	<div class="text-container">
		<h4>Title Goes Here with Image</h4>
		<p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
		<a class="more-link" href="/" alt="/" title="/">Learn More</a>
	</div><!--text-container-->
</div><!--router-row-->') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="tabs" class="guide-section-title">Tabs</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= partial "/custom/tabs" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<div class="tabbed-container full-body-tab">
	<ul class="tabs">
		<li class="tab-trigger active" rel="tab1">Tab 1</li>
		<li class="tab-trigger" rel="tab2">Tab 2</li>
	</ul>
	<div class="tab-container">
		<div id="tab1" class="tab-content">
			<div class="accordion-open-default">
				<div class="accordion-container">
					Tab Number 1
				</div><!--accordion-container-->
			</div><!--accordion-open-default-->
		</div><!--tab-content #tab1 -->
		<div id="tab2" class="tab-content">
			<div class="accordion-open-default">
				<div class="accordion-container">
					Tab Number 2
				</div><!--accordion-container-->
			</div><!--accordion-open-default-->
		</div><!-- tab-content #tab2 -->
	</div><!-- .tab-container -->
</div>') %></code></pre>
</section>
