---
title: Grid
layout: guide
---


<p class="guide-example-code"><em>Example:</em></p>
<div class="row">
<div class="grid one">1</div>
<div class="grid eleven">11</div>
</div>
<div class="row">
<div class="grid two">2</div>
<div class="grid ten">10</div>
</div>
<div class="row">
<div class="grid three">3</div>
<div class="grid nine">9</div>
</div>
<div class="row">
<div class="grid four">4</div>
<div class="grid eight">8</div>
</div>
<div class="row">
<div class="grid five">5</div>
<div class="grid seven">7</div>
</div>

<div class="row">
<div class="grid six">6</div>
<div class="grid six">6</div>
</div>

<p class="guide-example-code"><em>Code:</em></p>
<pre class="language-markup"><code><%= escape_html('<div class="example-row">
  <div class="example-column-small">2</div>
  <div class="example-column-large">10</div>
</div>') %></code></pre>
<pre class="language-css"><code>.example-row{
  @include row(12);
}
.example-column-small{
  @include column(2);
}
.example-column-large{
  @include column(10);
}</code></pre>
