---
title: Icons
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#wayfinding">Wayfinding</a></li>
		<li><a href="#social">Social</a></li>
	</nav>
</div>
<h3 id="" class="guide-section-title">Icon Fonts</h3>
<p class="guide-font">For basic icons we are using Material Design Iconic Fonts. Further documentation and instructions can be found <a href="http://zavoloklom.github.io/material-design-iconic-font/icons.html">here</a>.</p>
<section class="guide-section">
  <h3 id="wayfinding" class="guide-section-title">Wayfinding</h3>
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="icon-blocks">
		<li class="icon-container">
      <div class="icon-example">
				<span class="zmdi zmdi-long-arrow-left"></span>
			</div>
      <span class="icon-name">Arrow Left</span>
      <span class="icon-class">.zmdi-long-arrow-left</span>
    </li>
    <li class="icon-container">
      <div class="icon-example">
				<span class="zmdi zmdi-long-arrow-right"></span>
			</div>
      <span class="icon-name">Arrow Right</span>
      <span class="icon-class">.zmdi-long-arrow-right</span>
    </li>
    <li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-menu"></i>
			</div>
			<span class="icon-name">Menu</span>
      <span class="icon-class">.zmdi-menu</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-close"></i>
			</div>
			<span class="icon-name">Close</span>
      <span class="icon-class">.zmdi-close</span>
    </li>
	</ul>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<span class="zmdi zmdi-xxxxx">
	<span class="screen-reader-text">Hidden Icon Title</span>
</span>') %></code></pre>
</section>


<section class="guide-section">
  <h3 id="social" class="guide-section-title">Social</h3>
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="icon-blocks">
    <li class="icon-container">
      <div class="icon-example">
				<span class="zmdi zmdi-facebook"></span>
			</div>
      <span class="icon-name">Facebook</span>
      <span class="icon-class">.zmdi-facebook</span>
    </li>
    <li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-twitter"></i>
			</div>
			<span class="icon-name">Twitter</span>
      <span class="icon-class">.zmdi-twitter</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-google-plus"></i>
			</div>
			<span class="icon-name">Google Plus</span>
      <span class="icon-class">.zmdi-google-plus</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-linkedin"></i>
			</div>
			<span class="icon-name">Linkedin</span>
      <span class="icon-class">.zmdi-linkedin</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-youtube-play"></i>
			</div>
			<span class="icon-name">YouTube</span>
      <span class="icon-class">.zmdi-youtube-play</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-tumblr"></i>
			</div>
			<span class="icon-name">Tumblr</span>
      <span class="icon-class">.zmdi-tumblr</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-pinterest"></i>
			</div>
			<span class="icon-name">Pinterest</span>
      <span class="icon-class">.zmdi-pinterest</span>
    </li>
		<li class="icon-container">
      <div class="icon-example">
				<i class="zmdi zmdi-rss"></i>
			</div>
			<span class="icon-name">RSS</span>
      <span class="icon-class">.zmdi-rss</span>
    </li>
	</ul>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<span class="zmdi zmdi-xxxxx">
	<span class="screen-reader-text">Hidden Icon Title</span>
</span>') %></code></pre>
</section>
