---
title: Media
layout: guide
---

<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#floats">Floats</a></li>
		<li><a href="#full">Full Width</a></li>
    <li><a href="#responsivevideo">Responsive Video</a></li>
	</nav>
</div>


<section class="guide-section">
  <h3 id="floats" class="guide-section-title">Floats</h3>
	<p class="guide-example-code"><em>Example:</em></p>
  <div class="article-content">
    <figure class="left-offset">
      <img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/600x525" title="A title element for this placeholder image.">
      <figcaption>This is a "left-offest"</figcaption>
    </figure>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="/">Maecenas faucibus mollis interdum</a>. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <figure class="right-offset">
      <img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/600x525" title="A title element for this placeholder image.">
      <figcaption>This is a "right-offest"</figcaption>
    </figure>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

  </div>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<!--Options: right-offset, left-offset-->
	<figure class="right-offset">
		<img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/600x525" title="A title element for this placeholder image.">
		<!--Optional Caption-->
		<figcaption>This is a "right-offest"</figcaption>
	</figure>
	<!--<figure> and <figcaption> can be replaced with <div>-->') %></code></pre>
</section>



<section class="guide-section">
	<h3 id="full" class="guide-section-title">Full Width</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	  <figure class="full-media">
	    <img src="https://unsplash.it/1000/647?image=469">
	    <figcaption class="caption">
	      Sed posuere consectetur est at lobortis.
	      <span class="photography-credit">
	        PHOTO By <span>First Last</span>
	      </span>
	    </figcaption>
	  </figure>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup">
	<code><%= escape_html('<figure class="full-media">
		<img src="https://unsplash.it/1000/647?image=469">
		<!--Optional Caption-->
		<figcaption class="caption">
			Sed posuere consectetur est at lobortis.
			<span class="photography-credit">
				PHOTO By <span>First Last</span>
			</span>
		</figcaption>
	</figure>
	<!--<figure> and <figcaption> can be replaced with <div>-->') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="responsivevideo" class="guide-section-title">Responsive Videos</h3>

	<p class="guide-example-code"><em>Example:</em></p>
	<div class="full-media">
	  <div class="videoWrapper">
	      <!-- Copy & Pasted from YouTube -->
	    <iframe width="1280" height="720" src="https://www.youtube.com/embed/Es44QTJmuZ0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="caption">
	    Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor.
	  </div>
	</div>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup">
	<code><%= escape_html('<figure class="full-media">
		<div class="videoWrapper">
			<!-- Copy & Pasted from YouTube -->
			<iframe width="1280" height="720" src="https://www.youtube.com/embed/Es44QTJmuZ0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<!--Optional Caption-->
		<figcaption class="caption">
			Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor.
		</figcaption>
	</figure>
	<!--<figure> and <figcaption> can be replaced with <div>-->') %></code></pre>
</section>
