---
title: Tabels
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#fluid-table">Fluid Table</a></li>
		<li><a href="#responsive-table">Responsive Table</a></li>
		<li><a href="#overflow-scroll">Overflow Scroll</a></li>
	</nav>
</div>

<section class="guide-section">
	<h3 id="fluid-table" class="guide-section-title">Fluid Table</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	 <table>
		<tr>
		  <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
		</tr>
		<tr>
		  <td>Division 1</td><td>Division 2</td><td>Division 3</td>
		</tr>
		<tr class="even">
		  <td>Division 1</td><td>Division 2</td><td>Division 3</td>
		</tr>
		<tr>
		  <td>Division 1</td><td>Division 2</td><td>Division 3</td>
		</tr>
	 </table>
	 <p class="guide-example-code"><em>Code:</em></p>
	 <pre class="language-markup"><code><%= escape_html('<table>
	  <tr>
	    <th>Column Title</th>
	    ...
	  </tr>
	  <tr>
	    <td>Cell Data</td>
	    ...
	  </tr>
	  ...
	</table>'); %></code></pre>
</section>
<section class="guide-section">
	<h3 id="responsive-table" class="guide-section-title">Responsive Table</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	 <div class="table-responsive">
		<table>
		  <thead>
			 <tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Hero Title</th>
			 </tr>
		  </thead>
		  <tbody>
			 <tr>
				<td data-label="First Name">Bruce</td>
				<td data-label="Last Name">Wayne</td>
				<td data-label="Hero Title">Batman</td>
			 </tr>
			 <tr>
				<td data-label="First Name">Peter</td>
				<td data-label="Last Name">Parker</td>
				<td data-label="Hero Title">Spiderman</td>
			 </tr>
			 <tr>
				<td data-label="First Name">Bruce</td>
				<td data-label="Last Name">Banner</td>
				<td data-label="Hero Title">The Hulk</td>
			 </tr>
			 <tr>
				<td data-label="First Name">Clark</td>
				<td data-label="Last Name">Kent</td>
				<td data-label="Hero Title">Superman</td>
			 </tr>
		  </tbody>
	 </table>
	</div>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<div class="table-responsive">
	 <table>
		<tr>
		  <th>Column Title</th>
		  ...
		</tr>
		<tr>
		  <td>Cell Data</td>
		  ...
		</tr>
		...
	 </table>
	</div>'); %></code></pre>
</section>
<section class="guide-section">

	<h3 id="overflow-scroll" class="guide-section-title">Overflow Scroll</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<div class="table-scroll">
	 <table style="width: 1290px;">
		<tr>
		  <th>Table Header 1</th>
		  <th>Table Header 2</th>
		  <th>Table Header 3</th>
		  <th>Table Header 4</th>
		  <th>Table Header 5</th>
		  <th>Table Header 6</th>
		  <th>Table Header 7</th>
		  <th>Table Header 8</th>
		  <th>Table Header 9</th>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
		<tr>
		  <td>Division 1</td>
		  <td>Division 2</td>
		  <td>Division 3</td>
		  <td>Division 4</td>
		  <td>Division 5</td>
		  <td>Division 6</td>
		  <td>Division 7</td>
		  <td>Division 8</td>
		  <td>Division 9</td>
		</tr>
	 </table>
	</div>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<div class="table-scroll">
		 <table style="width: 1290px;">
			<tr>
			  <th>Column Title</th>
			  ...
			</tr>
			<tr>
			  <td>Cell Data</td>
			  ...
			</tr>
			...
		 </table>
		</div>'); %></code></pre>
	</section>
