/* ================================
   Reuseable Classes
   ================================ */
.row{
  @include row(12);
}
span.hidden, .screen-reader-text, .meta-nav{
  position: absolute;
  left: -99999em;
}

.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}

ul.clean,
ol.clean{
  list-style: none;
  margin-left: 0;
  li{
    padding-left: 0;
  }
}

.float-left{
	float: left !important;
}
.float-right{
	float: right !important;
}
.clear-both{
	clear: both;
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
 // start commented backslash hack \
html .clearfix { height: 1%; }
.clearfix { display: block; }
// close commented backslash hack
