// Form Config -----------------------------

// Font
$fh-font-family: sans-serif !default;
$fh-font-size: $base-font-size !default;
$fh-font-color: $primary-text-color !default;

// Borders
$fh-border-radius: 5px !default;
$fh-border-width: 1px !default;
$fh-border-style: solid !default;
$fh-border-color: rgb(200, 200, 200) !default;

// Inputs, Textareas, Select, Option
$fh-input-padding: 8px;
$fh-input-height: $base-line-height + ($fh-input-padding * 2) !default;
$fh-input-width: 100% !default;
$fh-input-max-width: 600px !default;
$fh-input-bg-color: #fff !default;
$fh-focus-bg-color: #fff;
$fh-focus-border-color: #c8c8c8;
$fh-focus-font-color: $fh-input-bg-color;

// Select Vendor Styling
$fh-allow-select-vendor-styling: true !default;

// Fieldset & Legend Styling
$fh-fieldset-bare: false !default;


// Layout
$fh-centered: false !default;
$fh-display: block !default;
