//Semantic Flexbox Setup
//Flex grid compitble with IE 10+
$enable-flex: true;
//selecting false will change basic grid elements to percentages. It is a good start if you need you need a quick IE9 stylesheet

/*** Columns ***/
$grid-columns: 12;

/*** Gutters ***/
//Responsive Gutters:
//Pick small width gutters
$gutter-small: 12px;
//Choose when to change gutter width
$gutter-breakpoint: 1200px;
//Define Large width gutters
$gutter-large: 45px;
