 // Grid Configuration

//Grid Setup////////////////////////
$columns: 12;
$column-width: 90; // at 1411px wide
$gutter-width: 30; // at 1411px wide
//Total width in pixels is (Column Width * 12) + (Gutter Width * 11)
$total-width: 100%; // Switch from pixels to percentages
