// Typograph
$base-font-size: 19px;
$base-line-height: 30px;
$base-margin: $base-line-height;
$golden: 1.61803398875; //Golden Ratio


//Font families
$font-stack-sans: 'Roboto', Arial, Helvetica, san-serif;
$font-stack-special: 'Roboto Slab', 'Roboto', Arial, Helvetica, san-serif;
$font-stack-condensed: 'Roboto Condensed', Arial, Helvetica, san-serif;
$font-stack-serif: 'Crimson Text', Georgia, Times, "Times New Roman", serif;
$font-stack-mono: 'Courier New', Courier, monospace;
