// Variables


// Breakpoints
$bp-xsmall: 400px;
$bp-small: 480px;
$bp-sm-medium: 640px;
$bp-medium: 760px;
$bp-large: 920px;
$bp-xlarge: 1200px;
$bp-huge: 1400px;
$bp-xhuge: 1500px;
$bp-super: 1700px;
$bp-xsuper: 1900px;

//One awesome breakpoint for when the menu goes from mobile to desktop
$bp-menu-shift: 1015px;
$bp-social-shift: 675px;

//Sizes
$header-height: 85px;
$header-height-mobile: 70px;
$nav-height: 66px;

//Wireframe colors
$gray-dark: #48545e;
$gray-medium: #b2b7bb;
$gray: $gray-medium;
$gray-light: #f3f3f5;


$white: #FFFFFF;
$black: #000000;


$red: #F44336;
$orange: #FF9800;
$yellow: #FFEB3B;
$green: #4CAF50;
$blue: #2196F3;
$purple: #9C27B0;


//ONS Voice
$voice-orange: #FF6B4E;
$voice-blue-sky: #95DBFF;
$voice-blue-light: #1F8198;
$voice-blue-dark: #1A4257;
$voice-white: #F6F6F6;

//ONS Colors

//--Primary
$primary-orange: #FF6600;
$primary-blue-dark: #215C8E;
$primary-blue: #0079C2;
$primary-blue-light: #F6F9FA;

//--Secondary
$secondary-blue-light: #AAD2DF;
$secondary-blue-dark: #2B5564;
$secondary-blue: #447584;
$secondary-gray: #7F7F7F;
$secondary-gray-dark: #454545;
$secondary-black: #222222;

//--Resources Colors
$special-purple: #9E5EA9;
$special-purple-dark: #683467;
$special-pink: #AD1457;
$special-peach: #D96459;
$special-brown: #795548;
$special-red: #D32F2F;
$special-orange: #E65100;
$special-yellow: #FFC107;
$special-green-light: #9E9D24;
$special-green: #388E3C;
$special-green-dark: #00695C;
$special-teal-dark: #00708A;
$special-teal: #11B1AF;
$special-blue: #03A9E6;
$special-blue-dark: #3F51B5;
$special-gray: #607D8B;




// Main Colors
$background-color: #FFFFFF;

//Text Color
$primary-text-color: $black;
$light-text-color: $white;
$link-text-color: $primary-text-color;
$link-hover-color: #0088cc;
$link-underline-color: $link-hover-color;
$visited-text-color: $primary-text-color;

//Button Colors
//Default
$btn-background-color: rgba(255,255,255,0.1);
$btn-text-color: $light-text-color;
$btn-hover-color: rgba(255,255,255,0.3);
$btn-active-color: $btn-hover-color;

//Secondary
$btn-secondary-background-color: $voice-orange;
$btn-secondary-text-color: $light-text-color;
$btn-secondary-hover-color: darken($btn-secondary-background-color, 5%);
$btn-secondary-active-color: $btn-secondary-hover-color;

//Alternative
$btn-alternative-background-color: $gray-dark;
$btn-alternative-text-color: $light-text-color;
$btn-alternative-hover-color: darken($btn-alternative-background-color, 15%);
$btn-alternative-active-color: $btn-alternative-hover-color;

//Transparent
$btn-transparent-background-color: rgba(0,0,0,0.25);
$btn-transparent-text-color: $light-text-color;
$btn-transparent-hover-color: rgba(0,0,0,0.5);
$btn-transparent-active-color: $btn-transparent-hover-color;

//Select Custom
$select-custom-background: $gray;
$select-custom-text: $light-text-color;

// Shadows, Borders, & Others
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
$inset-shadow: inset 0 2px 100px rgba(0, 0, 0, 0.16);
$box-box-shadow: 0 0 1px rgba(0,0,0,0.15);
