/* ==========================================================================
   Main JavaScript File
   ========================================================================== */

// Drupal doesn't like registering $ as jQuery, so forcing it here.
$ = jQuery;

<%= partial "scripts/fastClick" %>
<%= partial "scripts/waypoints" %>
<%= partial "scripts/nav-offcanvas" %>
<%= partial "scripts/grid-cascade" %>
<%= partial "scripts/tabs" %>
<%= partial "scripts/accordion" %>
<%= partial "scripts/slick" %>
<%= partial "scripts/scroll-to-top" %>
<%= partial "scripts/sticky-kit" %>
<%= partial "scripts/object-fit-polyfill" %>
<%= partial "scripts/ad-bottom" %>

// If the window width is less than the size that will show the right column, move
// the ad into the body of the page.
if ($(window).width() < 1200) {
	$ad = $('#ONSvoiceROS-300').clone();
	$ad.removeClass('sticky');
	$placeafter = $($('.article-body-content').children('div:not([class*=inbody-img]),p')[4]);
	$placeafter.after($ad);
}